Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Include uploadContext in Feldspar app logs for consistent context
  core/assets/js/feldspar_app.js
Due: none

Refactor Feldspar controller logging and validation
  core/systems/feldspar/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add WaitGroup to ensure donations complete before exit
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
  core/assets/js/wait_group.js
  core/assets/js/wait_group.test.js
Due: none

Add logging when exit event is sent to server
  core/assets/js/feldspar_app.js
Due: none

Fix double spacing issue in tabbed navigation
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/pixel/components/navigation.ex
  core/frameworks/pixel/components/tabbed.ex
  core/systems/content/html.ex
  core/systems/graphite/leaderboard_settings_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix Trix editor disconnect when modal appears
  core/systems/content/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore root Dockerfile for release workflow
  Dockerfile
Due: none

Add conditional top margin to profile view
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/profile_tab.ex
  core/systems/account/profile_view.ex
  core/systems/account/profile_view_builder.ex
  core/test/systems/account/profile_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 21
  CHANGELOG.md
Due: none

Ignore own forks in Renovate config
  renovate.json
Due: none

Remove obsolete fly-deploy-test.yml workflow
  .github/workflows/fly-deploy-test.yml
Due: none

Fix E2E workflow to use correct env var name
  .github/workflows/e2e.yml
Due: none

Fix E2E workflow to use correct env var name (#1423)
  .github/workflows/e2e.yml
Due: none

Fix E2E workflow env vars and add SERVICE_LOGIN_KEY
  .github/workflows/e2e-dev.yml
  .github/workflows/e2e.yml
  core/scripts/fly-costs.sh
Due: none

Fix E2E workflow env vars and add SERVICE_LOGIN_KEY (#1424)
  .github/workflows/e2e-dev.yml
  .github/workflows/e2e.yml
  core/scripts/fly-costs.sh
Due: none

Ignore certifi in Renovate
  renovate.json
Due: none

Add manual trigger to E2E dev workflow
  .github/workflows/e2e-dev.yml
Due: none

Add debug logging to E2E donate test
  core/test/e2e/donate.spec.ts
Due: none

Fix E2E tests: enable Git LFS in checkout
  .github/workflows/e2e.yml
  core/test/e2e/donate.spec.ts
Due: none

Update E2E dev fallback assignment path
  .github/workflows/e2e-dev.yml
Due: none

Fix E2E dev assignment path to use manually created assignment
  .github/workflows/e2e-dev.yml
Due: none

Remove assignment_path from E2E workflow
  .github/workflows/e2e-dev.yml
  .github/workflows/e2e.yml
Due: none

Add many_files test zip for E2E donate tests
  .gitattributes
  core/test/e2e/donate.spec.ts
  core/test/e2e/testfiles/many_files_1000.zip
Due: none

Increase E2E completion timeout and add debug logging
  core/test/e2e/donate.spec.ts
Due: none

Fix E2E donate test completion detection
  core/test/e2e/donate.spec.ts
Due: none

Handle database errors gracefully in task completion
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_single_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Revert "Handle database errors gracefully in task completion"
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_single_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add idle_interval to detect stale DB connections after app wake
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: cleanup config and docker-compose
  .gitignore
  core/config/dev.exs
  docker-compose.yml
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: add payment provider structure
  .gitignore
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/frameworks/payment/error.ex
  core/frameworks/payment/provider.ex
  core/frameworks/payment/provider/local.ex
  core/frameworks/payment/provider/opp.ex
  core/frameworks/payment/provider/opp/http.ex
  core/frameworks/payment/provider/opp/webhook.ex
  core/lib/core_web/endpoint.ex
  core/systems/payment/_plug.ex
  core/systems/payment/_routes.ex
  core/systems/payment/controller.ex
  core/systems/routes.ex
  core/test/frameworks/payment/opp_webhook_test.exs
  core/test/frameworks/payment/provider_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/frameworks/payment/provider/local.ex
  core/systems/payment/controller.ex
  core/test/frameworks/payment/opp_webhook_test.exs
  core/test/frameworks/payment/provider_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: configuration / credo issues
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/frameworks/payment/provider/opp/webhook.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: move framework to system
  core/config/config.exs
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/payment/_routes.ex
  core/systems/payment/controller.ex
  core/systems/payment/error.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/provider/opp/http.ex
  core/systems/payment/provider/opp/webhook.ex
  core/systems/payment/webhook.ex
  core/test/support/payment_case.ex
  core/test/systems/payment/opp_webhook_test.exs
  core/test/systems/payment/provider_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add code review standards documentation
  core/REVIEW.md
Due: none

Enable code-review plugin
  .claude/settings.json
Due: none

Add code review standards documentation (#1439)
  .claude/settings.json
  core/REVIEW.md
Due: none

fix: add currency support and cleanup
  core/config/test.exs
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/provider/opp/http.ex
  core/systems/payment/transaction.ex
  core/systems/payment/webhook.ex
  core/test/systems/payment/provider_test.exs
  core/test/systems/payment/transaction_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: credo issues
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer
