Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Add seed_test_user release command for Playwright tests
  core/lib/core/release.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/lib/core/release.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add data-testid to work list items for e2e testing
  core/systems/workflow/html.ex
  core/test/e2e/playwright.config.ts
  core/test/e2e/test_donate.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add configurable ACL for Feldspar S3 uploads
  core/config/runtime.fly.exs
  core/systems/feldspar/s3.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove ACL code - not needed with virtual-hosted URLs
  core/config/runtime.fly.exs
  core/systems/feldspar/s3.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add wakeup endpoint for Fly Postgres auto-suspend
  core/lib/core_web/controllers/wakeup_controller.ex
  core/lib/core_web/router.ex
  core/test/e2e/global-setup.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add VERSION build arg to fly.test.toml
  core/fly.test.toml
Due: none

Add e2e tests, load tests, and Fly.io deployment infrastructure
  .github/workflows/e2e-dev.yml
  .github/workflows/e2e.yml
  README.md
  core/CLAUDE.md
  core/config/runtime.fly.exs
  core/fly.staging.toml
  core/systems/account/_routes.ex
  core/systems/account/service_login_controller.ex
  core/systems/feldspar/data_donation_controller.ex
  core/test/e2e/.gitignore
  core/test/e2e/package.json
  core/test/e2e/playwright.config.ts
  core/test/e2e/test_donate.spec.ts
  core/test/e2e/testfiles/tiktok_19MB.zip
  core/test/e2e/testfiles/youtube_111MB.zip
  core/test/load/.gitignore
  core/test/load/README.md
  core/test/load/donate.yml
  core/test/load/package-lock.json
  core/test/load/package.json
  core/test/load/run-and-verify.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add staging wake/suspend scripts for cost-effective e2e testing
  core/fly.staging.toml
  core/test/e2e/package.json
  core/test/e2e/staging-suspend.sh
  core/test/e2e/staging-wake.sh
Due: none

Restore root Dockerfile for release workflow
  Dockerfile
Due: none

Add PLATFORM=aws to release workflow
  .github/workflows/release.yml
Due: none

Fix race condition in affiliate user creation
  core/systems/affiliate/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add affiliate load tests and reorganize test scripts
  core/test/load/affiliate-functions.js
  core/test/load/affiliate-race.yml
  core/test/load/affiliate-session.yml
  core/test/load/affiliate.yml
  core/test/scripts/run-load-and-verify.sh
  core/test/scripts/staging-suspend.sh
  core/test/scripts/staging-wake.sh
  core/test/scripts/verify-donations.sh
Due: none

Fix race condition in crew member and role assignment creation
  core/systems/assignment/_public.ex
  core/systems/crew/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add race condition test script and quick load test for affiliate endpoint
  core/test/load/affiliate-quick.yml
  core/test/scripts/test-race-condition.sh
Due: none

Add security to service login API endpoint
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/account/service_login_controller.ex
  core/test/load/README.md
  core/test/load/donate.yml
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix service login crash when password is invalid
  core/config/dev.exs
  core/systems/account/service_login_controller.ex
  core/test/systems/account/service_login_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add JSON error responses and improve load test logging
  core/config/config.exs
  core/lib/core_web/controllers/error_json.ex
  core/test/load/donate.yml
  core/test/load/functions.js
  core/test/load/run-and-verify.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Increase HTTP body limit and improve load test scripts
  core/lib/core_web/endpoint.ex
  core/test/load/package.json
  core/test/scripts/run-load-and-verify.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Increase HTTP body limit from 200MB to 210MB for data donations
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 20.3
  CHANGELOG.md
Due: none

Add learnings for SSH escaping and dev environment
  CLAUDE.md
Due: none

Auto-confirm affiliate users and add E2E/load test infrastructure
  core/.infisical.json
  core/assets/js/feldspar_app.js
  core/config/config.exs
  core/config/test.exs
  core/priv/repo/migrations/20260224142308_confirm_existing_affiliate_users.exs
  core/systems/affiliate/_public.ex
  core/systems/feldspar/_routes.ex
  core/systems/feldspar/controller.ex
  core/systems/feldspar/data_donation_controller.ex
  core/systems/project/node_page_grid_view.ex
  core/test/e2e/.infisical.json
  core/test/e2e/README.md
  core/test/e2e/donate.spec.ts
  core/test/e2e/global-setup.ts
  core/test/e2e/panl_onboarding.spec.ts
  core/test/e2e/panl_study_advert.spec.ts
  core/test/e2e/playwright.config.ts
  core/test/e2e/test-results/.last-run.json
  core/test/load/.infisical.json
  core/test/load/README.md
  core/test/load/affiliate-quick.yml
  core/test/load/affiliate-race.yml
  core/test/load/affiliate-session.yml
  core/test/load/affiliate.yml
  core/test/load/donate.yml
  core/test/systems/feldspar/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add missing translations for sign up screen terms and privacy
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

Improve E2E testing infrastructure and add testing guidelines
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/vitest.config.js
  core/mix.exs
  core/systems/account/onboarding_page.ex
  core/test/e2e/CLAUDE.md
  core/test/e2e/donate.spec.ts
  core/test/e2e/lib/feldspar.ts
  core/test/e2e/lib/index.ts
  core/test/e2e/lib/liveview.ts
  core/test/e2e/monitor-log.spec.ts
  core/test/e2e/panl_onboarding.spec.ts
  core/test/e2e/playwright.config.ts
  core/test/e2e/test-results/.last-run.json
  core/test/features/CLAUDE.md
  core/test/features/feldspar_monitor_test.exs
  core/test/systems/feldspar/mock_monitor_app/index.html
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add data-testid to activate-account step and improve E2E test wait
  core/systems/account/onboarding_page.ex
  core/test/e2e/panl_onboarding.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix E2E donate test and add localhost fixture setup
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/lib/core_web/router.ex
  core/priv/repo/seeds.exs
  core/test/e2e/donate.spec.ts
  core/test/e2e/global-setup.ts
  core/test/e2e/monitor-log.spec.ts
  core/test/e2e/panl_study_advert.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Rename monitor:log to CommandSystemLog for consistency
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
Due: none

Add staging option to Fly deploy workflow
  .github/workflows/fly-deploy-test.yml
  .github/workflows/fly-deploy.yml
Due: none

Add PROD_ENV support to Fly.io runtime config
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Change Eyra to Next in terms/privacy agreement text
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

Fix E2E controller to use HTTPoison instead of Req
  core/frameworks/e2e/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Show profile menu for unconfirmed internal users
  core/systems/account/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Guard panl features with feature flag and fix admin activate
  core/systems/account/signup_page.ex
  core/systems/admin/account_view.ex
  core/systems/home/page_builder.ex
  core/systems/pool/account_post_action_handler.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Replace prod_env with e2e feature flag for E2E test endpoints
  core/bundles/next/config/config.exs
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/config/test.exs
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/test/e2e/global-setup.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Route Feldspar client debug logs to INFO for production visibility
  core/systems/feldspar/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add E2E test for Feldspar log endpoint and improve PaNL test skipping
  core/test/e2e/CLAUDE.md
  core/test/e2e/feldspar_log.spec.ts
  core/test/e2e/panl_onboarding.spec.ts
  core/test/e2e/panl_study_advert.spec.ts
Due: none

Fix feldspar_log E2E test to scope selectors to participant tab panel
  core/test/e2e/feldspar_log.spec.ts
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
