Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

[Assignment] implement questionnaire template #804
  .vscode/settings.json
  core/frameworks/utililty/list.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/assignment/_assembly.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/systems/assignment/template_data_donation.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/assignment/workflow_item_specials.ex
  core/systems/project/_assembly.ex
  core/systems/project/item_templates.ex
  core/test/systems/advert/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update README.md
  README.md
Due: none

deploy: 9e5b53e906558415807a41815d2758cc0c4e0aa5
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/.build
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
  core/dist/search_items-B988314E.js
  core/dist/search_items-FBB9CF8F.js
  core/readme.html
  core/search.html
Due: none

deploy: ad69ec6a0f55c8c44f255df191d7a46818fdb847
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/.build
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
  core/dist/search_items-B988314E.js
  core/dist/search_items-DEBEFFCF.js
  core/readme.html
  core/search.html
Due: none

Initial archimate commit
  core/architecture/README.md
  core/architecture/core.archimate
Due: none

Updated Archimate model with System & Behaviour concepts
  core/architecture/core.archimate
Due: none

Added OPP client
  .vscode/settings.json
  core/.vscode/settings.json
  core/config/config.exs
  core/config/runtime.exs
  core/lib/opp_client.ex
  core/lib/opp_client/get_merchants_by_merchant_uuid.json
  core/lib/opp_client/helper.ex
  core/lib/opp_client/post_charges.json
  core/lib/opp_client/post_merchants.json
  core/lib/opp_client/post_merchants_by_merchant_uid_withdrawals.json
  core/lib/opp_client/post_transactions.json
  core/mix.exs
  core/mix.lock
  core/test/opp_client_test.exs
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#818 [Advert] Add firing of monitor events
  core/frameworks/signal/_public.ex
  core/frameworks/utility/enum_helpers.ex
  core/frameworks/utility/pretty_print.ex
  core/lib/core/accounts/user.ex
  core/lib/core/authorization.ex
  core/lib/core_web.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/systems/advert/content_page_builder.ex
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/monitor/_public.ex
  core/systems/promotion/_private.ex
  core/systems/promotion/_routes.ex
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed hero image dimension (banner vs large)
  core/frameworks/pixel/components/hero.ex
  core/systems/assignment/crew_page.ex
  core/systems/graphite/leaderboard_page.ex
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Account] Participant + Creator signin/signup #824
  core/bundles/next/bundle.ex
  core/bundles/next/lib/account/creator_signin_view.ex
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/next/lib/account/signin_page_builder.ex
  core/bundles/next/lib/user/session_html.ex
  core/bundles/next/lib/user/session_html/new.html.heex
  core/bundles/self/bundle.ex
  core/bundles/self/lib/account/session_controller.ex
  core/bundles/self/lib/account/signin_page.ex
  core/bundles/self/lib/user/session_html.ex
  core/bundles/self/lib/user/session_html/new.html.heex
  core/bundles/self/lib/user/signin.ex
  core/frameworks/pixel/components/tabbar.ex
  core/lib/core/authorization.ex
  core/lib/core_web.ex
  core/lib/core_web/controllers/layouts/_user_menu.html.eex
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/eyra-next.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/systems/account/_routes.ex
  core/systems/account/await_confirmation.ex
  core/systems/account/signup_page.ex
  core/systems/account/user.ex
  core/systems/account/user_form.ex
  core/systems/admin/account_view.ex
  core/test/core_web/live/user/signup_test.exs
  core/test/systems/account/await_confirmation_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Advert] Add participant to pool #819
  core/bundles/next/bundle.ex
  core/bundles/next/config/config.exs
  core/bundles/next/lib/account/creator_signin_view.ex
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/next/lib/account/signin_page_builder.ex
  core/bundles/self/config/config.exs
  core/config/config.exs
  core/lib/core/factories.ex
  core/lib/core/feature_flags.ex
  core/priv/repo/migrations/20240602110320_remove_vu_student_pools.exs
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/advert/submission_view.ex
  core/systems/citizen/pool/detail_page_builder.ex
  core/systems/citizen/pool/overview_plugin.ex
  core/systems/pool/_public.ex
  core/systems/pool/_queries.ex
  core/systems/pool/detail_page.ex
  core/systems/pool/landing_page.ex
  core/systems/pool/model.ex
  core/systems/pool/participant_model.ex
  core/systems/pool/submission_model.ex
  core/systems/promotion/landing_page.ex
  core/systems/student/pool/detail_page_builder.ex
  core/systems/student/pool/overview_plugin.ex
  core/test/systems/advert/factories.ex
  core/test/systems/advert/promotion_landing_page_builder_test.exs
  core/test/systems/pool/_public_test.exs
  core/test/systems/pool/_queries_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 2efdd0c29d6fa00b6bbcfef08da8819ab746799d
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

deploy: 21f007e234af46e90e7218f6db9fdba1ff612ae8
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/.build
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
  core/dist/search_items-DEBEFFCF.js
  core/dist/search_items-E4E8D0BF.js
  core/search.html
  core/selfhosting.html
Due: none

first round of bugfixes
  core/frameworks/pixel/components/navigation.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/static/images/icons/bar_seperator.svg
  core/systems/advert/model.ex
  core/systems/assignment/_switch.ex
  core/systems/home/page_builder.ex
  core/systems/project/item_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed default assignment name
  core/systems/project/create_item_popup.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#834 Unable to logon with creator test account after verification
  core/systems/account/user.ex
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

added some debug
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#835 if creator filter is selected then verified filter does not work
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#832 uploading zip for benchmark (upload failed)
  core/systems/assignment/_director.ex
  core/systems/workflow/_public.ex
  core/systems/workflow/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fixed bug with order of dynamically stacked fabric childs
  core/frameworks/fabric.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#838 Add participant instructions - internal server error
  core/frameworks/signal/_public.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-instruction.po
  core/priv/gettext/eyra-instruction.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-instruction.po
  core/systems/content/_public.ex
  core/systems/content/page_form.ex
  core/systems/instruction/_public.ex
  core/systems/instruction/_queries.ex
  core/systems/instruction/_switch.ex
  core/systems/instruction/general_form.ex
  core/systems/instruction/tool_model.ex
  core/systems/project/_assembly.ex
  core/systems/workflow/builder_view.ex
  core/systems/workflow/item_cell.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#836 My profile - edits not saved
  core/systems/account/user_profile_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#841 As admin searching for users does not work
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#842 Deleting a project shows a strangely transparent message
  core/lib/core_web/ui/dialog/plain_dialog.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#839 Change in verified status for creator requires logout and login
  core/systems/account/_public.ex
  core/systems/account/_queries.ex
  core/systems/content/_private.ex
  core/systems/content/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#837 Desktop - Internal server error
  core/priv/repo/migrations/20240607124116_rename_next_actions.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#834 Clicking on a leaderboard results in Internal Server Error 500
  core/systems/advert/content_page.ex
  core/systems/alliance/content_page.ex
  core/systems/assignment/content_page.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/graphite/leaderboard_content_page.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_scores_form.ex
  core/systems/graphite/leaderboard_scores_view.ex
  core/systems/graphite/leaderboard_settings_view.ex
  core/systems/graphite/leaderboard_submissions_form.ex
  core/systems/graphite/leaderboard_submissions_view.ex
  core/systems/lab/content_page.ex
  core/systems/org/content_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#849 User search only returns one result
  core/frameworks/pixel/components/search_bar.ex
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#847 Error text instead of search button
  core/frameworks/pixel/components/image_catalog_picker.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/eyra-imagecatalog.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-imagecatalog.po
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#844 prevent passwordhashes from being logged
  core/systems/account/user.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#846 PANL Consent text of fresh test project 'has already been signed'
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/onboarding_consent_view.ex
  core/systems/consent/clickwrap_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: d9e4020822f0d30ff0f328558aea5a245b6d840f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none
