Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Fix UserCheck CA cert crash on Fly and catch email submit errors
  core/frameworks/user_check/http_client.ex
  core/systems/assignment/finished_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Preserve email value in input during submit loading state
  core/systems/assignment/finished_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy Panl pre-launch
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-manual.po
Due: none

Add specific error message for role account emails
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/finished_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Open questionnaire in same tab instead of new tab
  .claude/commands/ey-deploy-test.md
  core/systems/alliance/tool_view_builder.ex
  core/test/systems/alliance/tool_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: simplify and config
  core/config/dev.exs
  core/config/runtime.dev.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/systems/advert/_public.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/check_payouts.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/budget/_public.ex
  core/systems/next_action/view.ex
  core/test/systems/budget/pay_in_signal_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/runtime.dev.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: rename fund and reserve
  core/config/runtime.exs
  core/lib/core/factories.ex
  core/systems/advert/funding_view.ex
  core/systems/assignment/model.ex
  core/systems/fund/_public.ex
  core/systems/fund/funding_page.ex
  core/systems/fund/model.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/factories.ex
  core/test/systems/student/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/fund/funding_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Adjusted questionnaire round-trip text
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-alliance.po
Due: none

fix: update to renamed fund
  core/systems/assignment/_assembly.ex
  core/systems/budget/_public.ex
  core/test/systems/budget/complete_transaction_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Core.AppSignal.TelemetryHandler for forwarding telemetry to AppSignal
  core/lib/core/application.ex
  core/lib/core/appsignal/telemetry_handler.ex
  core/test/core/appsignal/telemetry_handler_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: credo
  core/systems/budget/_public.ex
  core/systems/fund/funding_page.ex
  core/systems/payment/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: support the aim of the study
  core/config/config.exs
  core/config/runtime.exs
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/priv/repo/migrations/20260417111453_add_aim_of_study_to_assignment_info.exs
  core/systems/assignment/budget_form.ex
  core/systems/assignment/info_model.ex
  core/systems/budget/_public.ex
  core/systems/payment/transaction.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: service fee
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.dev.exs
  core/config/runtime.fly.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20260417124150_add_total_amount_to_transactions.exs
  core/systems/assignment/budget_form.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/budget/_public.ex
  core/systems/budget/transaction_model.ex
  core/systems/payment/_public.ex
  core/test/systems/payment/partner_fee_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Optimize admin user filters with bulk queries
  core/systems/admin/account_view.ex
  core/systems/affiliate/_public.ex
  core/systems/pool/_public.ex
  core/test/systems/affiliate/_public_test.exs
  core/test/systems/pool/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: copy
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/budget_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy update sign up page and nl text participants
  core/assets/js/file_input.js
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

fix: race condition in wallaby test
  core/test/features/panl_study_advert_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 22
  CHANGELOG.md
Due: none

refactor: config
  core/config/config.exs
  core/config/dev.exs
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.dev.exs
  core/config/runtime.fly.exs
  core/fly.test.toml
  core/lib/core/config.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Normalize Panl capitalization in all translations
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/link-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/link-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/link-advert.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/link-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/link-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

fix: able to skip verification with env var
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: stale struct decision
  core/systems/budget/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 22.1
  CHANGELOG.md
Due: none

fix: test
  core/systems/assignment/panl_participants_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add status state machine to Fund.RewardModel
  core/PAYOUT_FLOW_PLAN.md
  core/priv/repo/migrations/20260428090000_add_status_to_fund_rewards.exs
  core/systems/fund/reward_model.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reward_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add reward state-machine transitions and wire into completion flow
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/fund/_public.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove PAYOUT_FLOW_PLAN.md
  core/PAYOUT_FLOW_PLAN.md
Due: none

Add blocked dependency rules to Renovate config
  renovate.json
Due: none

Add recruit URL for organic participant recruitment
  core/config/config.exs
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/affiliate/_public.ex
  core/systems/affiliate/_routes.ex
  core/systems/affiliate/controller.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_questionnaire.ex
  core/test/systems/affiliate/recruit_test.exs
  core/test/systems/assignment/template_flags_per_module_test.exs
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix privacy link translations being removed by gettext extract
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore eyra-account.po files from master
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

Remove fuzzy recruit translations from lt, nl, ro
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

Add researcher approval UI, invite URL, and reservation at join
  core/priv/gettext/de/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/advert/builders/highlight.ex
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/advert/settings_view.ex
  core/systems/advert/view_model_builders.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/fund/_public.ex
  core/systems/fund/_queries.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Address PR review comments on fund-assignment
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/priv/repo/migrations/20260506090000_invoice_sequence_and_transaction_indexes.exs
  core/systems/assignment/currency_helpers.ex
  core/systems/budget/_public.ex
  core/systems/budget/pay_in_expiration_worker.ex
  core/systems/payment/_routes.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/currency_helpers.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix BudgetForm stale assignment causing first pay-in to skip paid path
  core/systems/assignment/budget_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update recruit panel annotation text
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none
