Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Formatted code
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: safe secure
  core/config/config.exs
  core/systems/payment/provider/opp/webhook.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add LinkedIn as a supported platform
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/static/images/logos/platforms/linkedin.svg
  core/priv/static/images/logos/platforms/linkedin_square.svg
  core/systems/workflow/platforms.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: implement feedback
  core/config/config.exs
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/payment/provider.ex
  core/systems/payment/provider/opp/http.ex
  core/systems/payment/provider/opp/webhook.ex
  core/systems/payment/webhook.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/payment/provider/opp/webhook.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: public API for payment provider
  core/config/test.exs
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/opp/webhook.ex
  core/test/systems/payment/opp_webhook_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: tests and test alias
  core/mix.exs
  core/test/systems/advert/factories.ex
  core/test/systems/banking/processor_test.exs
  core/test/systems/fund/_public_test.exs
  core/test/systems/project/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: workflow test
  Makefile
Due: none

fix: tests in makefile
  Makefile
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix admin config page tests with find_live_child
  core/test/systems/admin/config_page_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: add currency ledger and setup base
  core/frameworks/pixel/components/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20260330073609_add_transaction_model.exs
  core/priv/repo/migrations/20260330132419_add_currency_ledger.exs
  core/priv/repo/migrations/20260330153435_add_currency_ledger_to_funds.exs
  core/priv/repo/migrations/20260331064614_add_subject_reward_to_assignment_info.exs
  core/priv/repo/seeds.exs
  core/systems/assignment/_assembly.ex
  core/systems/assignment/budget_form.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/general_form.ex
  core/systems/assignment/info_model.ex
  core/systems/assignment/model.ex
  core/systems/assignment/payment_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/budget/currency_ledger_model.ex
  core/systems/budget/transaction_model.ex
  core/systems/fund/model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add idempotent seed infrastructure for deploy environments
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/lib/core/release.ex
  core/lib/core/seeds.ex
  core/lib/core/seeds/base.ex
  core/lib/core/seeds/dev.ex
  core/lib/core/seeds/local.ex
  core/lib/core/seeds/prod.ex
  core/lib/core/seeds/staging.ex
  core/lib/core/seeds/test.ex
  core/mix.exs
  core/scripts/predeploy
  core/test/core/seeds_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: able to pay into a study
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/config/start.sh
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/modal_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20260330073609_add_transaction_model.exs
  core/priv/repo/migrations/20260403084248_add_merchant_uid_to_funds.exs
  core/priv/repo/migrations/20260407085942_add_merchant_uid_to_users.exs
  core/start
  core/systems/account/user.ex
  core/systems/assignment/_assembly.ex
  core/systems/assignment/budget_form.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/general_form.ex
  core/systems/assignment/payment_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/systems/assignment/template_data_donation.ex
  core/systems/assignment/template_paper_screening.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/budget/_public.ex
  core/systems/budget/transaction_model.ex
  core/systems/payment/_public.ex
  core/systems/payment/_routes.ex
  core/systems/payment/controller.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/local_controller.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/provider/opp/webhook.ex
  core/systems/payment/transaction.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/dev.exs
  core/systems/assignment/payment_view.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/budget/_public.ex
  core/systems/payment/_public.ex
  core/systems/payment/controller.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: improve payment flow safety and code quality
  core/config/config.exs
  core/config/dev.exs
  core/systems/assignment/budget_form.ex
  core/systems/assignment/currency_helpers.ex
  core/systems/assignment/payment_view.ex
  core/systems/budget/_public.ex
  core/systems/fund/_public.ex
  core/systems/fund/model.ex
  core/test/systems/project/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: source env file with start
  core/config/start.sh
Due: none

Fix CI test by calling mix test.exs for core via Makefile
  Makefile
Due: none

fix: tests and use template
  core/systems/assignment/general_form.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_questionnaire.ex
  core/test/features/panl_study_advert_test.exs
  core/test/systems/assignment/template_flags_per_module_test.exs
  core/test/systems/assignment/template_flags_test.exs
  core/test/systems/payment/transaction_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/test/features/panl_study_advert_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add idempotent seed infrastructure for deploy environments (#1467)
  Makefile
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/lib/core/release.ex
  core/lib/core/seeds.ex
  core/lib/core/seeds/base.ex
  core/lib/core/seeds/dev.ex
  core/lib/core/seeds/local.ex
  core/lib/core/seeds/prod.ex
  core/lib/core/seeds/staging.ex
  core/lib/core/seeds/test.ex
  core/mix.exs
  core/scripts/predeploy
  core/test/core/seeds_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Make platform/source group field optional per workflow template
  .pre-commit-config.yaml
  core/frameworks/builder/html.ex
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/text.ex
  core/systems/account/onboarding_page.ex
  core/systems/advert/content_page_builder.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/finished_view.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/project/create_item_view.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/overview_page.ex
  core/systems/workflow/builder_view.ex
  core/systems/workflow/config.ex
  core/systems/workflow/item_cell.ex
  core/test/features/workflow_item_group_field_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Gate post-launch Panl features behind :panl_post_launch flag
  core/bundles/next/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/systems/assignment/participants_view.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Frameworks.UserCheck email validation client
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/config/test.exs
  core/frameworks/user_check.ex
  core/frameworks/user_check/client.ex
  core/frameworks/user_check/http_client.ex
  core/frameworks/user_check/mock_client.ex
  core/frameworks/user_check/result_model.ex
  core/test/frameworks/user_check_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add EmailSignUp identity provider for email-first signup
  core/frameworks/user_check/http_client.ex
  core/frameworks/user_check/mock_client.ex
  core/frameworks/user_check/result_model.ex
  core/lib/email_sign_up.ex
  core/lib/email_sign_up/default_rejection_policy.ex
  core/lib/email_sign_up/rejection_policy.ex
  core/lib/email_sign_up/user_model.ex
  core/priv/repo/migrations/20260413141359_add_email_sign_up_user.exs
  core/test/email_sign_up_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Assignment.Template.runtime_config/1 with Flags.Runtime
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/systems/assignment/template_data_donation.ex
  core/systems/assignment/template_paper_screening.ex
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add email capture on finished screen for Panl studies
  core/lib/email_sign_up.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/account/features_tab.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
  core/systems/assignment/runtime_config.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/systems/assignment/template_data_donation.ex
  core/systems/assignment/template_paper_screening.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/home/page_builder.ex
  core/systems/pool/_public.ex
  core/test/email_sign_up_test.exs
  core/test/features/email_capture_test.exs
  core/test/systems/assignment/factories.ex
  core/test/systems/assignment/finished_view_builder_test.exs
  core/test/systems/assignment/finished_view_test.exs
  core/test/systems/pool/_public_test.exs
  core/test/systems/pool/account_post_action_handler_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add AppSignal attributes and telemetry events to Feldspar.Controller
  core/systems/feldspar/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refine email capture with affiliate guard and submitted state
  core/config/dev.exs
  core/frameworks/pixel/components/inline_block.ex
  core/lib/core/seeds/mix/seed.ex
  core/lib/core_web/endpoint.ex
  core/lib/email_sign_up/user_model.ex
  core/lib/mix/random_images.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
  core/systems/assignment/participants_view.ex
  core/systems/pool/_public.ex
  core/test/features/email_capture_test.exs
  core/test/systems/assignment/finished_view_builder_test.exs
  core/test/systems/assignment/finished_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix flaky StaleReferenceError in data donation delete test
  core/test/features/project_item_data_donation_delete_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add retry_stale macro for Wallaby StaleReferenceError handling
  core/test/features/project_item_data_donation_delete_test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: runtime configuration and redesign
  core/.gitignore
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.dev.exs
  core/config/runtime.fly.exs
  core/config/start.sh
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/start
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/budget_form.ex
  core/systems/assignment/check_payouts.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/general_form.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/assignment/payment_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/budget/_public.ex
  core/systems/budget/pay_in_expiration_worker.ex
  core/systems/next_action/view.ex
  core/test/features/panl_study_advert_test.exs
  core/test/systems/budget/complete_transaction_test.exs
  core/test/systems/budget/pay_in_expiration_test.exs
  core/test/systems/budget/pay_in_signal_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/runtime.fly.exs
  core/systems/assignment/check_payouts.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/assignment/template.ex
  core/test/features/panl_study_advert_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add pool membership info and filter to admin users page
  core/frameworks/pixel/components/user_list_item.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/systems/admin/account_view.ex
  core/systems/admin/user_filters.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix UserCheck TLS handshake failure and add admin affiliate filter
  core/frameworks/user_check/http_client.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/systems/admin/account_view.ex
  core/systems/admin/user_filters.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add connect_timeout to UserCheck HTTP client
  core/frameworks/user_check/http_client.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add loading spinner to email capture submit button
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Move x_square.svg platform logo to correct location
  core/priv/static/images/logos/platforms/x_square.svg
Due: none

Clear modal toolbar buttons on close to prevent stale nav buttons
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
