Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

#774 [Leaderboard] live update status
  core/systems/graphite/_public.ex
  core/systems/graphite/_switch.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Extra authorization debug logging
  core/frameworks/green_light/live.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Extra authorization debug logging III
  core/frameworks/green_light/live.ex
  core/lib/core/authorization.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Project owner unable to access existing leaderboard #775
  core/priv/repo/migrations/20240424114607_leaderboard_auth_fix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Value columns are sorting ascending not descending #783
  core/systems/graphite/leaderboard_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] File import can't deal with empty values #777
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/_public.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_scores_form.ex
  core/systems/graphite/leaderboard_scores_view.ex
  core/systems/graphite/leaderboard_submissions_form.ex
  core/systems/graphite/leaderboard_submissions_view.ex
  core/systems/graphite/scores_parse_result.ex
  core/systems/graphite/scores_parser.ex
  core/test/systems/graphite/_assembly_test.exs
  core/test/systems/graphite/_gen_test.exs
  core/test/systems/graphite/factories.ex
  core/test/systems/graphite/scores_parser_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed margin below Submissions title
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/leaderboard_submissions_form.ex
  core/systems/graphite/mix/gen_submissions.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Researcher has no way to visit leaderboard #782
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_scores_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#781 [Leaderboard] Systems.Graphite.Gen.delete_submissions results in foreign key constraint error
  core/systems/graphite/_gen.ex
  core/systems/graphite/_queries.ex
  core/systems/graphite/mix/del_submissions.ex
  core/test/systems/graphite/_gen_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] timestamp is not timezoned #749
  core/assets/js/app.js
  core/assets/js/timezone.js
  core/lib/core_web/live_timezone.ex
  core/lib/core_web/routes.ex
  core/lib/core_web/timezone_controller.ex
  core/lib/core_web/ui/timestamp.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/campaign/monitor_view.ex
  core/systems/project/item_model.ex
  core/systems/project/node_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Default title should be title of submit task #750
  core/systems/alliance/content_page.ex
  core/systems/assignment/content_page.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/content/page.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/graphite/_assembly.ex
  core/systems/graphite/leaderboard_content_page.ex
  core/systems/graphite/tool_form.ex
  core/systems/lab/content_page.ex
  core/systems/workflow/_public.ex
  core/systems/workflow/builder_view.ex
  core/systems/workflow/item_cell.ex
  core/systems/workflow/item_views.ex
  core/test/systems/graphite/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] missing top banner #752
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/systems/assignment/crew_page.ex
  core/systems/graphite/_public.ex
  core/systems/graphite/_queries.ex
  core/systems/graphite/_switch.ex
  core/systems/graphite/leaderboard_page.ex
  core/systems/graphite/leaderboard_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Make CMS submissions update live #758
  core/frameworks/pixel/components/text.ex
  core/frameworks/utililty/ecto_helper.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/_public.ex
  core/systems/graphite/_switch.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_submissions_form.ex
  core/systems/graphite/leaderboard_submissions_view.ex
  core/systems/graphite/submission_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Check bigger when title shorter in task list #691
  core/frameworks/pixel/components/text.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/workflow/item_views.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Missing the 3 blocks with meta information #753
  core/lib/core_web/ui/timestamp.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/_public.ex
  core/systems/graphite/leaderboard_page.ex
  core/systems/graphite/leaderboard_page_builder.ex
  core/systems/graphite/leaderboard_score_html.ex
  core/systems/graphite/leaderboard_scores_form.ex
  core/systems/graphite/leaderboard_table_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Small copy change
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
Due: none

[Leaderboard] Floats should have standard number of digits #786
  core/systems/graphite/leaderboard_score_html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Leaderboard] Floats should have standard number of digits #786
  core/systems/assignment/start_view.ex
  core/systems/workflow/item_views.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-graphite.po
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
Due: none

Update eyra-graphite.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
Due: none

Update eyra-workflow.po
  core/priv/gettext/en/LC_MESSAGES/eyra-workflow.po
Due: none

Fix for ##790 and #789, both timezone issues
  core/assets/js/app.js
  core/assets/js/timezone.js
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/graphite/submission_form.ex
  core/systems/graphite/tool_view.ex
  core/systems/project/item_model.ex
  core/systems/project/node_page.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove subtitle from leaderboard cms #791
  core/systems/graphite/leaderboard_settings_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

CSV import considers valid url with underscores invalid #794
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/systems/graphite/submission_model.ex
  core/test/systems/graphite/export_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 64784c0232c7b65b5f88379f08657db8e1b4970c
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Large update of translations after refactor
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/link-advert.po
  core/priv/gettext/en/LC_MESSAGES/link-citizen.po
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-alliance.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-graphite.pot
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/link-advert.pot
  core/priv/gettext/link-citizen.pot
  core/priv/gettext/link-lab.pot
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/link-advert.po
  core/priv/gettext/nl/LC_MESSAGES/link-citizen.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: none

added commas, removed the builtin option
  SELFHOSTING.md
Due: none
