Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

i18n: fill auth.code.* + auth.continue.button + auth.email.invalid for de/es/it/lt/nl/ro
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

fix(account): participant Account page in website layout, creator in workspace
  core/lib/core_web/live/feature/menus.ex
  core/systems/account/user_profile_page.ex
  core/systems/account/user_profile_page_builder.ex
  core/test/systems/account/user_profile_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(account): rename UserProfilePage -> Account.Page; move Sign out into Profile tab
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/layouts/website/html.ex
  core/systems/account/_presenter.ex
  core/systems/account/_routes.ex
  core/systems/account/features_tab.ex
  core/systems/account/features_view.ex
  core/systems/account/page.ex
  core/systems/account/page/tab.ex
  core/systems/account/page_builder.ex
  core/systems/account/profile_tab.ex
  core/systems/account/profile_view.ex
  core/test/systems/account/_public_test.exs
  core/test/systems/account/page_builder_test.exs
  core/test/systems/account/page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(account): rename /user/profile -> /user/account
  core/bundles/next/lib/menu/items.ex
  core/bundles/self/lib/menu/items.ex
  core/systems/account/_routes.ex
  core/systems/account/next_actions/complete_profile.ex
  core/systems/account/next_actions/fillin_characteristics.ex
  core/systems/account/next_actions/promote_push_student.ex
  core/systems/account/next_actions/select_study_student.ex
  core/systems/account/page.ex
  core/test/core_web/live/mobile_menu_test.exs
  core/test/systems/account/_public_test.exs
  core/test/systems/account/features_view_test.exs
  core/test/systems/account/page_test.exs
  core/test/systems/account/profile_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(org): allow any user (not only creators) as Org members and admins
  core/systems/org/admins_modal_view_builder.ex
  core/systems/org/member_view_builder.ex
  core/test/systems/org/admins_modal_view_builder_test.exs
  core/test/systems/org/member_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(org): surface linked pools per org + tag panel orgs (#1592)
  core/priv/gettext/de/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/de/LC_MESSAGES/eyra-org.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/eyra-org.po
  core/priv/gettext/es/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/es/LC_MESSAGES/eyra-org.po
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/eyra-org.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/it/LC_MESSAGES/eyra-org.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-org.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-org.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-org.po
  core/systems/admin/org_view_builder.ex
  core/systems/org/_presenter.ex
  core/systems/org/content_page_builder.ex
  core/systems/org/pools_view.ex
  core/systems/org/pools_view_builder.ex
  core/test/systems/org/pools_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(pool): guard can_manage? against nil org to avoid infinite recursion
  core/systems/pool/_public.ex
  core/test/systems/pool/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): participant Account page in stripped layout; rename to Account.Page, /user/account (#1600)
  core/bundles/next/lib/menu/items.ex
  core/bundles/self/lib/menu/items.ex
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/layouts/website/html.ex
  core/lib/core_web/live/feature/menus.ex
  core/systems/account/_presenter.ex
  core/systems/account/_routes.ex
  core/systems/account/features_tab.ex
  core/systems/account/features_view.ex
  core/systems/account/next_actions/complete_profile.ex
  core/systems/account/next_actions/fillin_characteristics.ex
  core/systems/account/next_actions/promote_push_student.ex
  core/systems/account/next_actions/select_study_student.ex
  core/systems/account/page.ex
  core/systems/account/page/tab.ex
  core/systems/account/page_builder.ex
  core/systems/account/profile_tab.ex
  core/systems/account/profile_view.ex
  core/test/core_web/live/mobile_menu_test.exs
  core/test/systems/account/_public_test.exs
  core/test/systems/account/features_view_test.exs
  core/test/systems/account/page_builder_test.exs
  core/test/systems/account/page_test.exs
  core/test/systems/account/profile_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: update CHANGELOG for milestone 27
  CHANGELOG.md
  core/test/smoke/package-lock.json
Due: none

fix: mark expired properly
  core/systems/crew/_public.ex
  core/systems/crew/_queries.ex
  core/test/systems/crew/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add eyra-test-scan Claude Code skill
  .claude/skills/eyra-test-scan/SKILL.md
Due: none

feat(layout): desktop sidepadding + 1536px max content + paper-sheet shadow
  core/assets/package-lock.json
  core/assets/package.json
  core/frameworks/pixel/components/navigation.ex
  core/lib/core_web/controllers/layouts/stripped/html.ex
  core/lib/core_web/controllers/layouts/website/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(identity): federated auth orchestration + link existing accounts on IdP sign-in
  core/lib/core/identity.ex
  core/lib/core/identity/provider.ex
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/plug.ex
  core/lib/google_sign_in.ex
  core/lib/google_sign_in/plug.ex
  core/systems/account/_public.ex
  core/test/core/identity_test.exs
  core/test/core/surfconext/plug_test.exs
  core/test/core/surfconext_test.exs
  core/test/google_sign_in/plug_test.exs
  core/test/google_sign_in_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): log when local phone persist fails after OPP accepts it
  core/systems/account/phone_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(payment): log unroutable KYC events at :error with structured fields
  core/systems/payment/controller.ex
  core/test/systems/payment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): guide users to add a country code on bare-digit phone input
  core/systems/account/user.ex
  core/test/systems/account/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(payment): pin the bare-list contacts shape of OPP.add_merchant_phone
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat(auth): carry `?after=join_pool:<slug>` through OTP flow with informed consent on Home
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/auth_page.ex
  core/bundles/next/lib/account/session_controller.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/eyra-pool.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/systems/account/user_auth.ex
  core/systems/home/page.ex
  core/systems/pool/account_post_action_handler.ex
  core/systems/pool/join_consent_view.ex
  core/test/bundles/next/account/session_controller_test.exs
  core/test/systems/pool/account_post_action_handler_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(home): scope Panl marketplace block to the Panl pool
  core/systems/advert/_public.ex
  core/systems/home/page_builder.ex
  core/test/systems/home/page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

style(home): drop bg-grey6 backdrop from the logged-in home blocks
  core/systems/home/logged_in_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

style(auth): vertically center the identify and code-verify pages
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/auth_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

style(auth): vertically center the identify and code-verify pages (#1627)
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/auth_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment, account): post-launch Panl block on the finished page
  core/bundles/next/lib/account/session_controller.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
  core/test/bundles/next/account/session_controller_test.exs
  core/test/features/panl_finished_cta_test.exs
  core/test/systems/assignment/finished_view_builder_test.exs
  core/test/systems/assignment/finished_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

i18n(assignment): translate the panl CTA copy
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

style(assignment): constrain the finished-page Panl block to a sheet column
  core/systems/assignment/finished_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): show the post-launch Panl block to any non-Panl user
  core/systems/assignment/finished_view_builder.ex
  core/test/systems/assignment/finished_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Translate eyra-test-scan skill to English
  .claude/skills/eyra-test-scan/SKILL.md
Due: none

fix: read fund balance under a row lock so concurrent reservations cannot overdraw
  core/systems/fund/_public.ex
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(pool): pool logo family + icon on join screen + drop decline button
  core/frameworks/pixel/components/logo.ex
  core/priv/static/images/logos/pools/panl.svg
  core/priv/static/images/logos/pools/panl_wide.svg
  core/systems/assignment/finished_view.ex
  core/systems/assignment/participants_view.ex
  core/systems/home/adverts_view.ex
  core/systems/pool/join_consent_view.ex
  core/systems/pool/onboarding_page.ex
  core/test/systems/pool/onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(pool): derive slug via Pool.Model.slug/1, drop hardcoded :panl atoms
  core/frameworks/pixel/components/logo.ex
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
  core/systems/assignment/participants_view.ex
  core/systems/home/adverts_view.ex
  core/systems/home/page_builder.ex
  core/systems/pool/join_consent_view.ex
  core/systems/pool/model.ex
  core/test/systems/pool/onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(pool): polish join screen layout and copy
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/eyra-pool.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/systems/pool/join_consent_view.ex
  core/systems/pool/onboarding_page.ex
  core/systems/pool/onboarding_page_builder.ex
  core/test/systems/pool/onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment, home): scope :panl to a single source of truth per concern
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/finished_view.ex
  core/systems/assignment/finished_view_builder.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/runtime_config.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/home/page_builder.ex
  core/test/systems/assignment/finished_view_builder_test.exs
  core/test/systems/home/page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(home): separate guest / member hero copy; rename participation section
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/systems/home/page_builder.ex
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/systems/home/page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): handle close_modal event on the account page
  core/systems/account/page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(ci): drop Dependabot auto-approve + auto-merge workflow
  .github/workflows/dependabot.yml
Due: none

chore(ci): drop Dependabot auto-approve + auto-merge workflow (#1635)
  .github/workflows/dependabot.yml
Due: none

refactor: decouple the payout money flow from OPP's vocabulary
  core/systems/fund/_public.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/controller.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/payment/controller_test.exs
  core/test/systems/payment/opp_test.exs
  core/test/systems/payment/provider_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
