Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

#918 Reset Monitor events after deleting all file
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/monitor/_public.ex
  core/systems/monitor/_queries.ex
  core/systems/project/item_model.ex
  core/systems/storage/_public.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/test/systems/monitor/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy data storage
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
Due: none

#919 Storage with 1000 files does not load
  core/lib/core_web/ui/timestamp.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#919 Fixed with default timezone when socket is not connected yet
  core/lib/core_web/live_timezone.ex
  core/lib/core_web/ui/timestamp.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#899 Runtime rate quotas
  core/config/dev.exs
  core/config/runtime.exs
  core/frameworks/utility/config_helpers.ex
  core/systems/rate/quota.ex
  core/systems/storage/builtin/backend.ex
  core/systems/storage/builtin/endpoint_form.ex
  core/systems/storage/builtin/endpoint_model.ex
  core/systems/storage/builtin/local_fs.ex
  core/systems/storage/builtin/s3.ex
  core/systems/storage/builtin/special.ex
  core/test/systems/rate/quota_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#921 Storage card store requests does not reset after deleting all files
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/project/item_model.ex
  core/systems/storage/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#897 Feature flag on Panl study for production release
  core/bundles/next/config/config.exs
  core/config/dev.exs
  core/systems/home/page_builder.ex
  core/systems/pool/_public.ex
  core/systems/project/create_item_popup.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#896 Fix benchmark challenge language to English
  core/systems/assignment/general_form.ex
  core/systems/assignment/settings_view.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#899 Fix on rate quotas
  core/config/dev.exs
  core/systems/rate/_public.ex
  core/systems/rate/server.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy changes
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Error message when no data storage connected #922
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/crew_page.ex
  core/systems/project/_public.ex
  core/systems/storage/_private.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#895 Opening project with Yoda storage
  core/assets/js/live_content.js
  core/frameworks/fabric.ex
  core/frameworks/fabric/live_view.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/priv/static/images/icons/.DS_Store
  core/priv/static/images/icons/error.svg
  core/priv/static/images/icons/warning.svg
  core/systems/content/html.ex
  core/systems/project/item_model.ex
  core/systems/storage/_public.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/aws/endpoint_model.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/azure/endpoint_model.ex
  core/systems/storage/backend.ex
  core/systems/storage/builtin/backend.ex
  core/systems/storage/builtin/endpoint_model.ex
  core/systems/storage/centerdata/backend.ex
  core/systems/storage/centerdata/endpoint_model.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_form_helper.ex
  core/systems/storage/endpoint_settings_view.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/html.ex
  core/systems/storage/yoda/backend.ex
  core/systems/storage/yoda/client.ex
  core/systems/storage/yoda/endpoint_form.ex
  core/systems/storage/yoda/endpoint_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated Changelog
  CHANGELOG.md
Due: none

#915 Internal Server Error 500 when clicking on Next logo in top left corner as a creator
  core/config/dev.exs
  core/lib/core_web/ui/timestamp.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#924 Projects can only be shared with people if you know their exact email address
  core/frameworks/pixel/components/modal_view.ex
  core/frameworks/pixel/components/share_view.ex
  core/frameworks/pixel/components/user_list_item.ex
  core/lib/core_web/live_form.ex
  core/lib/core_web/ui/dialog/dialog.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/account/people_view.ex
  core/systems/project/_public.ex
  core/systems/project/form.ex
  core/systems/project/item_form.ex
  core/systems/project/item_model.ex
  core/systems/project/model.ex
  core/systems/project/node_page.ex
  core/systems/project/overview_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#929 Remove credentials for storage credentials from logs
  core/config/config.exs
  core/systems/storage/delivery.ex
  core/systems/storage/yoda/endpoint_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#928 Data donation on Yoda storage backend results in no data donated on Yoda
  core/systems/storage/yoda/backend.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#936 Error 404 page when clicking on data breadcrumb
  core/systems/assignment/storage_view.ex
  core/systems/project/_public.ex
  core/systems/project/item_model.ex
  core/systems/storage/_routes.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated changelog
  CHANGELOG.md
Due: none

Fix for 500 error when opening leaderboard (in preview mode)
  core/frameworks/pixel/components/table.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix for 500 error when opening leaderboard (in preview mode) II
  core/systems/graphite/leaderboard_score_html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#939 When adding an item to a project, the dialog box does not dissapear
  core/systems/project/create_item_view.ex
  core/systems/project/node_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#871 When participant logson with google account, actual profile is that of creator
  core/bundles/next/lib/account/participant_signin_view.ex
  core/lib/google_sign_in.ex
  core/lib/google_sign_in/plug.ex
  core/systems/account/user_form.ex
  core/systems/admin/login_page.ex
  core/test/google_sign_in/plug_test.exs
  core/test/google_sign_in_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Renamed Molecule/Atom to Branch/Leaf
  core/config/config.exs
  core/frameworks/concept/branch.ex
  core/frameworks/concept/leaf.ex
  core/frameworks/concept/molecule.ex
  core/systems/advert/content_page_builder.ex
  core/systems/advert/model.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/model.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/graphite/leaderboard_model.ex
  core/systems/project/_public.ex
  core/systems/project/item_model.ex
  core/systems/storage/controller.ex
  core/systems/storage/empty_confirmation_view.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_data_view.ex
  core/systems/storage/endpoint_model.ex
  setup
  setup.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Typo
  core/assets/js/viewport.js
Due: none

Unsplash fix when ok returns other than 200
  core/lib/core/image_catalog/unsplash.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed tabbar with 0 tabs
  core/assets/js/app.js
  core/assets/js/tabbar.js
  core/assets/js/viewport.js
  core/frameworks/pixel/components/tabbar.ex
  core/lib/core_web/live/hook/viewport.ex
  core/lib/core_web/routes.ex
  core/lib/core_web/viewport_controller.ex
  core/systems/content/html.ex
  core/test/core_web/ui/timestamp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Upgrade otp version to 25.3.2.7
  .github/workflows/banking_proxy_release.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

#855 Participant who does not give consent causes runaway memory usage
  core/systems/assignment/_public.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/declined_view.ex
  core/systems/assignment/onboarding_consent_view.ex
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed dialyzer warnings in test env
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed dialyzer warnings in test env II
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed dialyzer warnings in test env III
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed dialyzer warnings in test env IV
  Makefile
Due: none

Fixed dialyzer warnings in test env V
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed dialyzer warnings in test env VI
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
