Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

feat: new docker file + dc setup
  Dockerfile
  core/config/dev.exs
  core/mix.exs
  core/mix.lock
  docker-compose.yml
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: docker compose setup with debian12
  .tool-versions
  Dockerfile
  Makefile
Due: none

feature: set container locale
  Dockerfile
  Makefile
Due: none

replace Logger.warn with Logger.warning
  core/frameworks/fabric.ex
  core/frameworks/signal/_public.ex
  core/frameworks/utility/live_command.ex
  core/systems/advert/_public.ex
  core/systems/advert/expiration_worker.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/external_panel_controller.ex
  core/systems/budget/_public.ex
  core/systems/crew/reject_view.ex
  core/systems/graphite/scores_parser.ex
  core/systems/observatory/_live_hook.ex
  core/systems/storage/_public.ex
  core/systems/storage/centerdata/backend.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added Admin debug button to raise a test exception
  core/systems/admin/actions_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add dev-container setup and bump deps for elixirls
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  core/mix.exs
  docker-compose.yml
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: change deprecated calls to recommended fixes
  core/frameworks/pixel/create.ex
  core/lib/core/persister.ex
  core/systems/account/signup_page.ex
  core/systems/admin/org_view.ex
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/assignment/alliance_callback_page_builder.ex
  core/systems/home/available_view.ex
  core/systems/project/node_page.ex
  core/systems/project/overview_page.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/ticket_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add tab setup to project nodes
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/node_page_grid_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Onyx] Import RIS file #974
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/spinner.ex
  core/frameworks/pixel/components/table.ex
  core/frameworks/signal/_public.ex
  core/lib/core/application.ex
  core/lib/core_web/file_uploader.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-onyx.po
  core/priv/gettext/en/LC_MESSAGES/eyra-onyx.po
  core/priv/gettext/eyra-onyx.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-onyx.po
  core/priv/repo/migrations/20241017104659_add_onyx.exs
  core/priv/static/images/icons/spinner_static_primary@3x.png
  core/priv/static/images/icons/spinner_static_white@3x.png
  core/systems/assignment/_switch.ex
  core/systems/onyx/_private.ex
  core/systems/onyx/_public.ex
  core/systems/onyx/_queries.ex
  core/systems/onyx/_switch.ex
  core/systems/onyx/file_error_association.ex
  core/systems/onyx/html.ex
  core/systems/onyx/import_form.ex
  core/systems/onyx/import_view.ex
  core/systems/onyx/paper_model.ex
  core/systems/onyx/ris/ris_error.ex
  core/systems/onyx/ris/ris_file.ex
  core/systems/onyx/ris/ris_model.ex
  core/systems/onyx/ris/ris_processor_job.ex
  core/systems/onyx/tool_file_association.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Release 6,2
  CHANGELOG.md
Due: none

deploy: c5aef5f604ce07f89843e5512d0ede8d21bcebae
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

deploy: 427076da9389cf655f628dbb5dea45f8fb249d24
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

fixed store function for builtin local_fs
  core/systems/storage/builtin/local_fs.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Integrated Sentry Event Logging for better crash management
  core/config/config.exs
  core/lib/core/application.ex
  core/lib/core/sentry/gen.ex
  core/lib/core/sentry/mix.ex
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Ensure :nimble_options app started
  core/lib/core/sentry/gen.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Ensure :sentry app started
  core/lib/core/sentry/gen.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data II
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: rename form to original_form
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: move 'done' button to bottom of pdf modal
  core/systems/document/pdf_nav_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: better way to keep state consistent
  core/frameworks/pixel/components/clickable_card.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

CHANGELOG update
  CHANGELOG.md
Due: none

chore: remove dbg statements
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/assignment/content_page_form.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: use compose_child instead of update_child for content page form
  core/systems/assignment/content_page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add docs and test for trix post processor
  core/frameworks/pixel/trix_post_processor.ex
  core/test/frameworks/pixel/trix_post_processor_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

wip: progress spinner for data-donation
  core/frameworks/pixel/components/file_selector.ex
  core/frameworks/pixel/components/loading_spinner.ex
  core/systems/feldspar/tool_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: use progress spinner on benchmark csv upload
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/file_selector.ex
  core/systems/graphite/leaderboard_scores_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: progress spinner working on manual uploads
  core/frameworks/pixel/components/file_selector.ex
  core/systems/document/tool_form.ex
  core/systems/feldspar/tool_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: replace button loop with dynamic bar
  core/frameworks/pixel/components/user_list_item.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added Sentry integration for Phoenix LiveView
  core/frameworks/fabric/live_view.ex
  core/lib/core_web/endpoint.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: use imported button instead of custom button
  core/frameworks/pixel/components/file_selector.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: make users confirmable from admin page
  core/frameworks/pixel/components/user_list_item.ex
  core/systems/account/user.ex
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data III
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Release version 6
  CHANGELOG.md
Due: none

#997 Fixed hiding tool-ref modal view
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: disable editing mode after clicking button action
  core/frameworks/pixel/components/clickable_card.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Changed Sentry logging config
  core/lib/core/application.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed People share dialog on project
  core/frameworks/pixel/components/user_list_item.ex
  core/systems/account/people_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

wip: trix postprocessing
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/frameworks/pixel/trix_post_processor.ex
  core/systems/assignment/content_page_form.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
