Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

feat(assignment): always-enabled Confirm on Add-participants; inline validation via a form-object (#1703)
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/budget_form.ex
  core/systems/assignment/info_model.ex
  core/systems/assignment/paid_slots_logic.ex
  core/systems/budget/_public.ex
  core/systems/budget/pay_in_request_form.ex
  core/systems/budget/pay_in_request_model.ex
  core/test/features/fund_assignment_test.exs
  core/test/systems/assignment/budget_form_confirm_test.exs
  core/test/systems/assignment/budget_form_save_reward_test.exs
  core/test/systems/assignment/budget_form_update_slots_test.exs
  core/test/systems/assignment/info_model_test.exs
  core/test/systems/budget/create_pay_in_test.exs
  core/test/systems/budget/pay_in_request_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs(schema-deprecations): register deprecated crew_task_status enum values
  core/docs/schema-deprecations.md
Due: none

refactor(crew): drop dead {accepted,rejected,participated}_tasks helpers
  core/docs/schema-deprecations.md
  core/systems/crew/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(fund): cover :pending_payout in approve_reward / reject_reward guards
  core/systems/fund/_public.ex
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(dev-loop): trim pre-commit + cache CI build
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
Due: none

chore(dev-loop): wire pre-commit + pre-push hook install into `make setup`
  Makefile
Due: none

refactor(pixel): migrate 10 live_components off Fabric to LiveNest (#1704)
  core/frameworks/pixel/components/confirmation_modal.ex
  core/frameworks/pixel/components/dropdown_selector.ex
  core/frameworks/pixel/components/image_catalog_picker.ex
  core/frameworks/pixel/components/radio_group.ex
  core/frameworks/pixel/components/search_bar.ex
  core/frameworks/pixel/components/selector.ex
  core/frameworks/pixel/components/user_list_item.ex
  core/frameworks/pixel/fabric_bridge.ex
  core/lib/core_web.ex
  core/systems/account/signup_page.ex
  core/systems/admin/account_view.ex
  core/systems/admin/org_view.ex
  core/systems/org/member_view.ex
  core/test/systems/admin/account_view_test.exs
  core/test/systems/org/member_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(home): make participant Home page fit within mobile viewport (#1705)
  core/systems/home/participated_view.ex
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: donation logic
  core/bundles/next/config/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/priv/repo/migrations/20260807090000_create_fund_donations.exs
  core/systems/fund/_public.ex
  core/systems/fund/donation_model.ex
  core/systems/fund/reward_model.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reward_model_test.exs
  core/test/systems/home/page_builder_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/payment/local_test.exs
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: cover audit gaps
  core/lib/core/factories.ex
  core/systems/fund/_public.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/fund/payout_withdrawal.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: cleanup unnecessary files
  core/lib/core/factories.ex
  core/systems/fund/_public.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/fund/payout_withdrawal.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: resolve code review findings on the payout recovery path
  core/systems/fund/_public.ex
  core/systems/fund/payout_withdrawal.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: address PR review feedback on provider-to-local reconciliation
  core/systems/fund/payout_orphan_reconciliation.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/budget/reconcile_orphaned_transactions_test.exs
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: align reconciliation finding tests with the missing_locally outcome
  core/test/systems/payment/reconciliation_finding_model_test.exs
  core/test/systems/payment/reconciliation_summary_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: capture logs in tests so only failures print output
  core/test/test_helper.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: silence passing JS test console output
  core/assets/vitest.config.js
Due: none

fix(pixel): FabricBridge shim must preserve :id assign for migrated components
  core/frameworks/pixel/fabric_bridge.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(dev-loop): trim pre-commit + cache CI build (#1707)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
Due: none

fix(pixel): FabricBridge shim must preserve :id assign for migrated components (#1714)
  core/frameworks/pixel/fabric_bridge.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

i18n(pool): fill missing marketplace translations for de/it/es/lt/ro
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/de/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/de/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/es/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/it/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/it/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-submission.po
Due: none

i18n(pool): fill missing marketplace translations for de/it/es/lt/ro (#1715)
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/de/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/de/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/es/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/it/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/it/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-submission.po
Due: none

fix: surface OPP failures behind the generic payout errors
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/systems/payment/_public.ex
  core/test/systems/home/rewards_summary_view_handlers_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): show rate-limit message (not "expired") after exhausting OTP attempts
  core/systems/account/auth_code.ex
  core/test/bundles/next/account/auth_code_verify_page_test.exs
  core/test/systems/account/auth_code_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(account): pin the OTP boundary at attempts:4 on both layers
  core/test/bundles/next/account/auth_code_verify_page_test.exs
  core/test/systems/account/auth_code_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(account): show rate-limit message (not "expired") after exhausting OTP attempts (#1717)
  core/systems/account/auth_code.ex
  core/test/bundles/next/account/auth_code_verify_page_test.exs
  core/test/systems/account/auth_code_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(pixel): suppress Firefox default focus outline on <trix-editor>
  core/assets/css/app.css
Due: none

fix(pixel): suppress Firefox default focus outline on <trix-editor> (#1718)
  core/assets/css/app.css
Due: none

fix: tell the participant when OPP rejects their phone number
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/systems/account/phone_form.ex
  core/test/systems/account/phone_form_handlers_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: drop inline comments
  core/systems/account/phone_form.ex
  core/systems/payment/_public.ex
  core/test/systems/home/rewards_summary_view_handlers_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: drop issue reference from test moduledoc
  core/test/systems/account/phone_form_handlers_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor: drop single pipe from ensure_bank_account_for
  core/systems/payment/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: document flat-pipe and indenting style rule
  core/CLAUDE.md
Due: none

chore: document no-comments-outside-docs rule
  core/CLAUDE.md
Due: none

chore: narrow the comment rule to what vs why
  core/CLAUDE.md
Due: none

fix(pixel): auto-collapse content-page tabs to dropdown when they don't fit
  core/assets/js/app.js
  core/assets/js/tabbed.js
  core/frameworks/pixel/components/navigation.ex
  core/frameworks/pixel/components/tabbed.ex
  core/lib/core_web.ex
  core/lib/core_web/controllers/layouts/workspace/composer.ex
  core/lib/core_web/controllers/layouts/workspace/html.ex
  core/lib/core_web/live/feature/actions.ex
  core/lib/core_web/live/feature/tabbed.ex
  core/lib/core_web/live/hook/actions.ex
  core/lib/core_web/live/hook/tabbed.ex
  core/lib/core_web/ui/area.ex
  core/systems/account/page.ex
  core/systems/advert/content_page.ex
  core/systems/alliance/content_page.ex
  core/systems/assignment/content_page.ex
  core/systems/content/html.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/graphite/leaderboard_content_page.ex
  core/systems/lab/content_page.ex
  core/systems/storage/endpoint_content_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

i18n(assignment): restore pay_in_request_form gettext keys across all locales
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

i18n(assignment): restore pay_in_request_form gettext keys across all locales (#1722)
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

i18n(assignment): add English text for pay_in_request_form validation messages
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
