Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

feat(test): split mix test.unit / test.feature; add fund_assignment Wallaby
  core/mix.exs
  core/test/features/fund_assignment_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat(test): add :currency_ledger factory + Wallaby approve_reward test
  core/lib/core/factories.ex
  core/test/features/approve_reward_test.exs
  core/test/features/fund_assignment_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(test): add Wallaby request_payout test; testid the ConfirmationModal buttons
  core/frameworks/pixel/components/confirmation_modal.ex
  core/test/features/request_payout_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs(test): write down feature-test scope policy
  core/test/CLAUDE.md
  core/test/features/CLAUDE.md
Due: none

docs(test): restructure CLAUDE.md — generic decision framework + per-type mechanics
  core/test/CLAUDE.md
  core/test/features/CLAUDE.md
Due: none

feat(test): add broad payment-flow Wallaby journey test (UC-OPP-06 steps 2-5)
  core/test/features/payment_flow_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor(test): rename payment_flow → payout_flow
  core/test/features/payout_flow_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

test: cover fund_assignment e2e scenarios 2-4 as unit tests
  core/test/systems/assignment/budget_form_confirm_test.exs
  core/test/systems/budget/create_pay_in_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: reintroduce translations
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
Due: none

fix: add OPP base url
  core/fly.dev.toml
  core/fly.staging.toml
Due: none

chore: remove /api/e2e/inject apparatus + migrated Playwright payment specs
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/frameworks/need.ex
  core/lib/core_web.ex
  core/lib/core_web/live/hook/inject.ex
  core/systems/payment/_public.ex
  core/test/e2e/approve_reward.spec.ts
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/lib/liveview.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

ci(claude-review): switch to manual workflow_dispatch trigger
  .github/workflows/claude-review.yml
Due: none

config(next): default :otp to false in bundle
  core/bundles/next/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

i18n: fill auth.email.rate_limited for de/es/it/lt/nl/ro
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: none

refactor(auth): rename OTP routes to identify/verify/redeem; auto-create users
  core/bundles/next/bundle.ex
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/session_controller.ex
  core/systems/account/_public.ex
  core/systems/account/mock_auth.ex
  core/test/bundles/next/account/auth_otp_flag_test.exs
  core/test/bundles/next/account/auth_signup_page_test.exs
  core/test/systems/account/mock_auth_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(account): email-first auth + OTP verify pages behind :otp flag (#1556)
  core/assets/js/app.js
  core/assets/js/auth_code_input.js
  core/bundles/next/bundle.ex
  core/bundles/next/config/config.exs
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/auth_page.ex
  core/bundles/next/lib/account/session_controller.ex
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/config/test.exs
  core/frameworks/pixel/components/form.ex
  core/lib/google_sign_in.ex
  core/lib/google_sign_in/plug.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-user.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-user.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-user.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-user.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-user.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-user.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-user.po
  core/systems/account/_public.ex
  core/systems/account/email_router.ex
  core/systems/account/mock_auth.ex
  core/systems/account/user_form.ex
  core/systems/admin/login_page.ex
  core/test/bundles/next/account/auth_otp_flag_test.exs
  core/test/bundles/next/account/auth_signup_page_test.exs
  core/test/systems/account/mock_auth_test.exs
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(signal): centralize :signal_test handler in Signal.LiveFeature
  core/frameworks/signal/_live_feature.ex
  core/lib/core_web.ex
  core/systems/account/features_view.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/onboarding_view.ex
  core/systems/content/composer.ex
  core/systems/lab/public_page.ex
  core/systems/onyx/browser_view.ex
  core/systems/onyx/concept_tab.ex
  core/systems/promotion/landing_page.ex
  core/systems/zircon/screening/criteria_view.ex
  core/systems/zircon/screening/import_view.ex
  core/systems/zircon/screening/paper_set_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test: remove .phx-connected anti-pattern from feature tests
  core/systems/account/await_confirmation.ex
  core/systems/account/signup_page.ex
  core/systems/advert/content_page_builder.ex
  core/systems/home/page.ex
  core/test/CLAUDE.md
  core/test/features/CLAUDE.md
  core/test/features/email_capture_test.exs
  core/test/features/feldspar_monitor_test.exs
  core/test/features/panl_signup_locale_test.exs
  core/test/features/panl_study_advert_test.exs
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
  core/test/features/terms_and_privacy_onboarding_test.exs
  core/test/features/workflow_item_group_field_test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Replace e2e payment tests with feature + unit tests (#1578)
  core/frameworks/pixel/components/confirmation_modal.ex
  core/lib/core/factories.ex
  core/mix.exs
  core/test/CLAUDE.md
  core/test/features/CLAUDE.md
  core/test/features/approve_reward_test.exs
  core/test/features/fund_assignment_test.exs
  core/test/features/payout_flow_test.exs
  core/test/features/request_payout_test.exs
  core/test/systems/assignment/budget_form_confirm_test.exs
  core/test/systems/budget/create_pay_in_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove /api/e2e/inject apparatus + migrated Playwright payment specs (#1582)
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/frameworks/need.ex
  core/lib/core_web.ex
  core/lib/core_web/live/hook/inject.ex
  core/systems/payment/_public.ex
  core/test/e2e/approve_reward.spec.ts
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/lib/liveview.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(signal): centralize :signal_test handler in Signal.LiveFeature (#1584)
  core/frameworks/signal/_live_feature.ex
  core/lib/core_web.ex
  core/systems/account/features_view.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/onboarding_view.ex
  core/systems/content/composer.ex
  core/systems/lab/public_page.ex
  core/systems/onyx/browser_view.ex
  core/systems/onyx/concept_tab.ex
  core/systems/promotion/landing_page.ex
  core/systems/zircon/screening/criteria_view.ex
  core/systems/zircon/screening/import_view.ex
  core/systems/zircon/screening/paper_set_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: reuse Button.dynamic for promotion apply button
  core/systems/promotion/landing_page.ex
  core/test/systems/advert/promotion_landing_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: update CHANGELOG for milestone 26
  CHANGELOG.md
Due: none

test: remove .phx-connected anti-pattern from feature tests (#1585)
  core/systems/account/await_confirmation.ex
  core/systems/account/signup_page.ex
  core/systems/advert/content_page_builder.ex
  core/systems/home/page.ex
  core/test/features/CLAUDE.md
  core/test/features/email_capture_test.exs
  core/test/features/feldspar_monitor_test.exs
  core/test/features/panl_signup_locale_test.exs
  core/test/features/panl_study_advert_test.exs
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
  core/test/features/terms_and_privacy_onboarding_test.exs
  core/test/features/workflow_item_group_field_test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: exempt returning participants from budget gate, tighten virtual capacity
  core/systems/assignment/_public.ex
  core/systems/assignment/controller.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(account): Oban cron worker to prune expired auth codes
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/account/_public.ex
  core/systems/account/auth_code.ex
  core/systems/account/auth_code_cleanup_worker.ex
  core/test/systems/account/auth_code_cleanup_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(account): route OTP-registered users through terms & privacy
  core/systems/account/_public.ex
  core/systems/account/onboarding_page_builder.ex
  core/test/systems/account/_public_test.exs
  core/test/systems/account/onboarding_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(account): Oban cron worker to prune expired auth codes (#1590)
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/account/_public.ex
  core/systems/account/auth_code.ex
  core/systems/account/auth_code_cleanup_worker.ex
  core/test/systems/account/auth_code_cleanup_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(account): route OTP-registered users through terms & privacy (#1591)
  core/systems/account/_public.ex
  core/systems/account/onboarding_page_builder.ex
  core/test/systems/account/_public_test.exs
  core/test/systems/account/onboarding_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: show a 'study is full' page instead of a 500 when joining a full study
  core/lib/core_web/controllers/error_html.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/controller.ex
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(org): surface linked pools per org + tag panel orgs
  core/priv/gettext/de/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/de/LC_MESSAGES/eyra-org.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/eyra-org.po
  core/priv/gettext/es/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/es/LC_MESSAGES/eyra-org.po
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/eyra-org.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/it/LC_MESSAGES/eyra-org.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-org.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-org.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-org.po
  core/systems/admin/org_view_builder.ex
  core/systems/org/_presenter.ex
  core/systems/org/content_page_builder.ex
  core/systems/org/pools_view.ex
  core/systems/org/pools_view_builder.ex
  core/test/systems/org/pools_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: cleanup
  core/lib/core_web/controllers/error_html.ex
  core/systems/assignment/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(pool): Pool Admin scoped page + click-through from Org's Pools tab
  core/lib/core/authorization.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/eyra-pool.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/systems/org/pools_view.ex
  core/systems/org/pools_view_builder.ex
  core/systems/pool/_public.ex
  core/systems/pool/_routes.ex
  core/systems/pool/content_page.ex
  core/systems/pool/content_page_builder.ex
  core/systems/pool/participants_view.ex
  core/systems/pool/participants_view_builder.ex
  core/systems/pool/settings_view.ex
  core/systems/pool/settings_view_builder.ex
  core/test/systems/org/pools_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(pool): Participants tab — read-only list with search
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/systems/pool/_public.ex
  core/systems/pool/participants_view.ex
  core/systems/pool/participants_view_builder.ex
  core/test/systems/pool/participants_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(pool): render participant rows via UserListItem with mailto action
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/systems/pool/participants_view.ex
  core/systems/pool/participants_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(pool): Settings tab — edit pool name and icon, currency read-only
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/systems/pool/settings_view.ex
  core/systems/pool/settings_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(pool, org): live-refresh page breadcrumbs on Settings save
  core/config/config.exs
  core/systems/org/_public.ex
  core/systems/org/_switch.ex
  core/systems/org/node_view.ex
  core/systems/pool/_public.ex
  core/systems/pool/_switch.ex
  core/systems/pool/settings_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(pool): drop Currency read-only display from Settings tab
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/systems/pool/settings_view.ex
  core/systems/pool/settings_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add Uitbetalingen tab with bank verification and payout history
  core/frameworks/pixel/components/table.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/account/_presenter.ex
  core/systems/account/_public.ex
  core/systems/account/_switch.ex
  core/systems/account/payouts_tab.ex
  core/systems/account/payouts_view.ex
  core/systems/account/payouts_view_builder.ex
  core/systems/account/user_profile_page_builder.ex
  core/systems/fund/_public.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/systems/payment/_public.ex
  core/systems/payment/controller.ex
  core/test/systems/account/payouts_reactive_test.exs
  core/test/systems/account/payouts_view_builder_test.exs
  core/test/systems/account/payouts_view_test.exs
  core/test/systems/account/user_profile_page_builder_test.exs
  core/test/systems/fund/_public_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/home/rewards_summary_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: implement feedback
  core/lib/core_web/controllers/error_html.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/controller.ex
  core/systems/assignment/error_html.ex
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
