Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

deploy: 3c14688dd436c2cdb40a489c1819856b611c0190
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

deploy: 4af64be93d4e5f648e876fee71dfbf11a8be0841
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

deploy: 57cf6a15640f7c2fd8f359f8e9995ab3787b4af0
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

chore: mix setup files to avoid code duplication
  setup
  setup.sh
Due: none

chore: add me to developers array for user seeding
  core/config/dev.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: add newline to bash script
  setup
Due: none

tzdata version bump to prevent '2nd argument: not a tuple' error
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#953 Frontpage 500 + #963 gracefully logout participant
  core/frameworks/green_light/_live_hook.ex
  core/lib/core/authorization.ex
  core/lib/core_web/routes.ex
  core/lib/external_account.ex
  core/lib/external_account/user.ex
  core/systems/account/_plug.ex
  core/systems/account/user_auth.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 6fadf014df5cfef08ebc3746523c1e6ead445f9f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

feat: add confirmation modal to assignment content switches
  core/frameworks/pixel/components/modal_view.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/assignment/confirmation_modal.ex
  core/systems/assignment/content_page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: use proposed dialog text
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

feat: make consent form confirmable
  core/frameworks/pixel/components/confirmation_modal.ex
  core/systems/assignment/content_page_form.ex
  core/systems/assignment/gdpr_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: move translation keys to ui system
  core/frameworks/pixel/components/confirmation_modal.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Progress report #964
  core/frameworks/utility/list.ex
  core/lib/core/factories.ex
  core/lib/external_sign_in.ex
  core/lib/external_sign_in/user.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/assignment/_private.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_queries.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/monitor_view.ex
  core/systems/consent/_public.ex
  core/systems/crew/task_status.ex
  core/systems/monitor/_public.ex
  core/systems/project/branch_plug.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/controller_test.exs
  core/test/systems/monitor/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed bug when returning from Questionnaire, anonymous user was logged out
  core/systems/account/_plug.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_queries.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/controller.ex
  core/systems/project/branch_plug.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: skip confirmation modal on page_form if content is empty
  core/systems/assignment/content_page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: make confirmation modal text overridable
  core/frameworks/pixel/components/confirmation_modal.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/content_page_form.ex
  core/systems/assignment/gdpr_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: change confirmation modal body on absence of signatures
  core/systems/assignment/gdpr_form.ex
  core/systems/consent/_public.ex
  core/systems/consent/_queries.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: add feature to changelog
  CHANGELOG.md
Due: none

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

#969 close Feldspar app and return to Tasklist
  core/assets/js/pdf_viewer.js
  core/assets/js/viewport.js
  core/frameworks/fabric.ex
  core/frameworks/pixel/components/modal_view.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-document.po
  core/priv/gettext/en/LC_MESSAGES/eyra-document.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-document.po
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/document/pdf_view.ex
  core/systems/feldspar/app_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#969 close Feldspar app and return to Tasklist - Part II
  core/assets/js/pdf_viewer.js
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/feldspar/app_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refactor Participant Finished View
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/finished_view.ex
  core/test/systems/assignment/crew_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed compile warning in test code
  core/test/systems/monitor/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed bug in auto select next task after completing one
  core/systems/assignment/crew_work_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed bug when closing the same task multiple times: start button has spinner
  core/frameworks/pixel/components/modal_view.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Text retry button aangepast
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Text retry button aangepast
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Fixed bug with hidden context menu pages
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/consent/signature_view.ex
  core/systems/content/page_view.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed title of Done page
  core/systems/assignment/finished_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated changelog
  CHANGELOG.md
Due: none

feat: do not show modal when consent text is default or nil
  core/systems/assignment/_public.ex
  core/systems/assignment/gdpr_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

wip: trix postprocessing
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/frameworks/pixel/trix_post_processor.ex
  core/systems/assignment/content_page_form.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

wip: stashing changes for melle
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/systems/assignment/content_page_form.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed wysiwyg area issue
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/consent/revision_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed bug with missing allowed modal view style
  core/frameworks/pixel/components/modal_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
