Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Added require
  core/systems/project/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #568: PDF loading
  core/systems/assignment/crew_work_view.ex
  core/systems/document/pdf_view.ex
  core/systems/document/tool_model.ex
  core/systems/project/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix publish icon
  core/priv/static/images/icons/publish.svg
  core/systems/assignment/content_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Update eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update account_confirmation_instructions.html.eex
  core/systems/email/email/account_confirmation_instructions.html.eex
Due: none

Update account_confirmation_instructions.text.eex
  core/systems/email/email/account_confirmation_instructions.text.eex
Due: none

Update reset_password_instructions.text.eex
  core/systems/email/email/reset_password_instructions.text.eex
Due: none

Update reset_password_instructions.html.eex
  core/systems/email/email/reset_password_instructions.html.eex
Due: none

Update eyra-user.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-user.po
Due: none

Update eyra-user.po
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
Due: none

Fixed tests
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/controllers/user_settings_controller_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/core_web/live/user/reset_password_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed transation of error messages
  core/frameworks/pixel/components/form.ex
  core/priv/gettext/en/errors.po
  core/priv/gettext/en/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/errors.po
  core/priv/gettext/nl/errors.po
  core/priv/gettext/nl/eyra-ui.po
  core/test/core_web/controllers/user_settings_controller_test.exs
  core/test/core_web/live/user/signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed space for multiple error messages
  core/lib/core_web/live/user/reset_password_token.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Layout fix on home page
  core/priv/static/landing_page/.DS_Store
  core/priv/static/landing_page/styles.css
Due: none

Fixed docs build
  SELFHOSTING.md
  banking_proxy/mix.exs
  core/lib/sign_in_with_apple/backend.ex
  core/lib/sign_in_with_apple/helpers.ex
  core/mix.exs
  guides/authorization.md
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add support profile photo for user without profile
  core/lib/core/image_helpers.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added smart user labelling
  core/lib/core/accounts/user.ex
  core/lib/core_web/ui/user_list_item.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Better photo_url logic
  core/lib/core/image_helpers.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed roundtrip to online questionnaire
  core/systems/assignment/controller.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/start_view.ex
  core/systems/crew/_public.ex
  core/systems/project/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Using default Alliance Tool url to support preview mode
  core/systems/alliance/tool_model.ex
  core/test/systems/campaign/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Replace default Alliance Tool url with safe function
  core/frameworks/concept/tool_model.ex
  core/systems/alliance/tool_model.ex
  core/systems/assignment/start_view.ex
  core/test/systems/campaign/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed safe_uri function
  core/systems/alliance/tool_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed safe_uri function II
  core/systems/alliance/tool_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

596 cannot start questionnaire task (#600)
  core/frameworks/concept/tool_model.ex
  core/systems/alliance/tool_model.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/start_view.ex
  core/systems/crew/_public.ex
  core/systems/project/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed PDF rendering issues
  core/assets/js/pdf_viewer.js
  core/assets/js/sticky.js
  core/systems/assignment/start_view.ex
  core/systems/document/pdf_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed PDF rendering issues (#602)
  core/assets/js/pdf_viewer.js
  core/assets/js/sticky.js
  core/systems/assignment/start_view.ex
  core/systems/document/pdf_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed dialog positioning
  core/systems/campaign/overview_page.ex
  core/systems/content/page.ex
  core/systems/project/overview_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed double error messages
  core/frameworks/pixel/components/form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
