Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
Due: none

Update eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
Due: none

Fixed: participant={id} value can be manipulated to likely break app #620
  core/systems/assignment/external_panel_controller.ex
  core/test/systems/assignment/external_panel_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #630: Enter key does not save changed project / item name
  core/systems/project/form.ex
  core/systems/project/item_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #626: Scroll bars are visable in study CMS page
  core/assets/tailwind.config.js
Due: none

Fixed #632: Blue bar around donation step in Firefox on MacOS
  core/systems/alliance/work_view.ex
  core/systems/feldspar/app_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #616: Feldspar app_viewer has too much padding on mobile
  core/systems/feldspar/app_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #615: Account activation email link immediately invalidated
  core/bundles/next/lib/user/signin.ex
  core/bundles/self/lib/user/signin.ex
  core/lib/core/accounts/user.ex
  core/lib/core_web/live/user/confirm_token.ex
  core/lib/core_web/live/user/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #638: Remove language switcher from Next
  core/assets/js/gettext.js
  core/bundles/next/lib/layouts/stripped/menu_builder.ex
  core/bundles/next/lib/layouts/website/menu_builder.ex
  core/bundles/next/lib/layouts/workspace/menu_builder.ex
  core/bundles/self/lib/layouts/stripped/menu_builder.ex
  core/bundles/self/lib/layouts/website/menu_builder.ex
  core/bundles/self/lib/layouts/workspace/menu_builder.ex
  core/config/config.exs
  core/lib/core_web/cldr.ex
  core/lib/core_web/live/menu/helpers.ex
  core/lib/core_web/live/routes.ex
  core/priv/gettext/default.pot
  core/priv/gettext/en/LC_MESSAGES/default.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/default.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/assignment/_private.ex
  core/systems/assignment/external_panel_controller.ex
  core/systems/assignment/info_form.ex
  core/systems/assignment/info_model.ex
  core/systems/assignment/languages.ex
  core/systems/assignment/model.ex
  core/test/core_web/controllers/user_auth_test.exs
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/controllers/user_settings_controller_test.exs
  core/test/core_web/image_catalog_picker_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/core_web/live/user/reset_password_test.exs
  core/test/core_web/live/user/signup_test.exs
  core/test/core_web/views/error_view_test.exs
  core/test/support/helpers.ex
  core/test/systems/assignment/factories.ex
  core/test/systems/assignment/landing_page_test.exs
  core/test/systems/campaign/_assembly_test.exs
  core/test/systems/campaign/monitor_view_test.exs
  core/test/systems/consent/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #647: Generated Privacy URL is not working
  core/config/dev.exs
  core/config/runtime.exs
  core/config/test.exs
  core/systems/assignment/privacy_form.ex
  core/systems/content/file_copy_view.ex
  core/systems/content/local_fs.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Fixed #649: Researcher CMS in Dutch
  core/lib/core/authorization.ex
  core/lib/core_web.ex
  core/lib/core_web/controllers/language_switch_controller.ex
  core/lib/core_web/live_locale.ex
  core/lib/core_web/routes.ex
  core/systems/admin/config_page.ex
  core/systems/alliance/content_page.ex
  core/systems/assignment/centerdata/fakeapi_page.ex
  core/systems/assignment/content_page.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/external_panel_controller.ex
  core/systems/benchmark/content_page.ex
  core/systems/budget/funding_page.ex
  core/systems/campaign/content_page.ex
  core/systems/content/page.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/app_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/lab/content_page.ex
  core/systems/org/content_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed tests
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed #652: Unable to change logo in Assignment CMS
  core/frameworks/pixel/components/form.ex
  core/systems/assignment/info_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #620: participant={id} value can be manipulated (part 2)
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed crash when loading PDF task for participants
  core/systems/document/pdf_nav_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed #655: Participant screens show buttons with gettext keys
  core/systems/assignment/model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: d4d39bda36f451d08b34aae56c7b56234c24d295
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Assignment.Model.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Added some debug logging
  core/lib/core_web/live/user/confirm_token.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Generated ecto migration file
  core/priv/repo/migrations/20240315144234_benchmark-refactor.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Draft Benchmark data model refactor
  core/bundles/next/lib/console/page.ex
  core/bundles/self/lib/console/page.ex
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/priv/repo/migrations/20240315144234_benchmark-refactor.exs
  core/systems/benchmark/_public.ex
  core/systems/benchmark/export_controller.ex
  core/systems/benchmark/leaderboard_model.ex
  core/systems/benchmark/leaderboard_overview.ex
  core/systems/benchmark/spot_form.ex
  core/systems/benchmark/spot_model.ex
  core/systems/benchmark/submission_list_form.ex
  core/systems/benchmark/submission_model.ex
  core/systems/benchmark/tool_controller.ex
  core/systems/benchmark/tool_model.ex
  core/systems/benchmark/tool_page.ex
  core/test/systems/benchmark/_public_test.exs
  core/test/systems/benchmark/export_controller_test.exs
  core/test/systems/project/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added user interaction before activating account
  core/lib/core_web/live/user/confirm_token.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 9ec995528c53dc47c3491d9615bf345ce0253036
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

deploy: 5e2e9e7a716a4df6ee304e9073a155dbf15a6194
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

deploy: 44f7cf27b0096ee6ffbe216ebe729f6c8b35effe
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Add metrics to leaderboard and scores
  core/.iex.exs
  core/priv/repo/migrations/20240318134609_add_metrics_to_leaderboards_and_scores.exs
  core/systems/graphite/leaderboard_model.ex
  core/systems/graphite/score_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add benchmark to Item popup
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/repo/migrations/20240319111747_add_leaderboard_to_item_model.exs
  core/systems/project/item_model.ex
  core/systems/project/item_templates.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
