Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

#997 Add possibility to skip finished page
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data IV
  core/frameworks/fabric/live_view.ex
  core/lib/core/application.ex
  core/lib/core_web/endpoint.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/consent/revision_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed wysiwyg area issue
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

wip: stashing changes for melle
  core/frameworks/pixel/components/wysiwyg_area.ex
  core/systems/assignment/content_page_form.ex
  core/systems/consent/revision_form.ex
  core/systems/content/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Release version 6
  CHANGELOG.md
Due: none

feat: constrain user input for project name to 255
  core/systems/project/form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Release 6.1
  CHANGELOG.md
Due: none

feat: truncate project title when overflowing
  core/systems/project/card_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Donated packages not stored with embed #1007
  core/systems/storage/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add extra error logging during parsing of RIS reference for testing purposes
  CHANGELOG.md
  core/systems/onyx/ris/ris_file.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added support for AppSignal
  CHANGELOG.md
  core/mix.exs
  core/mix.lock
  core/systems/assignment/crew_page.ex
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added Admin debug button to raise a test exception
  core/systems/admin/actions_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed Sentry completely
  core/lib/core/sentry/gen.ex
  core/lib/core/sentry/mix.ex
  core/mix.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/budget/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: tabs on project page, auto-create storage when creating project
  core/systems/project/_assembly.ex
  core/systems/project/model.ex
  core/systems/project/node_model.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/node_page_grid_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: update translations
  core/priv/gettext/de/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/de/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/de/LC_MESSAGES/eyra-projects.po
  core/priv/gettext/de/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-projects.po
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/eyra-imagecatalog.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-projects.pot
  core/priv/gettext/link-lab.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-projects.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
Due: none

replace Logger.warn with Logger.warning
  core/systems/project/_assembly.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_grid_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: change deprecated calls to recommended fixes
  core/frameworks/pixel/create.ex
  core/systems/project/node_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add tab setup to project nodes
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/node_page_grid_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: revert redunant merge conflict changes
  .devcontainer/devcontainer.json
  core/frameworks/pixel/create.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_grid_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add ci action to build releases using docker
  .github/workflows/release-debian.yml
  Dockerfile
Due: none

feat: allow user to select branch to release
  .github/workflows/release-debian.yml
Due: none

feat: change permissions so tar can read files
  .github/workflows/release-debian.yml
Due: none

fix: use user param for docker to make sure permissions are right
  .github/workflows/release-debian.yml
Due: none

fix: change permissions for asdf so mix is available
  Dockerfile
Due: none

fix: change the way asdf is ran
  Dockerfile
Due: none

chore: use multi-stage build for optimalisation
  .github/workflows/release-debian.yml
  Dockerfile
Due: none

chore: change permissions of release directory
  core/scripts/build-release
Due: none

fix: remove faulty call to verify release
  .github/workflows/release-debian.yml
Due: none

chore: add debugging to see if vars are set correctly
  .github/workflows/release-debian.yml
Due: none

chore: add debugging to see if vars and files are set correctly
  .github/workflows/release-debian.yml
Due: none

fix: set output dir correctly
  .github/workflows/release-debian.yml
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
