Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Create SECURITY.md
  SECURITY.md
Due: none

feat: Add prerequisites field and update related pages, remove themes
  core/priv/gettext/de/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/repo/migrations/20250605120000_add_prerequisites_to_promotions.exs
  core/systems/promotion/_public.ex
  core/systems/promotion/form_view.ex
  core/systems/promotion/landing_page.ex
  core/systems/promotion/model.ex
  core/systems/promotion/wysiwyg_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: Enhance WysiwygForm with additional parameters for better customization
  core/systems/promotion/form_view.ex
  core/systems/promotion/wysiwyg_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Add Spotify logo to data source list #1182
  core/priv/static/images/icons/spotify.svg
  core/priv/static/images/icons/spotify_square.svg
  core/systems/workflow/platforms.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] finetuning #1183
  core/systems/affiliate/_public.ex
  core/systems/affiliate/_routes.ex
  core/systems/assignment/participants_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Temp fix for: https://github.com/softprops/action-gh-release/issues/628
  .github/workflows/release.yml
Due: none

Spanish translations
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/es/LC_MESSAGES/eyra-document.po
  core/priv/gettext/es/LC_MESSAGES/eyra-ui.po
Due: none

Removed beta from instruction manual
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
Due: none

Added Spanish to Assignment CMS
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/assignment/languages.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy automation tab
  core/priv/gettext/en/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

chore: re-add ssl force, make configurable
  core/config/prod.exs
  docker-compose-coolify.yml
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: only show profile when user is logged in
  core/bundles/next/lib/layouts/website/menu_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: update mobile menu visibility to lg:hidden
  core/frameworks/pixel/components/navigation.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy automation and participants tab
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Corrected typo
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

[Port] Auto progress update #1184 + fixes + finetuning
  core/frameworks/pixel/components/modal_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/systems/affiliate/_private.ex
  core/systems/affiliate/_public.ex
  core/systems/affiliate/controller.ex
  core/systems/affiliate/form.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/participants_view.ex
  core/systems/crew/_public.ex
  core/test/systems/assignment/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: sizing issue, update copy
  core/frameworks/pixel/components/hero.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added Affiliate tests
  core/assets/js/pdf_viewer.js
  core/systems/affiliate/_private.ex
  core/systems/affiliate/_public.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/finished_view.ex
  core/test/systems/affiliate/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] PDF is not shown only a blank page #1190
  core/assets/js/pdf_viewer.js
  core/assets/package.json
Due: none

Added some debug logging
  core/systems/affiliate/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added some debug logging
  core/frameworks/green_light/_live_hook.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: broken test due to modified copy
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: add nil check for internal? function
  core/bundles/next/lib/layouts/website/menu_builder.ex
  core/systems/account/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added some debug logging
  core/frameworks/green_light/_live_hook.ex
  core/systems/account/_plug.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Potential fix for access denied error
  core/systems/account/_plug.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Access denied error fixed, removed debug logging
  core/frameworks/green_light/_live_hook.ex
  core/systems/account/_plug.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy landing page and Workflow CMS
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
Due: none

Fix landing page test
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Manual and task start Spanish copy
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pixel.po
Due: none

Milestone 16: second round testing fixes
  core/systems/account/_plug.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

finetuned user state and fixed PDF Done button layout issue on mobile
  core/config/dev.exs
  core/config/runtime.exs
  core/frameworks/utility/user_state.ex
  core/systems/affiliate/_private.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Corrupt participant session result in error 500
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

[Port] Corrupt participant session result in error 500
  core/systems/affiliate/_public.ex
  core/test/systems/affiliate/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
