Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Update eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Update account_confirmation_instructions.html.eex
  core/systems/email/email/account_confirmation_instructions.html.eex
Due: none

Update account_confirmation_instructions.text.eex
  core/systems/email/email/account_confirmation_instructions.text.eex
Due: none

Update eyra-user.po
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
Due: none

Update reset_password_instructions.text.eex
  core/systems/email/email/reset_password_instructions.text.eex
Due: none

Update reset_password_instructions.html.eex
  core/systems/email/email/reset_password_instructions.html.eex
Due: none

Fixed test issues
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#641 done: Make benchmark assignment template
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-benchmark.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/repo/migrations/20240319083330_rename_workflow_type.exs
  core/systems/assignment/_assembly.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/privacy_form.ex
  core/systems/assignment/settings_view.ex
  core/systems/assignment/templates.ex
  core/systems/project/_assembly.ex
  core/systems/project/item_templates.ex
  core/systems/workflow/builder_view.ex
  core/systems/workflow/model.ex
  core/test/systems/assignment/factories.ex
  core/test/systems/campaign/_assembly_test.exs
  core/test/systems/project/_assembly_test.exs
  core/test/systems/workflow/_public_test.exs
  core/test/systems/workflow/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: edfd210bf5a9deaf514ded5f623381aec25d36d3
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Fixed migration bug
  core/priv/repo/migrations/20240319083330_rename_workflow_type.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-workflow.po
  core/priv/gettext/en/LC_MESSAGES/eyra-workflow.po
Due: none

#643 Add download training data benchmark task
  core/priv/gettext/en/LC_MESSAGES/eyra-instruction.po
  core/priv/gettext/eyra-instruction.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-instruction.po
  core/systems/instruction/_public.ex
  core/systems/instruction/download_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Enabled rendering workflow library in data donation cms
  core/systems/assignment/template_data_donation.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#674 internal server error
  core/systems/workflow/builder_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#674 internal server error
  core/priv/repo/migrations/20240328111851_migrate_tool_ref_specials.exs
  core/systems/workflow/builder_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#680 Invite user as participant on assignment
  core/lib/core_web/controllers/user_auth.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-instruction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/assignment/_public.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/external_panel_controller.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/test/core_web/controllers/user_auth_test.exs
  core/test/systems/assignment/controller_test.exs
  core/test/systems/assignment/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#685 Done button doesn't worek anymore
  core/priv/gettext/en/LC_MESSAGES/eyra-instruction.po
Due: none

#684 page.title in Dutch
  core/priv/gettext/nl/LC_MESSAGES/eyra-instruction.po
Due: none

#686 Liss Panel results in a 500 Server Error
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fixed urls in dutch translation
  core/priv/gettext/nl/LC_MESSAGES/eyra-instruction.po
Due: none

Update eyra-instruction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-instruction.po
Due: none

Update eyra-instruction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-instruction.po
Due: none

Update eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
Due: none

Update eyra-graphite.po
  core/priv/gettext/en/LC_MESSAGES/eyra-graphite.po
Due: none

Update eyra-graphite.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-graphite.po
Due: none

Update errors.po
  core/priv/gettext/en/LC_MESSAGES/errors.po
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
