Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

update
  .github/workflows/elixir_dependabot.yml
Due: none

test
  .github/workflows/elixir_dependabot.yml
Due: none

update
  .github/workflows/elixir_dependabot_test.yml
Due: none

test
  .github/workflows/elixir_dependabot_test.yml
Due: none

Added support for LiveView tabs
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/pixel/components/tabbed.ex
  core/mix.exs
  core/mix.lock
  core/systems/admin/config_page.ex
  core/systems/advert/content_page.ex
  core/systems/alliance/content_page.ex
  core/systems/assignment/content_page.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/content/html.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/graphite/leaderboard_content_page.ex
  core/systems/lab/content_page.ex
  core/systems/org/content_page.ex
  core/systems/pool/detail_page.ex
  core/systems/project/node_page.ex
  core/systems/storage/endpoint_content_page.ex
  core/systems/support/overview_page.ex
  core/systems/zircon/screening/criteria_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Create SECURITY.md
  SECURITY.md
Due: none

chore: add dedicated coolify docker-compose for compiled builds
  Dockerfile
  docker-compose-coolify.yml
  docker-compose.yml
Due: none

fix: create uploads directory in production stage
  Dockerfile
Due: none

chore: remove x-proto rewrite
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: temporarily disable ssl completely
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: add more env vars to pass storage options
  docker-compose-coolify.yml
Due: none

feat: Add WYSIWYG form handling to promotion system and render raw content in landing page
  core/systems/promotion/form_view.ex
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: Remove unused device and language display from landing page
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: Simplify handle_wysiwyg_update by using assigns directly, add nil case
  core/systems/promotion/form_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: Remove unused imports from landing page module
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[WIP] Ontology + Annotation + Criteria Live View
  core/lib/core/factories.ex
  core/priv/repo/migrations/20250311133426_update_ontology_and_annotation.exs
  core/priv/repo/seeds/onyx_seeds.exs
  core/systems/annotation/_public.ex
  core/systems/annotation/assoc.ex
  core/systems/annotation/model.ex
  core/systems/annotation/ontology_assoc.ex
  core/systems/annotation/ref.ex
  core/systems/ontology/_public.ex
  core/systems/ontology/_queries.ex
  core/systems/ontology/ontology_ref.ex
  core/systems/ontology/predicate_model.ex
  core/systems/zircon/screening/criteria_view.ex
  core/test/systems/annotation/_public_test.exs
  core/test/systems/annotation/factories.ex
  core/test/systems/ontology/_public_test.exs
  core/unittest-factories.mdc
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Data donation not working due to refresh #1176
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Data donation not working due to refresh #1176
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/observatory/_live_feature.ex
  core/systems/observatory/_switch.ex
  core/test/systems/advert/factories.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added extra unit tests #1176
  core/systems/assignment/_private.ex
  core/test/systems/advert/factories.ex
  core/test/systems/assignment/_switch_test.exs
  core/test/systems/assignment/crew_page_test.exs
  core/test/systems/assignment/factories.ex
  core/test/systems/promotion/landing_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed Manual Builder realtime updates #1176
  core/systems/assignment/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: ce2166ed4e276bceb0f97cbec5891eba3d074cab
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Updated changelog
  CHANGELOG.md
Due: none

deploy: a5fb790bbd0b66c8893c1b056ada6d656d1b8f23
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

refactor: Simplify handle_wysiwyg_update by using pattern matching and guards
  core/systems/promotion/form_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: Integrate render_wysiwyg helper for rendering WYSIWYG content in landing page
  core/frameworks/pixel/components/wysiwyg_area_helpers.ex
  core/systems/promotion/landing_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added LiveNest dependency
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
