Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Authorize /org/node/{id} per org instead of via global :admin role
  core/systems/org/content_page.ex
  core/test/systems/org/content_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix nil-safe creator check in home block_keys
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Drop unreachable bulk_approve catch-all (dialyzer)
  core/systems/assignment/payout_modal.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refresh Desktop and Admin.Org banners live on NextAction changes
  core/config/config.exs
  core/systems/admin/_switch.ex
  core/systems/desktop/_switch.ex
  core/systems/desktop/page.ex
  core/test/systems/admin/_switch_test.exs
  core/test/systems/admin/org_view_test.exs
  core/test/systems/desktop/_switch_test.exs
  core/test/systems/desktop/page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add OAuth signup page and full-width button support
  core/bundles/next/bundle.ex
  core/bundles/next/config/config.exs
  core/bundles/next/lib/account/oauth_signup_page.ex
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_face.ex
  core/lib/core/surfconext.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/eyra-next.pot
  core/priv/static/images/logos/platforms/surfconext.svg
  core/systems/account/user_form.ex
  core/test/core/surfconext/plug_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix Admin.AccountView search/filter wiring and re-apply user cap
  core/systems/admin/account_view.ex
  core/systems/admin/account_view_builder.ex
  core/test/systems/admin/account_view_builder_test.exs
  core/test/systems/admin/account_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Persist Cldr-resolved locale to session so LiveView mount sees it
  core/lib/core_web/live/hook/locale.ex
  core/lib/core_web/routes.ex
  core/test/core_web/locale_resolution_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Gate future-studies card by panl; show activities to non-panl
  Dockerfile
  core/Dockerfile
  core/systems/home/page_builder.ex
  core/test/systems/home/page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Propagate parent locale to embedded LiveViews via prepare_live_view wrapper
  core/lib/core_web.ex
  core/lib/core_web/live/element.ex
  core/lib/core_web/live/hook/locale.ex
  core/systems/account/features_tab.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/profile_tab.ex
  core/systems/admin/config_page_builder.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_work_view_builder.ex
  core/systems/assignment/tool_view_factory.ex
  core/systems/home/page_builder.ex
  core/systems/manual/tool_view_builder.ex
  core/systems/onyx/landing_page.ex
  core/systems/onyx/landing_page_builder.ex
  core/systems/org/content_page_builder.ex
  core/systems/test/routed_live_view_builder.ex
  core/systems/zircon/screening/import_view_builder.ex
  core/test/systems/account/user_profile_page_test.exs
  core/test/systems/manual/tool_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add OAuth onboarding page and improve mock OAuth flow
  core/frameworks/pixel/components/button.ex
  core/lib/core/authorization.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-next.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
  core/priv/static/images/logos/platforms/mock.svg
  core/systems/account/_routes.ex
  core/systems/account/mock_oauth.ex
  core/systems/account/oauth_onboarding_page.ex
  core/systems/account/user_auth.ex
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/controllers/user_auth_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Claude Code local state and Playwright test results to .gitignore
  .gitignore
  core/test/e2e/test-results/.last-run.json
Due: none

Add search bar and filter chips to Org Members tab
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/systems/account/people_editor_component.ex
  core/systems/org/_presenter.ex
  core/systems/org/_public.ex
  core/systems/org/content_page_builder.ex
  core/systems/org/member_filters.ex
  core/systems/org/member_view.ex
  core/systems/org/member_view_builder.ex
  core/systems/org/user_view_builder.ex
  core/test/systems/org/member_view_builder_test.exs
  core/test/systems/org/member_view_test.exs
  core/test/systems/org/user_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Activate OAuth users on registration instead of marking verified
  core/lib/core/surfconext.ex
  core/lib/google_sign_in.ex
  core/lib/sign_in_with_apple.ex
  core/systems/account/mock_oauth.ex
  core/systems/account/user.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add unit and feature tests for OAuth onboarding flow
  core/bundles/next/lib/account/oauth_signup_page.ex
  core/systems/account/oauth_onboarding_page.ex
  core/test/bundles/next/account/oauth_signup_page_test.exs
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/controllers/user_auth_test.exs
  core/test/features/oauth_onboarding_test.exs
  core/test/systems/account/mock_oauth_test.exs
  core/test/systems/account/oauth_onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Simplify locale rule: EN unless participant, drop forced NL
  core/lib/core_web/live/hook/locale.ex
  core/lib/core_web/routes.ex
  core/systems/account/onboarding_controller.ex
  core/systems/account/signup_page.ex
  core/systems/account/user_auth.ex
  core/test/systems/account/onboarding_controller_test.exs
  core/test/systems/account/user_profile_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Sync gettext .pot/.po files with source code
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-org.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-org.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-org.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-org.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-org.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-org.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-project.po
  core/priv/gettext/lt/LC_MESSAGES/link-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-org.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-org.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-project.po
  core/priv/gettext/ro/LC_MESSAGES/link-advert.po
Due: none

Rename OAuth to Auth; move terms-and-privacy onboarding to its own URL
  core/bundles/next/bundle.ex
  core/bundles/next/config/config.exs
  core/bundles/next/lib/account/auth_signup_page.ex
  core/config/dev.exs
  core/config/runtime.fly.exs
  core/lib/core/authorization.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-next.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
  core/systems/account/_routes.ex
  core/systems/account/mock_auth.ex
  core/systems/account/terms_and_privacy_onboarding_page.ex
  core/systems/account/user_auth.ex
  core/test/bundles/next/account/auth_signup_page_test.exs
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/controllers/user_auth_test.exs
  core/test/features/panl_study_advert_test.exs
  core/test/features/terms_and_privacy_onboarding_test.exs
  core/test/systems/account/mock_auth_test.exs
  core/test/systems/account/terms_and_privacy_onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Attach Hook.Locale to routed LiveView macros
  core/lib/core_web.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Treat /user/onboarding as participant context for locale
  core/lib/core_web/live/hook/locale.ex
  core/test/features/panl_signup_locale_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add /user/await-confirmation to participant locale paths + fill missing signup translations
  core/lib/core_web/live/hook/locale.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-user.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-user.po
  core/priv/gettext/it/LC_MESSAGES/eyra-user.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-user.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-user.po
  core/test/features/panl_signup_locale_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Nest /user/await-confirmation and /user/confirm under /user/onboarding/*; config-ify locale path list; fix PanlStudyAdvert stale-DOM flake
  core/config/config.exs
  core/lib/core_web/live/hook/locale.ex
  core/systems/account/_routes.ex
  core/systems/account/confirm_token.ex
  core/systems/account/signup_page.ex
  core/systems/assignment/activate_account_view.ex
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/core_web/live/user/signup_test.exs
  core/test/features/panl_signup_locale_test.exs
  core/test/features/panl_study_advert_test.exs
  core/test/systems/account/await_confirmation_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fold terms-and-privacy step into OnboardingPage
  core/lib/core/authorization.ex
  core/lib/core/surfconext.ex
  core/lib/google_sign_in.ex
  core/lib/sign_in_with_apple.ex
  core/systems/account/_public.ex
  core/systems/account/_routes.ex
  core/systems/account/mock_auth.ex
  core/systems/account/onboarding_page.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/terms_and_privacy_onboarding_page.ex
  core/systems/account/user_auth.ex
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/controllers/user_auth_test.exs
  core/test/features/terms_and_privacy_onboarding_test.exs
  core/test/systems/account/mock_auth_test.exs
  core/test/systems/account/terms_and_privacy_onboarding_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Use APP_MAIL_DOMAIN as Mailgun domain on Fly
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add /user/profile to browser-locale path whitelist
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Extend browser-locale whitelist to signup/signin/reset-password/profile + fill missing UI translations
  core/config/config.exs
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/de/LC_MESSAGES/eyra-user.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/es/LC_MESSAGES/eyra-user.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/it/LC_MESSAGES/eyra-user.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-user.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-user.po
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fill remaining missing translations in signup/auth/onboarding domains
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/de/LC_MESSAGES/eyra-user.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/es/LC_MESSAGES/eyra-user.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/it/LC_MESSAGES/eyra-user.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-user.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-user.po
Due: none

Fix missing mobile margins on signin / activation / profile pages + add Area.full_bleed
  core/bundles/next/lib/account/signin_page.ex
  core/lib/core_web/ui/area.ex
  core/systems/account/await_confirmation.ex
  core/systems/account/confirm_token.ex
  core/systems/content/adaptable.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refactor Participants tab: drop PanlParticipantsView, split paid-slots into HTML + Logic; gate panl flags in template
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/profile_view.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/paid_slots_html.ex
  core/systems/assignment/paid_slots_logic.ex
  core/systems/assignment/panl_participants_view.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/template_questionnaire.ex
  core/systems/content/adaptable.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: show advert status
  core/priv/gettext/de/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-advert.po
  core/systems/advert/_public.ex
  core/systems/advert/model.ex
  core/systems/advert/settings_view.ex
  core/test/systems/advert/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Honor browser locale on home & clear stale session locale; fill complete.profile.* in lt/de/es/it/ro
  core/config/config.exs
  core/lib/core_web/live/hook/locale.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/it/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-nextaction.po
  core/test/systems/account/user_profile_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Simplify locale rule: EN for creators, browser locale for everyone else
  core/config/config.exs
  core/lib/core_web/live/hook/locale.ex
  core/systems/account/_plug.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fill missing helpdesk translations across nl/lt/de/es/it/ro
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
Due: none

Fill helpdesk ticket-type labels in lt/de/es/it/ro
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
Due: none

feat: update pool visibility logic and enhance assignment handling
  core/systems/advert/_public.ex
  core/systems/advert/funding_view.ex
  core/systems/advert/settings_view.ex
  core/systems/advert/view_model_builders.ex
  core/systems/pool/advert_item_builder.ex
  core/test/systems/advert/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: small validate_open refactor
  core/systems/advert/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: remove invisible flag
  core/systems/advert/_public.ex
  core/systems/advert/model.ex
  core/systems/advert/settings_view.ex
  core/test/systems/advert/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 23
  CHANGELOG.md
Due: none

Untrack .claude/scheduled_tasks.lock — per-session runtime state
  .claude/scheduled_tasks.lock
  .gitignore
Due: none
