Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Restore gettext translations lost during feat/surfconext-auth merge
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
Due: none

Fix SURFconext config key: site → base_url
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/test/core/surfconext/plug_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Restore EN translations for new auth/onboarding keys
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
Due: none

Add translations for auth.signup.* and terms_and_privacy.onboarding.*
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-next.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-next.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-next.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-next.po
Due: none

Update CHANGELOG for milestone 24
  CHANGELOG.md
Due: none

Trim CHANGELOG fixed list to prod-visible items only
  CHANGELOG.md
Due: none

Revert Dockerfile to debian:12 for AWS-compatible builds
  Dockerfile
Due: none

Pin renovate: block Debian major bumps
  renovate.json
Due: none

Fix email-domain deletion silently failing on org/edit
  core/frameworks/utility/ecto_helper.ex
  core/systems/org/node_model.ex
  core/test/frameworks/utility/ecto_helper_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix FunctionClauseError when toggling admin user filters
  core/systems/admin/account_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add /studies marketplace LiveView (UC-OPP-03)
  core/bundles/next/config/config.exs
  core/frameworks/pixel/components/breadcrumbs.ex
  core/lib/core/authorization.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/systems/home/_presenter.ex
  core/systems/home/_routes.ex
  core/systems/home/available_view.ex
  core/systems/home/page_builder.ex
  core/systems/home/studies_page.ex
  core/systems/home/studies_page_builder.ex
  core/systems/home/studies_view.ex
  core/test/systems/home/page_builder_test.exs
  core/test/systems/home/studies_page_builder_test.exs
  core/test/systems/home/studies_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: disable panl post launch
  core/bundles/next/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Move panl locale forcing out of view-model into Home.Private
  core/systems/home/_private.ex
  core/systems/home/page.ex
  core/systems/home/studies_page.ex
  core/systems/home/studies_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/home/studies_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add 'Uitbetalen' button + OPP withdrawal vertical slice (UC-OPP-06)
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/fund/_public.ex
  core/systems/fund/reward_model.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reward_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore pending-approvals CTA on participants tab
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/participants_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Address review feedback: regression test + @impl annotations
  core/systems/assignment/participants_view.ex
  core/test/systems/assignment/participants_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove GitHub PR template
  .github/pull_request_template.md
Due: none

Merge pull request #1502 from eyra/iris/e2e-fund-assignment-tests
  core/frameworks/e2e/controller.ex
  core/frameworks/pixel/components/form.ex
  core/lib/core/seeds/mix/seed.ex
  core/systems/assignment/budget_form.ex
  core/systems/assignment/paid_slots_html.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/local_controller.ex
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/global-setup.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Match the pre-refactor copy on the pending-approvals banner
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/participants_view.ex
  core/test/systems/assignment/participants_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore payout.* gettext translations lost in surfconext-auth merge
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Build the Pay-out overview tab
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/_public.ex
  core/systems/assignment/payout_modal.ex
  core/systems/assignment/payout_modal_builder.ex
  core/systems/fund/_public.ex
  core/test/systems/assignment/payout_modal_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Cover Assignment.Public.list_completed_payouts/1 with tests
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Trim unnecessary descriptive @doc comments
  core/systems/assignment/_public.ex
  core/systems/assignment/participants_view.ex
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore fuzzy DE/ES/IT translations wiped in eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
Due: none

Address review: pattern-match year, rename file, i18n filter label, tighten test, scope locale pinning, fix stale active_year
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/systems/home/adverts_view.ex
  core/systems/home/page.ex
  core/systems/home/studies_page_builder.ex
  core/systems/home/studies_view.ex
  core/test/systems/home/studies_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Drop apply_panl_locale and delete Home.Private
  core/systems/home/_private.ex
  core/systems/home/studies_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Rename /studies to /pool/:id/marketplace; move to Systems.Pool
  core/lib/core/authorization.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/eyra-pool.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/systems/home/_presenter.ex
  core/systems/home/_routes.ex
  core/systems/home/adverts_view.ex
  core/systems/home/page_builder.ex
  core/systems/home/studies_view.ex
  core/systems/pool/_routes.ex
  core/systems/pool/marketplace_page.ex
  core/systems/pool/marketplace_page_builder.ex
  core/systems/pool/marketplace_view.ex
  core/systems/pool/marketplace_view_builder.ex
  core/test/systems/home/page_builder_test.exs
  core/test/systems/home/studies_page_builder_test.exs
  core/test/systems/home/studies_page_test.exs
  core/test/systems/pool/marketplace_page_builder_test.exs
  core/test/systems/pool/marketplace_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Cover stale card_id and nil-title bug fixes with tests
  core/systems/pool/marketplace_view.ex
  core/systems/pool/marketplace_view_builder.ex
  core/test/systems/pool/marketplace_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Address PR #1526 review feedback from Melle
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/participants_view.ex
  core/systems/assignment/payout_modal.ex
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix payout modal crash: pass id to tab function components
  core/systems/assignment/payout_modal.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(e2e): add Approve Reward smoke spec (UC-OPP-05)
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/toolbar.ex
  core/systems/account/confirm_token.ex
  core/systems/assignment/activate_account_view_builder.ex
  core/systems/assignment/onboarding_view_builder.ex
  core/systems/consent/clickwrap_view.ex
  core/systems/manual/html.ex
  core/systems/manual/view_builder.ex
  core/systems/promotion/landing_page.ex
  core/test/e2e/approve_reward.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(e2e): drop weak overview-tab assertion
  core/test/e2e/approve_reward.spec.ts
Due: none

Stabilize onboarding feature tests with phx-connected waits
  core/test/features/onboarding_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Store SURFconext userinfo as a raw map instead of parsed fields
  core/config/config.exs
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/user.ex
  core/priv/repo/migrations/20260528120000_simplify_surfconext_user_to_raw_userinfo.exs
  core/test/core/surfconext/plug_test.exs
  core/test/core/surfconext/user_test.exs
  core/test/core/surfconext_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix mobile data-donation start page overlap; enable natural page scroll
  core/assets/tailwind.config.js
  core/lib/core_web/controllers/layouts/stripped/html.ex
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Use missingFeaturesReason helper for skip check
  core/test/e2e/approve_reward.spec.ts
Due: none

Add :unverified filter to admin user list
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/systems/admin/account_view_builder.ex
  core/systems/admin/user_filters.ex
  core/test/systems/admin/account_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(e2e): ship local payment simulator to dev via ENABLE_E2E_SUPPORT flag
  core/Dockerfile
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/fly.dev.toml
  core/systems/payment/_routes.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Extract :terms_and_privacy onboarding step into TermsAndPrivacyView
  core/systems/account/_presenter.ex
  core/systems/account/onboarding_page.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/terms_and_privacy_view.ex
  core/systems/account/terms_and_privacy_view_builder.ex
  core/test/systems/account/onboarding_page_builder_test.exs
  core/test/systems/account/terms_and_privacy_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
