Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Update eyra-consent.po
  core/priv/gettext/de/LC_MESSAGES/eyra-consent.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-ui.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
Due: none

Fixed test
  core/test/systems/consent/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#861 PDF Viewer width op brede schermen
  core/systems/document/pdf_nav_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#885 Unable to select a data source in workflow
  core/frameworks/fabric.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#883 Need to click twice on 'create storage' button
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/systems/assignment/_switch.ex
  core/systems/pool/_queries.ex
  core/systems/project/_switch.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#888 Data uploaded in preview mode is actually stored
  core/systems/assignment/_private.ex
  core/systems/assignment/content_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#882 Unable to select Panel when setting up data donation workflow
  core/systems/assignment/connector_popup_panel.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#892 [Storage] CMS: export all files
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/frameworks/concept/context.ex
  core/lib/core/apns.ex
  core/lib/core_web/controllers/push_subscription_controller.ex
  core/lib/core_web/controllers/push_subscription_html.ex
  core/lib/core_web/controllers/vapid_public_key.ex
  core/lib/core_web/router.ex
  core/lib/core_web/ui/timestamp.ex
  core/mix.exs
  core/mix.lock
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/project/_public.ex
  core/systems/storage/_routes.ex
  core/systems/storage/built_in/s3.ex
  core/systems/storage/controller.ex
  core/systems/storage/endpoint_data_view.ex
  core/test/core_web/controllers/push_subscription_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#898 [Storage] CMS: monitor events
  core/frameworks/signal/_public.ex
  core/frameworks/utility/module.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/assignment/_switch.ex
  core/systems/assignment/crew_page.ex
  core/systems/storage/_private.ex
  core/systems/storage/_public.ex
  core/systems/storage/_switch.ex
  core/systems/storage/built_in/endpoint_model.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_monitor_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#892 [Storage] CMS: export all files fixed download link
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Storage] CMS: empty storage #891
  core/frameworks/pixel/components/button_face.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/storage/_public.ex
  core/systems/storage/_switch.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/backend.ex
  core/systems/storage/built_in/backend.ex
  core/systems/storage/built_in/local_fs.ex
  core/systems/storage/built_in/s3.ex
  core/systems/storage/built_in/special.ex
  core/systems/storage/centerdata/backend.ex
  core/systems/storage/delivery.ex
  core/systems/storage/empty_confirmation_view.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_data_view.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/yoda/backend.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed realtime changes in helpdesk page
  core/systems/assignment/_public.ex
  core/systems/assignment/_queries.ex
  core/systems/assignment/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#900 Questionnaire monitor does not capture start
  core/frameworks/pixel/components/button_action.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/start_view.ex
  core/systems/crew/_public.ex
  core/test/systems/crew/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#904 Consent form text not visible at ( i )
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/onboarding_consent_view.ex
  core/systems/consent/_public.ex
  core/systems/consent/clickwrap_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#773 Server error 500 when clicking on support ticket
  core/frameworks/pixel/components/navigation.ex
  core/systems/content/html.ex
  core/systems/support/ticket_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fixed action_bar attributes
  core/frameworks/pixel/components/navigation.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Changed default storage name to 'Data'
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/assignment/storage_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
Due: none

Update eyra-content.po
  core/priv/gettext/en/LC_MESSAGES/eyra-content.po
Due: none

#909 small speed-up export, #911 handle 1000+ files
  core/config/config.exs
  core/frameworks/utility/enum_helpers.ex
  core/systems/storage/built_in/s3.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
Due: none

#912 Brief high cpu usage when opening storage card with 900+ files
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/text.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/priv/static/images/icons/loading.png
  core/priv/static/images/icons/loading.svg
  core/priv/static/images/icons/loading@2x.png
  core/priv/static/images/icons/loading_primary@3x.png
  core/priv/static/images/icons/loading_white@3x.png
  core/systems/project/item_model.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_data_view.ex
  core/systems/storage/endpoint_files_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#916 Title data storage CMS
  core/frameworks/concept/context.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/project/_public.ex
  core/systems/storage/controller.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Made Data Files tab realtime again
  core/systems/storage/endpoint_content_page.ex
  core/systems/storage/endpoint_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
