Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Refactor affiliate access control and storage backend filename API
  core/systems/affiliate/controller.ex
  core/systems/assignment/crew_page.ex
  core/systems/storage/_public.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/backend.ex
  core/systems/storage/builtin/backend.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/yoda/backend.ex
  core/test/systems/storage/aws/backend_test.exs
  core/test/systems/storage/azure/backend_test.exs
  core/test/systems/storage/builtin/backend_test.exs
  core/test/systems/storage/yoda/backend_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix duplicate data donation storage
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add debug logging for concurrent data donation issue
  core/systems/assignment/crew_page.ex
  core/systems/storage/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add mix release alias to trigger GitHub Release workflow
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Refactor data donation to use HTTP upload instead of WebSocket
  core/assets/js/feldspar_app.js
  core/config/config.exs
  core/lib/core_web/endpoint.ex
  core/mix.exs
  core/priv/repo/migrations/20260120131804_add_user_to_storage_job_data.exs
  core/priv/repo/migrations/20260120141937_add_meta_data_to_storage_job_data.exs
  core/priv/repo/migrations/20260120142236_drop_description_from_storage_job_data.exs
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/crew_task_single_view_builder.ex
  core/systems/feldspar/_routes.ex
  core/systems/feldspar/app_page.ex
  core/systems/feldspar/app_view.ex
  core/systems/feldspar/data_donation_controller.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/systems/storage/_public.ex
  core/systems/storage/job_data_model.ex
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/storage/job_data_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add unit tests for data donation controller and fix release alias
  core/mix.exs
  core/systems/feldspar/data_donation_controller.ex
  core/systems/project/_public.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix storage backends to return consistent :ok | {:error, term()} types
  core/systems/storage/aws/backend.ex
  core/systems/storage/backend.ex
  core/systems/storage/builtin/local_fs.ex
  core/systems/storage/builtin/s3.ex
  core/systems/storage/builtin/special.ex
  core/systems/storage/delivery.ex
  core/systems/storage/yoda/backend.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add configurable HTTP body max size for data donation uploads
  core/config/config.exs
  core/config/runtime.exs
  core/lib/core_web/endpoint.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refactor data donation storage to use filesystem instead of database
  core/.gitignore
  core/config/dev.exs
  core/config/runtime.exs
  core/config/test.exs
  core/guides/docker.md
  core/priv/repo/migrations/20260121094231_drop_storage_job_data.exs
  core/priv/static/images/label-arrow-success.svg
  core/systems/admin/actions_view.ex
  core/systems/assignment/crew_page.ex
  core/systems/feldspar/data_donation_cleanup_worker.ex
  core/systems/feldspar/data_donation_controller.ex
  core/systems/feldspar/data_donation_folder.ex
  core/systems/rate/server.ex
  core/systems/storage/_private.ex
  core/systems/storage/_public.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/builtin/backend.ex
  core/systems/storage/delivery.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/filename.ex
  core/systems/storage/job_data_cleanup_worker.ex
  core/systems/storage/job_data_model.ex
  core/systems/storage/yoda/backend.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
  core/test/systems/storage/aws/backend_test.exs
  core/test/systems/storage/azure/backend_test.exs
  core/test/systems/storage/builtin/backend_test.exs
  core/test/systems/storage/delivery_test.exs
  core/test/systems/storage/job_data_cleanup_worker_test.exs
  core/test/systems/storage/job_data_model_test.exs
  core/test/systems/storage/yoda/backend_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix temp_file_store config key in runtime.exs
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Move temp_file_store config to config.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/config/test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Normalize logo paths to lowercase and fix flaky PANL signup test
  core/frameworks/pixel/components/logo.ex
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add node-local Oban queue for storage delivery
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/systems/feldspar/data_donation_cleanup_worker.ex
  core/systems/storage/_private.ex
  core/systems/storage/_public.ex
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix consent decline crash and add Wallaby integration tests
  core/config/test.exs
  core/mix.exs
  core/mix.lock
  core/systems/assignment/crew_page.ex
  core/test/features/consent_decline_test.exs
  core/test/features/smoke_test.exs
  core/test/support/feature_case.ex
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Claude Code release workflow commands
  .claude/commands/ey-announce-release.md
  .claude/commands/ey-commit.md
  .claude/commands/ey-release.md
Due: none

Improve milestone matching in ey-announce-release command
  .claude/commands/ey-announce-release.md
Due: none

Add ey-finalize command for milestone completion
  .claude/commands/ey-finalize.md
Due: none

Skip consent decline feature tests pending CI debugging
  core/test/features/consent_decline_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add catch-all handle_info to Manual.View
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Ignore Wallaby functions in Dialyzer
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Ignore Dialyzer warning in DataDonationController
  core/.dialyzer_ignore.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix FunctionClauseError in embedded LiveViews for flash messages
  core/frameworks/pixel/flash.ex
  core/lib/core_web.ex
  core/test/systems/assignment/crew_task_single_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix file upload controller to handle invalid filenames and missing files
  core/lib/core_web/controllers/uploaded_file.ex
  core/test/core_web/controllers/uploaded_file_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Handle Ecto.NoResultsError in GreenLight authorization context
  core/frameworks/green_light/_live_hook.ex
  core/test/green_light/live_hook_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix BadMapError in UserState when parsing conflicting paths
  core/frameworks/user_state.ex
  core/test/frameworks/user_state_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix CaseClauseError in NodePageEmptyDataView for Ecto.Multi errors
  core/systems/project/node_page_empty_data_view.ex
  core/test/systems/project/node_page_empty_data_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add UserState schema validation with migration support
  core/config/dev.exs
  core/config/test.exs
  core/frameworks/user_state.ex
  core/frameworks/user_state/migrators/v1_to_v2.ex
  core/frameworks/user_state/schema_registry.ex
  core/frameworks/user_state/schemas/v1.ex
  core/frameworks/user_state/schemas/v2.ex
  core/frameworks/user_state/transformer.ex
  core/test/frameworks/user_state/schema_registry_test.exs
  core/test/frameworks/user_state/transformer_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/frameworks/user_state/migrators/v1_to_v2.ex
  core/frameworks/user_state/schema_registry.ex
  core/frameworks/user_state/schemas/v1.ex
  core/frameworks/user_state/schemas/v2.ex
  core/frameworks/user_state/transformer.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add AppSignal MCP server configuration
  .gitignore
  .mcp.json
Due: none

Add unique_constraint to sso_changeset to handle duplicate email errors
  core/systems/account/user.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add centralized SSO error handling and fix duplicate email across all providers
  core/lib/core/sso_helpers.ex
  core/lib/core/surfconext/plug.ex
  core/lib/external_sign_in.ex
  core/lib/google_sign_in/plug.ex
  core/lib/sign_in_with_apple/plug.ex
  core/test/core/surfconext/plug_test.exs
  core/test/systems/account/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix race condition in workflow item deletion causing StaleEntryError
  core/frameworks/pixel/components/button_action.ex
  core/systems/workflow/_public.ex
  core/systems/workflow/item_cell.ex
  core/test/systems/workflow/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove AppSignal MCP server configuration
  .mcp.json
Due: none

Fix panel_info retrieval for external panel participant IDs
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_task_helpers.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix files donated without participant identifier due to timing bug
  core/lib/core_web/controllers/uploaded_file.ex
  core/systems/assignment/_presenter.ex
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/assignment/crew_task_single_view_builder.ex
  core/test/core_web/controllers/uploaded_file_controller_test.exs
  core/test/systems/assignment/crew_task_list_view_test.exs
  core/test/systems/assignment/factories.ex
  core/test/systems/feldspar/tool_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update Prism UI to 0.1.5 with spinner centering fix
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Add changelog entry for hotfix 20.2
  CHANGELOG.md
Due: none
