Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Fixed dialog positioning (#603)
  core/systems/campaign/overview_page.ex
  core/systems/content/page.ex
  core/systems/project/overview_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed double error messages (#604)
  core/frameworks/pixel/components/form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added email to user profile
  core/lib/core_web/live/user/forms/profile.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added email to user profile (#605)
  core/lib/core_web/live/user/forms/profile.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed form fields default state + made user profile live content
  core/frameworks/pixel/components/form.ex
  core/lib/core_web/live/user/forms/profile.ex
  core/lib/core_web/live/user/reset_password_token.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed form fields default state + made user profile live content (#607)
  core/frameworks/pixel/components/form.ex
  core/lib/core_web/live/user/forms/profile.ex
  core/lib/core_web/live/user/reset_password_token.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
Due: none

Update tool_form.ex
  core/systems/alliance/tool_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
Due: none

Update eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

deploy: 432454bc89b166b4f401174ce8c2ef562af04a53
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Implemented Monitor Widgets #572 and added Framework.Utility.Query sugar
  core/frameworks/utililty/query.ex
  core/lib/core/accounts/user.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/_public.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/monitor_view.ex
  core/systems/crew/_public.ex
  core/systems/crew/_queries.ex
  core/systems/crew/member_model.ex
  core/systems/crew/selector.ex
  core/systems/crew/task_model.ex
  core/systems/crew/task_status.ex
  core/test/frameworks/utility/query_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/crew/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix publish icon
  core/priv/static/images/icons/publish.svg
  core/systems/assignment/content_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix incorrect name in key map
  core/systems/storage/azure/backend.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: ef3566d4cf0588054bd55583f91a2ae023604610
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Added Built-in Storage Service
  SELFHOSTING.md
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/errors.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/repo/migrations/20240211150908_add_storage_built_in.exs
  core/systems/assignment/_private.ex
  core/systems/assignment/connection_view.ex
  core/systems/assignment/connection_view_storage.ex
  core/systems/assignment/connector_popup_storage.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/storage/_private.ex
  core/systems/storage/built_in/backend.ex
  core/systems/storage/built_in/endpoint_form.ex
  core/systems/storage/built_in/endpoint_model.ex
  core/systems/storage/built_in/local_fs.ex
  core/systems/storage/built_in/s3.ex
  core/systems/storage/built_in/special.ex
  core/systems/storage/delivery.ex
  core/systems/storage/endpoint_form.ex
  core/systems/storage/endpoint_model.ex
  core/systems/storage/service_ids.ex
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/systems/storage/builtin/backend_test.exs
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed runtime config
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed runtime config II
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Added Jason Encoder
  core/systems/storage/endpoint_model.ex
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Testing Jason Decoder
  core/systems/storage/endpoint_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added logging
  core/systems/storage/built_in/endpoint_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added logging
  core/systems/assignment/connector_popup_storage.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added logging
  core/frameworks/utililty/ecto_helper.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed delete storage endpoint special
  core/frameworks/fabric/live_component.ex
  core/frameworks/utililty/ecto_helper.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/connector_popup_storage.ex
  core/systems/storage/built_in/endpoint_form.ex
  core/systems/storage/endpoint_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added try-rescue around Oban storage delivery
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

links clickable in pdfs from pdf.js
  core/assets/js/pdf_viewer.js
Due: none

deploy: f5d4d991ddcf32d2426c387099ebbb1fa8ec901a
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Update eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
Due: none

Update eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
Due: none

Implemented progress bar for every task #573
  core/.dialyzer_ignore.exs
  core/frameworks/pixel/components/widget.ex
  core/frameworks/utililty/identifier.ex
  core/frameworks/utililty/module.ex
  core/lib/core/accounts/user.ex
  core/lib/core/authorization.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/eyra-pool.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/systems/assignment/_private.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/monitor_view.ex
  core/systems/monitor/_public.ex
  core/systems/student/pool/detail_page_builder.ex
  core/test/frameworks/utility/identifier_test.exs
  core/test/frameworks/utility/module_test.exs
  core/test/systems/assignment/_private_test.exs
  core/test/systems/assignment/factories.ex
  core/test/systems/monitor/_public_test.exs
  core/test/systems/promotion/landing_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed: Upload privacy document and integrate in consent page #629
  core/assets/css/app.css
  core/assets/js/clipboard.js
  core/assets/js/pdf_viewer.js
  core/frameworks/pixel/components/file_selector.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20240222120319_add_privacy_doc.exs
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/model.ex
  core/systems/assignment/privacy_form.ex
  core/systems/assignment/settings_view.ex
  core/systems/content/_public.ex
  core/systems/content/file_copy_view.ex
  core/systems/content/file_model.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/document/pdf_view.ex
  core/systems/document/tool_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed widget shadows and grid gap
  core/frameworks/pixel/components/widget.ex
  core/systems/assignment/monitor_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added expected number of participants to CMS and Monitor
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/info_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
