Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

make container run by default
  .devcontainer/devcontainer.json
  Dockerfile
  Dockerfile-postgres
  docker-compose.yml
Due: none

#1130 Added Lifeline support for Oban jobs
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Support feature flags for features that don't exist yet #986
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed build warning using 'module.function() notation (with parentheses) is deprecated'
  core/frameworks/concept/content_model.ex
  core/systems/alliance/tool_model.ex
  core/systems/document/tool_model.ex
  core/systems/feldspar/tool_model.ex
  core/systems/graphite/tool_model.ex
  core/systems/lab/tool_model.ex
  core/systems/manual/tool_model.ex
  core/systems/storage/aws/endpoint_model.ex
  core/systems/storage/azure/endpoint_model.ex
  core/systems/storage/builtin/endpoint_model.ex
  core/systems/storage/centerdata/endpoint_model.ex
  core/systems/storage/yoda/endpoint_model.ex
  core/systems/workflow/item_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Made Oban plugins optional in prod
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Made Oban plugins optional in prod (docs)
  SELFHOSTING.md
Due: none

feat: display persistent alert banner after account confirmation
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/pixel/components/alert-banner.ex
  core/systems/account/confirm_token.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: revert unintended change in error case
  core/bundles/next/lib/account/signin_page.ex
  core/systems/account/confirm_token.ex
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

folder path tries to be created returns error tuple if fails, can be ignored. Returns the list called 'files' with file Maps that is expected by Systems.Storage.Html.files_table
  core/systems/storage/builtin/local_fs.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: implement review feedback
  core/systems/content/html.ex
  core/systems/home/page.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: add gettext translations for home page
  core/priv/gettext/de/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/systems/home/view.ex
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: move render logic to html module
  core/systems/home/html.ex
  core/systems/home/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: update video
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 41a38b0d4d508fc3a19c42f5ec32b85fcb893a5b
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Formatted code
  core/systems/storage/builtin/local_fs.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Header on mobile #1139
  core/frameworks/pixel/components/hero.ex
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Manual switches back to start #1140
  core/assets/js/app.js
  core/assets/js/user_state.js
  core/assets/js/user_state_observer.js
  core/frameworks/utility/user_state.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_work_helpers.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/manual/chapter_list_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/manual/tool_view.ex
  core/systems/manual/view.ex
  core/systems/workflow/tool_ref_view.ex
  core/test/systems/assignment/crew_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Make generate.sh executable
  postgres_ssl/generate.sh
Due: none

FeldsparApp now supports explicit app-loaded event
  core/assets/js/feldspar_app.js
Due: none

feat: add manual builder to library for Panl studies
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Issues with single task workflow #1147
  core/assets/js/user_state.js
  core/mix.lock
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Manual navigation #1146
  core/frameworks/pixel/components/modal_view.ex
  core/frameworks/pixel/components/toolbar.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/manual/tool_view.ex
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy changes
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
Due: none

Manual builder close button does not respond #1149
  core/frameworks/pixel/components/modal_view.ex
  core/systems/assignment/crew_task_single_view.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/tool_view.ex
  core/systems/manual/view.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed debug logging
  core/assets/js/user_state_observer.js
Due: none

Fix onAppLoaded for new Feldspar apps
  core/assets/js/feldspar_app.js
Due: none

Fix onAppLoaded for new Feldspar apps (#1150)
  core/assets/js/feldspar_app.js
Due: none

deploy: 2979a9ea6c99baa17fd87d295b8ff8324547e742
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Fixed test warnings regarding Plug.Test
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/local_image_catalog_plug_test.exs
  core/test/core_web/www_redirect_test.exs
  core/test/google_sign_in/plug_test.exs
  core/test/green_light/green_light/plug.exs
  core/test/sign_in_with_apple/helpers_test.exs
  core/test/sign_in_with_apple/plug_test.exs
  core/test/systems/content/plug_test.exs
  core/test/systems/feldspar/plug_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: responsiveness in embed video
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: use numbericon instead of custom, add elixirls to gitignore
  .gitignore
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: use dynamic text for caption
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: use shadow instead of drop-shadow to ensure consistency
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
