Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Fix Google Sign In callback to show error message instead of 500
  core/lib/google_sign_in.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Show 404 for deleted assignments instead of Access Denied
  core/lib/core_web/controllers/error_controller.ex
  core/lib/core_web/resource_exists_plug.ex
  core/lib/core_web/routes.ex
  core/systems/assignment/_routes.ex
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix CaseClauseError in NodePageEmptyDataView for Ecto.Multi errors
  core/systems/project/node_page_empty_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove obsolete dominant_hands and native_languages references from submission view
  core/systems/advert/submission_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Invalidate participant URL when data donation item is deleted
  core/bundles/next/lib/account/signin_page_builder.ex
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/clickable_card.ex
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/selector.ex
  core/frameworks/pixel/components/tabbed.ex
  core/lib/core_web/controllers/error_html.ex
  core/lib/core_web/resource_exists_plug.ex
  core/systems/account/user_form.ex
  core/systems/affiliate/controller.ex
  core/systems/affiliate/html.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/project/create_item_view.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/overview_page.ex
  core/test/CLAUDE.md
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix Wallaby feature tests for CI timing issues
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix Wallaby feature tests - wait for tab panel instead of phx-connected
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix Wallaby tests - scope selectors to creator tab panel
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix Wallaby tests - use tab URL param to avoid JS race conditions
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Increase Wallaby max_wait_time for slow CI environments
  core/config/test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Debug: Log full HTML on CI to investigate visibility issue
  core/test/features/project_item_data_donation_create_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add asset build step to CI for Wallaby tests
  .github/workflows/test.yml
Due: none

Remove debug logging from feature test
  core/test/features/project_item_data_donation_create_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Document CI requirement for CSS assets in Wallaby tests
  core/test/CLAUDE.md
Due: none

Revert "Document CI requirement for CSS assets in Wallaby tests"
  core/test/CLAUDE.md
Due: none

Fix flaky PanlSignupTest by using async: false
  core/test/CLAUDE.md
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

[Feldspar] Add error handling to donate flow
  core/assets/js/feldspar_app.js
Due: none

Add documentation for donate response contract
  core/assets/js/feldspar_app.js
Due: none

Add console.error logging for donate errors
  core/assets/js/feldspar_app.js
Due: none

Add debug logging for successful donations
  core/assets/js/feldspar_app.js
Due: none

Improve data donation controller error logging and docs
  core/systems/feldspar/data_donation_controller.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Prevent file deletion on storage transaction failure
  core/config/test.exs
  core/systems/feldspar/data_donation_folder.ex
  core/systems/storage/_public.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add JobScheduler abstraction and fix Multi error handling
  core/config/config.exs
  core/systems/feldspar/data_donation_controller.ex
  core/systems/feldspar/data_donation_folder.ex
  core/systems/storage/_public.ex
  core/systems/storage/job_scheduler.ex
  core/systems/storage/job_scheduler_oban.ex
  core/systems/storage/temp_file_store.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add explicit error handling for scheduling failures in data donation controller
  core/systems/feldspar/data_donation_controller.ex
  core/test/systems/feldspar/data_donation_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Handle LiveView disconnection in Feldspar event push
  core/assets/js/feldspar_app.js
Due: none

Add concurrent donation load test script
  core/scripts/load_test_concurrent_donate.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add Playwright e2e test infrastructure
  core/.gitattributes
  core/mix.exs
  core/test/e2e/.gitignore
  core/test/e2e/package-lock.json
  core/test/e2e/package.json
  core/test/e2e/playwright.config.ts
  core/test/e2e/test_donate.spec.ts
  core/test/e2e/testfiles/user_data_tiktok_150K.zip
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/test/e2e/testfiles/user_data_tiktok_150K.zip
Due: none

Add lfs.pull alias and include in setup task
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix integer overflow when deleting large file storage
  core/priv/repo/migrations/20260205120000_alter_monitor_events_value_to_bigint.exs
  core/systems/monitor/_queries.ex
  core/test/systems/monitor/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix race condition in affiliate user creation
  core/systems/account/user.ex
  core/systems/affiliate/_public.ex
  core/test/systems/affiliate/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove Renovate rate limits to fix blocked updates
  renovate.json
Due: none

Add Fly.io deployment infrastructure
  .github/workflows/fly-deploy-dev.yml
  Dockerfile
  core/Dockerfile
  core/config/config.exs
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/fly.dev.toml
  core/rel/env.sh.eex
  core/rel/inetrc
  core/rel/vm.args.eex
  core/scripts/build-release
  core/scripts/docker-start-app
  core/scripts/migrate-and-start
  core/scripts/predeploy
  core/test/e2e/test-results/.last-run.json
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix: Remove unsupported --release-notes flag, use GIT_COMMIT build arg instead
  .github/workflows/fly-deploy-dev.yml
  core/Dockerfile
Due: none

Use FLY_API_TOKEN_DEV secret name
  .github/workflows/fly-deploy-dev.yml
Due: none

Remove test branch trigger from fly-deploy-dev workflow
  .github/workflows/fly-deploy-dev.yml
Due: none

Add Fly.io deployment infrastructure
  .github/workflows/fly-deploy-dev.yml
  .github/workflows/fly-deploy-test.yml
  Dockerfile
  core/Dockerfile
  core/config/config.exs
  core/config/prod.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/fly.dev.toml
  core/fly.test.toml
  core/rel/env.sh.eex
  core/rel/inetrc
  core/rel/vm.args.eex
  core/scripts/build-release
  core/scripts/docker-start-app
  core/scripts/migrate-and-start
  core/scripts/predeploy
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Add test server deployment workflow
  .github/workflows/fly-deploy-test.yml
  core/config/runtime.fly.exs
  core/fly.test.toml
Due: mix-format, mix-test, mix-credo, mix-dialyzer
