Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Remove Alpine.js completely from the codebase
  core/assets/js/_hooks/index.js
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/bundles/next/lib/menu/items.ex
  core/bundles/self/lib/menu/items.ex
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/frameworks/pixel/components/clickable_card.ex
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/selector.ex
  core/lib/core_web/controllers/layouts/error.html.heex
  core/lib/core_web/controllers/layouts/live.html.leex
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/website/html.ex
  core/lib/core_web/controllers/layouts/workspace/html.ex
  core/lib/core_web/live/component_test_live.ex
  core/lib/core_web/live/routes.ex
  core/systems/assignment/assignment_form.ex
  core/systems/assignment/ethical_form.ex
  core/test/core_web/live/mobile_menu_test.exs
  core/test/frameworks/pixel/selector_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Renamed errors to warnings
  core/priv/gettext/de/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/en/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/es/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/eyra-zircon.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-zircon.po
  core/systems/zircon/_presenter.ex
  core/systems/zircon/screening/import_session_errors_view.ex
  core/systems/zircon/screening/import_session_errors_view_builder.ex
  core/systems/zircon/screening/import_view.ex
  core/systems/zircon/screening/import_view_builder.ex
  core/test/systems/paper/ris_line_tracking_test.exs
  core/test/systems/paper/ris_processor_test.exs
  core/test/systems/zircon/screening/import_session_errors_view_builder_test.exs
  core/test/systems/zircon/screening/import_session_errors_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed: When all papers in a page are deleted an empty table is shown
  core/systems/zircon/screening/paper_set_view_builder.ex
  core/test/systems/zircon/screening/paper_set_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed S3 stream error
  core/systems/content/s3.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Improved error handling stream setup in Content.LocalFS and Content.S3
  core/priv/gettext/de/LC_MESSAGES/eyra-content.po
  core/priv/gettext/en/LC_MESSAGES/eyra-content.po
  core/priv/gettext/es/LC_MESSAGES/eyra-content.po
  core/priv/gettext/eyra-content.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-content.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-content.po
  core/systems/content/local_fs.ex
  core/systems/content/s3.ex
  core/systems/paper/ris_import_prepare_job.ex
  core/test/systems/content/local_fs_stream_test.exs
  core/test/systems/paper/ris_import_prepare_job_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add a way to store/restore tab in query string
  core/assets/js/tabbed.js
  core/frameworks/pixel/components/tabbed.ex
  core/systems/account/user_profile_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix Phoenix LiveView 'no component for CID' errors
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed error where iframe was not yet available
  core/assets/js/feldspar_app.js
Due: none

Fixed release build issue
  .tool-versions
Due: none

Temporary create prod.exs file since we use a pre released version pf Phoenix Live View that somehow needs it
  Dockerfile
Due: none

Fixed the CID issue properly with my own fork
  Dockerfile
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update phoenix_live_view to 1.1.11 (includes fix for CID bug)
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: enable panl tabs, alter characteristics, fix save logic
  core/frameworks/pixel/components/tabbed.ex
  core/lib/core/enums/genders.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/repo/migrations/20250904073644_update_user_features_fields.exs
  core/systems/account/_switch.ex
  core/systems/account/features_form.ex
  core/systems/account/features_model.ex
  core/systems/account/user_form.ex
  core/systems/advert/submission_view.ex
  core/systems/pool/_public.ex
  core/systems/pool/criteria_model.ex
  core/systems/student/_director.ex
  core/test/systems/pool/criteria_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: use selector component to display the privacy policy checkbox
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add banner to prompt participant to fill in characteristics
  core/priv/gettext/de/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/eyra-nextaction.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/systems/account/_switch.ex
  core/systems/account/next_actions/fillin_characteristics.ex
  core/systems/pool/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Old error message stays put even when selecting different correct file
  core/frameworks/pixel/flash.ex
  core/systems/zircon/screening/import_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Helpdesk form - switching type causes immediate submit
  core/frameworks/pixel/components/form.ex
  core/lib/core_web/live_form.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-alliance.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/systems/support/_public.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/systems/support/helpdesk_page_builder.ex
  core/systems/support/ticket_model.ex
  core/test/systems/crew/_public_test.exs
  core/test/systems/support/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(deps): update dependency ex_cldr_plugs to == 1.3.4
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: remove left-over data-=true
  core/frameworks/pixel/components/tabbed.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: rename available_view to avoid name confusion
  core/systems/home/available_view.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: Update pdfjs-dist dependency and remove package-lock.json and package.json
  core/assets/js/pdf_viewer.js
  core/assets/package-lock.json
  core/assets/package.json
  core/package-lock.json
  core/package.json
Due: none

fix: correct colors assignment in normal function
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: remove redundant variable
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Press return changing number of participants causes refresh
  core/systems/assignment/general_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Pressing Done on PDF causes refresh of PDF
  core/systems/assignment/crew_task_list_view.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Revert: chore(deps): update node.js to v24.9.0 (#1332)
  .tool-versions
Due: none

feat: add new criteria and remove old criteria for pool adverts.
  core/priv/gettext/de/LC_MESSAGES/link-advert.po
  core/priv/gettext/en/LC_MESSAGES/link-advert.po
  core/priv/gettext/es/LC_MESSAGES/link-advert.po
  core/priv/gettext/it/LC_MESSAGES/link-advert.po
  core/priv/gettext/link-advert.pot
  core/priv/gettext/nl/LC_MESSAGES/link-advert.po
  core/priv/repo/migrations/20250918140818_add_birth_year_fields_to_eligibility_criteria.exs
  core/systems/advert/advert_helpers.ex
  core/systems/advert/selector_labels.ex
  core/systems/advert/submission_view.ex
  core/systems/citizen/_director.ex
  core/systems/pool/_public.ex
  core/systems/pool/criteria_model.ex
  core/systems/student/_director.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: remove birth_years from inclusion criteria in Director modules
  core/systems/citizen/_director.ex
  core/systems/student/_director.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add filtering for 'prefer not to say' option in gender selection
  core/systems/advert/selector_labels.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Run Renovate once a week on mondau morning
  renovate.json
Due: none

bump nodejs to 24.9.0
  .tool-versions
Due: none

deploy: 4fd57bd61e4f42f18f8e0940bc10e706e9f66163
  banking_proxy/.build
  banking_proxy/404.html
  banking_proxy/BankingProxy.App.html
  banking_proxy/BankingProxy.BankingBackend.html
  banking_proxy/BankingProxy.Protocol.html
  banking_proxy/BankingProxy.Server.html
  banking_proxy/BankingProxy.Supervisor.html
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.API.html
  banking_proxy/Bunq.Conn.html
  banking_proxy/Bunq.Cursor.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/Bunq.SetupCLI.html
  banking_proxy/Bunq.html
  banking_proxy/api-reference.html
  banking_proxy/banking_proxy.epub
  banking_proxy/dist/handlebars.runtime-NWIB6V2M.js
  banking_proxy/dist/handlebars.templates-K7URE6B4.js
  banking_proxy/dist/html-HJ5ACJPS.js
  banking_proxy/dist/html-Y223O6DN.js
  banking_proxy/dist/html-elixir-QYVRUQZX.css
  banking_proxy/dist/html-elixir-RLZO5U2C.css
  banking_proxy/dist/inconsolata-latin-400-normal-RGKDDNDD.woff2
  banking_proxy/dist/inconsolata-latin-700-normal-DTS2D7TO.woff2
  banking_proxy/dist/inconsolata-latin-ext-400-normal-K7HVGTP7.woff2
  banking_proxy/dist/inconsolata-latin-ext-700-normal-4MPBLFZC.woff2
  banking_proxy/dist/inconsolata-vietnamese-400-normal-IGQPHHJH.woff2
  banking_proxy/dist/inconsolata-vietnamese-700-normal-LHEGSN35.woff2
  banking_proxy/dist/lato-latin-300-normal-YUMVEFOL.woff2
  banking_proxy/dist/lato-latin-ext-300-normal-VPGGJKJL.woff2
  banking_proxy/dist/remixicon-NKANDIL5.woff2
  banking_proxy/dist/remixicon-QPNJX265.woff2
  banking_proxy/dist/search_data-35DDA803.js
  banking_proxy/dist/search_data-47A92102.js
  banking_proxy/dist/sidebar_items-31AE7ED1.js
  banking_proxy/dist/sidebar_items-D51E17FF.js
  banking_proxy/index.html
  banking_proxy/readme.html
  banking_proxy/search.html
Due: none

Updated changelog
  CHANGELOG.md
Due: none

deploy: 8a8446dc0f0f15aae5a99fe3c1c9a3ae1ec52d3c
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

feat: implement SubmissionViewBuilder
  core/systems/advert/_presenter.ex
  core/systems/advert/_switch.ex
  core/systems/advert/advert_helpers.ex
  core/systems/advert/content_page_builder.ex
  core/systems/advert/selector_labels.ex
  core/systems/advert/submission_view.ex
  core/systems/advert/submission_view_builder.ex
  core/systems/pool/_public.ex
  core/systems/pool/criteria_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: ci changes and restore error messages
  core/systems/advert/submission_view.ex
  core/systems/advert/submission_view_builder.ex
  core/systems/pool/criteria_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

ci: formatting fix
  core/systems/advert/submission_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: add inotify-tools to Dockerfile to enable hot-reload
  Dockerfile
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none
