Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Remove non-copy changes from onboarding PR
  core/priv/gettext/de/LC_MESSAGES/errors.po
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/errors.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/errors.pot
  core/priv/gettext/es/LC_MESSAGES/errors.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/it/LC_MESSAGES/errors.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/errors.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/errors.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/errors.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/systems/account/features_model.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/terms_and_privacy_view.ex
  core/test/systems/account/features_view_test.exs
  core/test/systems/account/onboarding_page_builder_test.exs
  core/test/systems/account/terms_and_privacy_view_test.exs
  core/test/systems/pool/onboarding_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove remaining non-copy change
  core/systems/account/features_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update test for account onboarding copy
  core/test/systems/account/terms_and_privacy_view_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: drop the workspace top gap and card border in the native app
  core/lib/core_web/controllers/layouts/workspace/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add ChatGPT workflow platform
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/priv/static/images/logos/platforms/chatgpt.svg
  core/priv/static/images/logos/platforms/chatgpt_square.svg
  core/systems/workflow/platforms.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Recover Feldspar donations after interrupted browser attempts
  core/assets/js/app.js
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_recovery.js
  core/assets/js/feldspar_recovery.test.js
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/crew_task_single_view_builder.ex
  core/systems/feldspar/app_view.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Recover unresponsive Feldspar iframe attempts
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
  core/assets/js/feldspar_liveness.js
  core/assets/js/feldspar_liveness.test.js
  core/assets/js/feldspar_recovery.js
  core/assets/js/feldspar_recovery.test.js
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix Feldspar reconnect, failed exits and completed navigation
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_recovery.js
  core/assets/js/feldspar_recovery.test.js
  core/systems/assignment/crew_page_builder.ex
  core/test/systems/assignment/crew_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Initialize each Feldspar iframe only once
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
Due: none

Prefill support requests for interrupted Feldspar tasks
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Include task names in Feldspar recovery support requests
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Clear recovery markers after acknowledged Feldspar failures
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_recovery.test.js
Due: none

Preserve explicit Feldspar retries from the finished page
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/systems/assignment/crew_page_builder.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/assignment/crew_page_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Move Feldspar recovery policy into Assignment hosts
  core/assets/js/feldspar_recovery.js
  core/assets/js/feldspar_recovery.test.js
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/crew_task_single_view_builder.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/assignment/crew_task_single_view_builder_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Initialize each Feldspar iframe only once (#1825)
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
Due: none

Recover Feldspar donations after a tab or browser kill (#1822)
  core/assets/js/app.js
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_recovery.js
  core/assets/js/feldspar_recovery.test.js
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/assignment/crew_task_helpers.ex
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/crew_task_single_view_builder.ex
  core/systems/feldspar/app_view.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/assignment/crew_task_single_view_builder_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Translate the study unavailable page
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

Translate the study unavailable page (#1826)
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
Due: none

Show the support email on the Feldspar recovery screen
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/assignment/crew_task_helpers.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Show the support email on the Feldspar recovery screen (#1827)
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/assignment/crew_task_helpers.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/systems/support/helpdesk_form.ex
  core/systems/support/helpdesk_page.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
  core/test/systems/support/helpdesk_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Drop 'without trying again' from the recovery support copy
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
Due: none

Suggest the support email only if the problem happens again
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
Due: none

Offer the support email when participants are still stuck
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
Due: none

Offer the support email when participants are still stuck (#1828)
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
Due: none

Keep the recovery screen while a retry loads
  core/systems/feldspar/tool_view.ex
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Keep the recovery screen while a retry loads (#1829)
  core/systems/feldspar/tool_view.ex
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Start Feldspar apps when they signal they are listening
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
  core/assets/js/feldspar_recovery.test.js
Due: none

Start Feldspar apps when they signal they are listening (#1830)
  core/assets/js/feldspar_app.js
  core/assets/js/feldspar_app.test.js
  core/assets/js/feldspar_recovery.test.js
Due: none

Show Feldspar recovery as a banner with a support email
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/assignment/crew_task_helpers.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Widen the Feldspar recovery banner
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Cap the Feldspar recovery banner width
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Show Feldspar recovery as a banner with a support email (#1831)
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/es/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/es/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-feldspar.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-support.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-support.po
  core/systems/assignment/crew_task_helpers.ex
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/assignment/crew_task_helpers_test.exs
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Read LiveSocket params fresh on every join
  core/assets/js/app.js
  core/assets/js/app.test.js
Due: none

Read LiveSocket params fresh on every join (#1833)
  core/assets/js/app.js
  core/assets/js/app.test.js
Due: none

docs: clarify mobile foundation PoC scope
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/decisions/0002-adopt-mobile-delivery-capability-tiers.md
Due: none

Serve apple-app-site-association for the Next iOS app
  core/bundles/next/bundle.ex
  core/bundles/next/lib/well_known_controller.ex
  core/test/bundles/next/well_known_controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: cleanup
  core/bundles/next/bundle.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Cover dev associated app identifier
  core/test/bundles/next/well_known_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix PDF.js worker delivery and verify participant rendering
  core/Dockerfile
  core/assets/js/pdf_viewer.js
  core/config/config.exs
  core/frameworks/e2e/controller.ex
  core/priv/e2e/pdf-viewer.pdf
  core/test/e2e/global-setup.ts
  core/test/e2e/pdf_viewer.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: hide the Account hero in the native app
  core/systems/account/page.ex
  core/systems/content/html.ex
  core/test/core_web/native_app_layout_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
