Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Add eyra-test-scan Claude Code skill (#1605)
  .claude/skills/eyra-test-scan/SKILL.md
Due: none

feat(next_action): surface PendingContributions NBA on projects + node pages
  core/priv/gettext/de/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/eyra-nextaction.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-nextaction.po
  core/priv/repo/migrations/20260731100000_rename_pending_payout_next_action.exs
  core/systems/assignment/_switch.ex
  core/systems/assignment/next_actions/pending_contributions.ex
  core/systems/fund/next_actions/pending_payout.ex
  core/systems/next_action/_public.ex
  core/systems/project/node_page_grid_view.ex
  core/systems/project/overview_page.ex
  core/systems/project/overview_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): trigger reward transition only when participation is done
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/next_actions/pending_contributions.ex
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(assignment): cover mark_participation_done, owners, and the finished? guard
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor(assignment): rename Instance → Participation
  core/lib/core/factories.ex
  core/priv/repo/migrations/20260801100000_rename_assignment_instance_to_participation.exs
  core/systems/affiliate/controller.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/participation_model.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): add lifecycle fields to Participation
  core/priv/repo/migrations/20260801120000_add_participation_lifecycle.exs
  core/systems/assignment/participation_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment): drive reward transition off {:assignment_participation, :completed}
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/crew_page.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: detect restore-orphaned payouts via provider-to-local reconciliation
  core/priv/repo/migrations/20260803090000_add_missing_locally_to_reconciliation.exs
  core/systems/fund/_public.ex
  core/systems/fund/payout_orphan_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_finding_model.ex
  core/systems/payment/reconciliation_run_model.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/fund/reconcile_orphaned_payouts_test.exs
  core/test/systems/payment/opp_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: carry the idempotence key into OPP transaction metadata
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment): drive reward accept/reject off Participation signals
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/contributions_pending_view.ex
  core/systems/assignment/contributions_view.ex
  core/systems/assignment/contributions_view_builder.ex
  core/systems/assignment/decline_contribution_form.ex
  core/test/systems/assignment/contributions_pending_view_test.exs
  core/test/systems/assignment/contributions_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment): ContributionsViewBuilder reads from Participation
  core/systems/assignment/_public.ex
  core/systems/assignment/contributions_confirmed_view.ex
  core/systems/assignment/contributions_declined_view.ex
  core/systems/assignment/contributions_pending_view.ex
  core/systems/assignment/contributions_view_builder.ex
  core/test/systems/assignment/contributions_confirmed_view_test.exs
  core/test/systems/assignment/contributions_declined_view_test.exs
  core/test/systems/assignment/contributions_pending_view_test.exs
  core/test/systems/assignment/contributions_view_builder_test.exs
  core/test/systems/assignment/contributions_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment): drop dead task-level accept/reject + Crew reject_categories
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/crew/_public.ex
  core/systems/crew/reject_categories.ex
  core/systems/crew/reject_model.ex
  core/systems/crew/reject_view.ex
  core/systems/crew/task_model.ex
  core/systems/fund/_public.ex
  core/systems/fund/reward_model.ex
  core/test/systems/advert/_public_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/_switch_test.exs
  core/test/systems/assignment/contributions_view_test.exs
  core/test/systems/assignment/controller_test.exs
  core/test/systems/crew/_public_test.exs
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(assignment): cover accept/reject_participation → reward signal chain
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: detect restore-orphaned pay-ins via provider-to-local reconciliation
  core/systems/budget/_public.ex
  core/systems/budget/transaction_orphan_reconciliation.ex
  core/systems/fund/payout_orphan_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/budget/reconcile_orphaned_transactions_test.exs
  core/test/systems/payment/opp_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(assignment/fund): fold reward transitions into the Participation Multi
  core/systems/advert/_public.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/fund/_public.ex
  core/systems/home/page_builder.ex
  core/test/support/assignment_test_helper.ex
  core/test/support/fund_test_helper.ex
  core/test/systems/advert/_public_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/contributions_view_test.exs
  core/test/systems/fund/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(assignment): cover assignment_participation signal intercepts in Switch
  core/test/systems/assignment/_switch_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(fund): make approve_reward's :rejected override balance-guard currency-aware
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(assignment): cover accept/reject state transitions on Participation
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat(assignment): block accept_participation on a previously rejected participation
  core/systems/assignment/_public.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(assignment): cover bulk :confirm_all across multiple participations + NA drain
  core/test/systems/assignment/contributions_view_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

test(features): update Wallaby suite after payout→Contributions refactor
  core/systems/assignment/content_page_builder.ex
  core/test/features/approve_participation_test.exs
  core/test/features/approve_reward_test.exs
  core/test/features/onboarding_test.exs
  core/test/features/panl_study_advert_test.exs
  core/test/features/payout_flow_test.exs
  core/test/features/project_item_data_donation_create_test.exs
  core/test/features/project_item_data_donation_delete_test.exs
  core/test/features/request_payout_test.exs
  core/test/features/workflow_item_group_field_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: extract shared scaffolding for the provider-to-local scans
  core/systems/budget/transaction_orphan_reconciliation.ex
  core/systems/fund/payout_orphan_reconciliation.ex
  core/systems/payment/orphan_scan.ex
  core/test/systems/fund/reconcile_orphaned_payouts_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: detect restore-orphaned merchants via provider-to-local reconciliation
  core/systems/account/_public.ex
  core/systems/account/merchant_orphan_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_finding_model.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/account/reconcile_orphaned_merchants_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: make a truncated listing visible and merchant findings actionable
  core/systems/account/merchant_orphan_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/orphan_scan.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/reconciliation.ex
  core/test/systems/account/reconcile_orphaned_merchants_test.exs
  core/test/systems/fund/reconcile_orphaned_payouts_test.exs
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: collapse hand-rolled owner lookups onto the auth API (#1695)
  core/lib/core/authorization.ex
  core/systems/advert/_public.ex
  core/systems/assignment/_public.ex
  core/systems/project/_public.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: add schema-deprecations registry for deferred DB column drops
  core/CLAUDE.md
  core/docs/schema-deprecations.md
Due: none

fix(home): trim empty and misleading UI in the rewards-summary card
  core/systems/home/rewards_summary_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): tell the Home rewards summary to refresh on accept/reject
  core/systems/assignment/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): route decline modal events + guard nil reason on cast
  core/systems/assignment/contributions_view.ex
  core/systems/assignment/decline_contribution_form.ex
  core/test/systems/assignment/contributions_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): block reject_participation on a previously accepted participation
  core/systems/assignment/_public.ex
  core/test/systems/assignment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): give BudgetForm a LiveContent hook so field focus highlights
  core/systems/assignment/budget_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): always-enabled Confirm on Add-participants; inline validation via a form-object
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/budget_form.ex
  core/systems/assignment/info_model.ex
  core/systems/budget/_public.ex
  core/systems/budget/pay_in_request_model.ex
  core/test/systems/assignment/budget_form_confirm_test.exs
  core/test/systems/assignment/budget_form_save_reward_test.exs
  core/test/systems/assignment/budget_form_update_slots_test.exs
  core/test/systems/assignment/info_model_test.exs
  core/test/systems/budget/create_pay_in_test.exs
  core/test/systems/budget/pay_in_request_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(budget): assert PayInRequestModel flags an unparseable reward string
  core/test/systems/budget/pay_in_request_model_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor(budget): rename BudgetForm → PayInRequestForm and move to Budget
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/paid_slots_logic.ex
  core/systems/budget/pay_in_request_form.ex
  core/systems/budget/pay_in_request_model.ex
  core/test/features/fund_assignment_test.exs
  core/test/systems/assignment/info_model_test.exs
  core/test/systems/budget/create_pay_in_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(pixel): migrate 10 live_components off Fabric to LiveNest
  core/frameworks/pixel/components/breadcrumbs.ex
  core/frameworks/pixel/components/confirmation_modal.ex
  core/frameworks/pixel/components/dropdown_selector.ex
  core/frameworks/pixel/components/image_catalog_picker.ex
  core/frameworks/pixel/components/notification_view.ex
  core/frameworks/pixel/components/radio_group.ex
  core/frameworks/pixel/components/search_bar.ex
  core/frameworks/pixel/components/selector.ex
  core/frameworks/pixel/components/toolbar.ex
  core/frameworks/pixel/components/user_list_item.ex
  core/frameworks/pixel/fabric_bridge.ex
  core/lib/core_web.ex
  core/systems/account/signup_page.ex
  core/systems/admin/account_view.ex
  core/systems/admin/org_view.ex
  core/systems/org/member_view.ex
  core/test/systems/admin/account_view_test.exs
  core/test/systems/org/member_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(home): make participant Home page fit within mobile viewport
  core/systems/home/participated_view.ex
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: payout message
  core/systems/home/rewards_summary_view.ex
  core/test/systems/home/rewards_summary_view_handlers_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): give BudgetForm a LiveContent hook so field focus highlights (#1701)
  core/systems/assignment/budget_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
