Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

[Port] Corrupt participant session result in error 500
  core/systems/affiliate/_public.ex
  core/test/systems/affiliate/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] After project is set to Spanish some english labels shown - Next Platform
  core/frameworks/pixel/components/footer.ex
  core/lib/core_web/controllers/layouts/stripped/html.ex
  core/priv/gettext/es/LC_MESSAGES/eyra-ui.po
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed realtime update of participant consent page copy
  core/systems/assignment/onboarding_consent_view.ex
  core/systems/consent/clickwrap_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated changelog
  CHANGELOG.md
Due: none

deploy: e3b7316520162052fffc2ce5e2e51350fb408f4f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

refactor: simplify ssl_enabled check using then/1
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor: improve Dockerfile for enhanced caching
  Dockerfile
Due: none

temp fix: return back to force_ssl hardcoded false to check recompile
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

[Project] Change tab style to numbered tabs in project page #1195
  core/priv/gettext/en/LC_MESSAGES/eyra-projects.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/systems/project/node_page.ex
  core/systems/project/node_page_grid_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: update Dockerfile for improved caching and streamline build scripts
  Dockerfile
  core/scripts/build-frontend
  core/scripts/build-release
Due: none

refactor: update force_ssl configuration to use dynamic options
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor: add FORCE_SSL and REWRITE_ON environment variables to Dockerfile and docker-compose
  Dockerfile
  docker-compose-coolify.yml
Due: none

refactor: remove unnecessary port mappings from docker-compose configuration
  docker-compose-coolify.yml
Due: none

Revert "refactor: remove unnecessary port mappings from docker-compose configuration"
  docker-compose-coolify.yml
Due: none

refactor: add missing port mapping for service
  docker-compose-coolify.yml
Due: none

fix: add hostname for database service in docker-compose
  docker-compose-coolify.yml
Due: none

fix: make DB_TLS_VERIFY configurable in docker-compose
  docker-compose-coolify.yml
Due: none

[Port] Progress report csv is empty
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/_queries.ex
  core/systems/assignment/participants_view.ex
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
Due: none

feat: add opt_out option for participants flag to hide anonymous participant link
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: remove integration tab from panl study assignment
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 5c429172584ad584af2f95d4dc3964da9af50374
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Formatted code
  core/systems/annotation/pattern_validator.ex
  core/systems/mcp/server.ex
  core/test/systems/annotation/annotation_edge_cases_test.exs
  core/test/systems/annotation/pattern_system_edge_cases_test.exs
  core/test/systems/mcp/server_test.exs
  core/test/systems/ontology/global_knowledge_commons_test.exs
  core/test/systems/ontology/manager_edge_cases_test.exs
  core/test/systems/ontology/public_api_edge_cases_test.exs
  core/test/systems/onyx/integration_edge_cases_test.exs
  core/test_mcp_integration.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed tests
  core/frameworks/utility/query.ex
  core/lib/core/authentication.ex
  core/lib/core/authentication/_queries.ex
  core/lib/core/authentication/actor.ex
  core/systems/annotation/pattern_manager.ex
  core/systems/annotation/pattern_validator.ex
  core/systems/ontology/_public.ex
  core/systems/ontology/concept_manager.ex
  core/systems/ontology/predicate_manager.ex
  core/test/.claude/CLAUDE.md
  core/test/core/authentication/actor_session_edge_cases_test.exs
  core/test/core/authentication_edge_cases_test.exs
  core/test/systems/annotation/annotation_edge_cases_test.exs
  core/test/systems/annotation/pattern_system_edge_cases_test.exs
  core/test/systems/mcp/token_manager_edge_cases_test.exs
  core/test/systems/mcp/token_manager_test.exs
  core/test/systems/ontology/_public_test.exs
  core/test/systems/ontology/global_knowledge_commons_test.exs
  core/test/systems/ontology/manager_edge_cases_test.exs
  core/test/systems/ontology/ontology_edge_cases_test.exs
  core/test/systems/ontology/public_api_edge_cases_test.exs
  core/test/systems/onyx/integration_edge_cases_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

formatted code
  core/frameworks/utility/query.ex
  core/lib/core/authentication.ex
  core/lib/core/authentication/_queries.ex
  core/systems/annotation/pattern_manager.ex
  core/systems/annotation/pattern_validator.ex
  core/systems/ontology/predicate_manager.ex
  core/test/core/authentication/actor_session_edge_cases_test.exs
  core/test/core/authentication_edge_cases_test.exs
  core/test/systems/annotation/annotation_edge_cases_test.exs
  core/test/systems/annotation/pattern_system_edge_cases_test.exs
  core/test/systems/mcp/token_manager_edge_cases_test.exs
  core/test/systems/ontology/global_knowledge_commons_test.exs
  core/test/systems/ontology/manager_edge_cases_test.exs
  core/test/systems/ontology/ontology_edge_cases_test.exs
  core/test/systems/ontology/public_api_edge_cases_test.exs
  core/test/systems/onyx/integration_edge_cases_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Connected Criteria Library items to Annotation/Ontology data
  core/priv/gettext/de/LC_MESSAGES/eyra-annotation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-annotation.po
  core/priv/gettext/es/LC_MESSAGES/eyra-annotation.po
  core/priv/gettext/eyra-annotation.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-annotation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-annotation.po
  core/priv/repo/seeds/onyx.exs
  core/priv/repo/seeds/zircon.exs
  core/systems/annotation/_public.ex
  core/systems/annotation/_queries.ex
  core/systems/annotation/pattern/_helpers.ex
  core/systems/annotation/pattern/definition.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/ontology/CLAUDE.md
  core/systems/ontology/_public.ex
  core/systems/ontology/_queries.ex
  core/systems/onyx/browser_view_builder.ex
  core/systems/onyx/landing_page_builder.ex
  core/systems/zircon/_private.ex
  core/systems/zircon/_public.ex
  core/systems/zircon/constants.ex
  core/systems/zircon/screening/criteria_view.ex
  core/systems/zircon/screening/criteria_view_builder.ex
  core/test/.claude/CLAUDE.md
  core/test/systems/ontology/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed type from annotation ref and added published_at to annotation
  core/lib/core/factories.ex
  core/priv/repo/migrations/20250311133426_update_ontology_and_annotation.exs
  core/systems/annotation/CLAUDE.md
  core/systems/annotation/_public.ex
  core/systems/annotation/_queries.ex
  core/systems/annotation/pattern/_helpers.ex
  core/systems/annotation/pattern/connection.ex
  core/systems/annotation/pattern/consent.ex
  core/systems/annotation/pattern/definition.ex
  core/systems/annotation/pattern/objection.ex
  core/systems/annotation/pattern/parameter.ex
  core/systems/annotation/pattern/relevance.ex
  core/systems/annotation/pattern/retraction.ex
  core/systems/annotation/ref_model.ex
  core/systems/zircon/screening/criteria_view_builder.ex
  core/test/systems/annotation/_public_test.exs
  core/test/systems/annotation/factories.ex
  core/test/systems/annotation/pattern_definition_test.exs
  core/test/systems/annotation/pattern_parameter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: remove coolify-related code
  .devcontainer/devcontainer.json
  core/config/prod.exs
  docker-compose-coolify.yml
Due: mix-format, mix-test, mix-credo, mix-dialyzer

chore: review changes
  core/systems/assignment/template.ex
  core/test/systems/assignment/template_flags_per_module_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: move expected and language to participants tab, enhance tests for opt-in behavior
  core/systems/assignment/_assembly.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/participants_view.ex
  core/systems/assignment/settings_view.ex
  core/systems/assignment/template.ex
  core/test/systems/assignment/template_access_behavior_test.exs
  core/test/systems/assignment/template_flags_per_module_test.exs
  core/test/systems/assignment/template_flags_test.exs
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: create a constrained language switcher for questionnaires
  core/frameworks/pixel/components/form.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/systems/assignment/general_form.ex
  core/systems/assignment/template.ex
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: implement opt-in behavior for feature flags and add tests for access and migration
  core/systems/assignment/template.ex
  core/systems/assignment/template_benchmark_challenge.ex
  core/systems/assignment/template_data_donation.ex
  core/systems/assignment/template_paper_screening.ex
  core/systems/assignment/template_questionnaire.ex
  core/test/systems/assignment/template_access_behavior_test.exs
  core/test/systems/assignment/template_flags_per_module_test.exs
  core/test/systems/assignment/template_flags_test.exs
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
