Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

Fixed bold wysiwyg text: <strong> iso <b>
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
Due: none

[Manual] Support tracking user progress #1113
  core/frameworks/concept/tool_model.ex
  core/systems/alliance/tool_model.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/start_view.ex
  core/systems/document/tool_model.ex
  core/systems/feldspar/tool_model.ex
  core/systems/graphite/tool_model.ex
  core/systems/instruction/tool_model.ex
  core/systems/lab/tool_model.ex
  core/systems/manual/chapter_desktop_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/page_view.ex
  core/systems/manual/tool_model.ex
  core/systems/manual/tool_view.ex
  core/systems/manual/view.ex
  core/systems/userflow/_public.ex
  core/systems/workflow/tool_ref_view.ex
  core/systems/zircon/screening/tool_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Manual] Data not saved in text field when hit return #1106
  core/systems/manual/builder/chapter_form.ex
  core/systems/manual/builder/page_form.ex
  core/systems/userflow/userflow_step_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Manual] Mobile Layout #1115
  core/assets/css/app.css
  core/assets/js/app.js
  core/assets/js/reset_scroll.js
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/modal_view.ex
  core/frameworks/pixel/components/tag.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/systems/manual/chapter_desktop_view.ex
  core/systems/manual/chapter_list_view.ex
  core/systems/manual/chapter_mobile_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/manual/page_list_view.ex
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Manual] Fullscreen Image #1116
  core/assets/js/app.js
  core/assets/js/fullscreen_image.js
  core/assets/js/main_content.js
  core/frameworks/pixel/components/button_face.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/static/images/icons/close_light.svg
  core/priv/static/images/icons/zoom.svg
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Manual] Buttons on actual apple touch device have no active state #1117
  core/assets/js/app.js
  core/assets/js/button_touch_device.js
  core/frameworks/pixel/components/button_action.ex
  core/systems/manual/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Visiting workflow section instruction is not registered #1113
  core/systems/manual/chapter_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Full screen exit cross not visible against white background #1116
  core/assets/js/fullscreen_image.js
  core/priv/static/images/icons/close_light.svg
Due: none

[Manual] Make overlay of modal view blurry iso dark transparent #1118
  core/frameworks/pixel/components/modal_view.ex
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/ui/popup.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Manual] Modal view using bottom toolbar #1119
  core/assets/js/app.js
  core/assets/js/button_touch_device.js
  core/assets/js/touchstart_sensitive.js
  core/assets/js/viewport.js
  core/frameworks/pixel/components/button_action.ex
  core/frameworks/pixel/components/modal_view.ex
  core/frameworks/pixel/components/toolbar.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/static/images/icons/back.svg
  core/priv/static/images/icons/done.svg
  core/priv/static/images/icons/forward.svg
  core/priv/static/images/icons/overview.svg
  core/systems/assignment/crew_page.ex
  core/systems/manual/builder/chapter_list_view.ex
  core/systems/manual/chapter_list_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/manual/page_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated copy
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
Due: none

Updated copy participant manual
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
Due: none

Added and to gettext
  core/frameworks/pixel/components/modal_view.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/eyra-pixel.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pixel.po
  core/systems/assignment/start_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated copy start and back
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
Due: none

Pinch to zoom issues fixed with pinch-zoom-js
  core/assets/js/fullscreen_image.js
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Changelog updated
  CHANGELOG.md
Due: none

Update selhosting.md
  SELFHOSTING.md
Due: none

Update SELFHOSTING.md
  SELFHOSTING.md
Due: none

feat: add new design changes to desktop version
  core/lib/core_web/controllers/layouts/website/html.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/static/images/landing_page/drawing.svg
  core/priv/static/images/landing_page/services-drawing.png
  core/systems/content/html.ex
  core/systems/home/page.ex
  core/systems/home/page_builder.ex
  core/systems/home/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: updates to new mobile design
  core/systems/home/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

improved Storage Builtin support text
  SELFHOSTING.md
Due: none

deploy: 4787bfaf7210d815f1ac2d5d225636c82986d0bf
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

[Manual] Image loading causes content shifting for large images #1126
  core/assets/js/app.js
  core/assets/js/blurhash.js
  core/frameworks/pixel/components/clickable_card.ex
  core/frameworks/pixel/components/content.ex
  core/frameworks/pixel/components/hero.ex
  core/frameworks/pixel/components/image.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core/image_helpers.ex
  core/mix.exs
  core/mix.lock
  core/systems/advert/card_view.ex
  core/systems/manual/builder/page_form.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/project/card_view.ex
  core/test/core/image_catalog/unsplash_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix touchstart listeners
  core/assets/js/app.js
  core/assets/js/touchstart_sensitive.js
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: update styles for transition state between mobile and desktop
  core/systems/home/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: disable sidepadding
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: broken test
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed blurhash + upload image to S3
  core/lib/core_web/file_uploader.ex
  core/systems/account/user_profile_form.ex
  core/systems/admin/import_rewards_page.ex
  core/systems/assignment/branding_form.ex
  core/systems/assignment/privacy_form.ex
  core/systems/document/tool_form.ex
  core/systems/feldspar/tool_form.ex
  core/systems/graphite/leaderboard_scores_form.ex
  core/systems/instruction/download_form.ex
  core/systems/manual/builder/page_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added spinner on button during uploading manual instruction image
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/form.ex
  core/frameworks/pixel/components/loading_spinner.ex
  core/systems/admin/import_rewards_page.ex
  core/systems/manual/builder/page_form.ex
  core/systems/zircon/screening/import_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Original PDF manual modal overview spontaneously disappears
  core/systems/assignment/crew_task_list_view.ex
  core/systems/document/pdf_nav_view.ex
  core/systems/workflow/item_model.ex
  core/systems/workflow/tool_ref_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy milestone 11
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/de/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pixel.po
Due: none

Change side margin of feldspar on mobile
  core/frameworks/pixel/components/modal_view.ex
  core/systems/feldspar/app_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

database cleanup (2GB oban_jobs table) #1130
  core/config/config.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

temp: disable postgres ssl
  Dockerfile-postgres
Due: none

temp: more debugging
  docker-compose.yml
Due: none

Updated milestone 11 changelog
  CHANGELOG.md
Due: none

deploy: c402d64e764dd7be771937ebd4610271967d3822
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none
