Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Added Italian translations
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/it/LC_MESSAGES/eyra-document.po
  core/priv/gettext/it/LC_MESSAGES/eyra-ui.po
Due: none

Updated copy data storage
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
Due: none

Fixed build
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

#1073 Go to data storage points to data card
  core/assets/js/tabbed.js
  core/systems/assignment/storage_view.ex
  core/systems/graphite/leaderboard_content_page_builder.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Restore #1061 Translate participant flow into Italian
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/it/LC_MESSAGES/eyra-document.po
  core/priv/gettext/it/LC_MESSAGES/eyra-ui.po
Due: none

Add some debug logging
  core/assets/js/tabbed.js
Due: none

Fixed #1078 Empty page shown because of missing default tab selection
  core/assets/js/tabbed.js
Due: none

Fixed Project.NodePage tabbar_id
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
Due: none

Fixed #1081 tab click is handled by all active tabbars (eventlisteners)
  core/assets/js/tabbed.js
  core/frameworks/pixel/components/tabbed.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve compile time Hero.ex
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/self/lib/account/session_controller.ex
  core/config/dev.exs
  core/lib/core_web.ex
  core/lib/core_web/controllers/apns_device_token_controller.ex
  core/lib/core_web/controllers/error_controller.ex
  core/lib/core_web/controllers/fake_alliance_controller.ex
  core/lib/core_web/controllers/fallback_controller.ex
  core/lib/core_web/controllers/health_controller.ex
  core/lib/core_web/controllers/uploaded_file.ex
  core/lib/core_web/timezone_controller.ex
  core/lib/core_web/viewport_controller.ex
  core/systems/account/settings_controller.ex
  core/systems/alliance/controller.ex
  core/systems/assignment/centerdata/fakeapi_controller.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/external_panel_controller.ex
  core/systems/graphite/export_controller.ex
  core/systems/graphite/tool_controller.ex
  core/systems/storage/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Generated userflow code with Cursor
  core/.cursor/rules/signal-architecture.mdc
  core/.cursor/rules/systems-architecture.mdc
  core/priv/repo/migrations/20240308191500_add_userflow.exs
  core/priv/repo/seeds/userflow_seeds.exs
  core/systems/userflow/_public.ex
  core/systems/userflow/_queries.ex
  core/systems/userflow/model.ex
  core/systems/userflow/progress_model.ex
  core/systems/userflow/step_model.ex
  core/test/systems/userflow/factories.ex
  core/test/systems/userflow/model_test.exs
  core/test/systems/userflow/progress_model_test.exs
  core/test/systems/userflow/public_test.exs
  core/test/systems/userflow/step_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/userflow/model.ex
  core/test/systems/userflow/factories.ex
  core/test/systems/userflow/model_test.exs
  core/test/systems/userflow/progress_model_test.exs
  core/test/systems/userflow/public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Generated userflow code with Cursor
  core/.cursor/rules/signal-architecture.mdc
Due: none

Fixed userflow testing
  core/.cursor/rules/architecture-auth.mdc
  core/.cursor/rules/architecture-systems.mdc
  core/.cursor/rules/framework-signal.mdc
  core/.cursor/rules/module-model.mdc
  core/.cursor/rules/module-page.mdc
  core/.cursor/rules/module-view.mdc
  core/.cursor/rules/style.elixir.mdc
  core/.cursor/rules/unittest-basics.mdc
  core/.cursor/rules/unittest-factories.mdc
  core/docs/rules/unittest-basics.mdc
  core/priv/repo/migrations/20240319000000_add_manual_system.exs
  core/priv/repo/seeds/userflow_seeds.exs
  core/systems/manual/chapter_model.ex
  core/systems/manual/model.ex
  core/systems/userflow/_public.ex
  core/systems/userflow/progress_model.ex
  core/systems/userflow/step_model.ex
  core/test/systems/userflow/factories.ex
  core/test/systems/userflow/model_test.exs
  core/test/systems/userflow/progress_model_test.exs
  core/test/systems/userflow/public_test.exs
  core/test/systems/userflow/step_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Finetuned model and tests
  core/docs/rules/unittest-basics.mdc
  core/mix.exs
  core/mix.lock
  core/module-model.mdc
  core/priv/repo/migrations/20240308191500_add_userflow.exs
  core/priv/repo/migrations/20240319000000_add_manual_system.exs
  core/priv/repo/migrations/20250311133425_add_manual_system.exs
  core/priv/repo/seeds/userflow_seeds.exs
  core/systems/manual/_public.ex
  core/systems/manual/_queries.ex
  core/systems/manual/chapter_model.ex
  core/systems/manual/model.ex
  core/systems/manual/page_model.ex
  core/systems/userflow/_public.ex
  core/systems/userflow/_queries.ex
  core/systems/userflow/model.ex
  core/systems/userflow/progress_model.ex
  core/systems/userflow/step_model.ex
  core/test/systems/manual/chapter_model_test.exs
  core/test/systems/manual/factory.ex
  core/test/systems/manual/model_test.exs
  core/test/systems/manual/page_model_test.exs
  core/test/systems/manual/public_test.exs
  core/test/systems/userflow/factories.ex
  core/test/systems/userflow/factory.ex
  core/test/systems/userflow/model_test.exs
  core/test/systems/userflow/progress_model_test.exs
  core/test/systems/userflow/public_test.exs
  core/test/systems/userflow/step_model_test.exs
  core/unittest-factories.mdc
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: plug to validate request parameter types
  core/lib/core_web/routes.ex
  core/lib/core_web/validator/plug.ex
  core/lib/core_web/validator/validators/boolean.ex
  core/lib/core_web/validator/validators/float.ex
  core/lib/core_web/validator/validators/integer.ex
  core/lib/core_web/validator/validators/string.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add support for revision parameter
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

not release, revision
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: breadcrumbs not showing on project page
  core/systems/content/html.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add PR template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

#1091 [Manual] Researcher CMS (fixed ordering)
  core/systems/manual/_assembly.ex
  core/systems/manual/_public.ex
  core/systems/manual/builder/chapter_list_view.ex
  core/systems/userflow/_assembly.ex
  core/systems/userflow/_public.ex
  core/systems/userflow/_queries.ex
  core/test/systems/manual/_assembly_test.exs
  core/test/systems/manual/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#1091 [Manual] Researcher CMS (small copy fix)
  core/systems/manual/_assembly.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

PDF scrollbar no longer available #1101
  core/frameworks/pixel/components/modal_view.ex
  core/systems/manual/tool_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Copy manual cms
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
Due: none

Updated tests
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/test/systems/manual/_assembly_test.exs
  core/test/systems/manual/_public_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

#1090 [Manual] Port participant flow [Draft]
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/number_icon.ex
  core/frameworks/pixel/components/text.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/priv/static/images/icons/back.svg
  core/systems/assignment/crew_work_view.ex
  core/systems/manual/builder/chapter_list_view.ex
  core/systems/manual/builder/page_list_view.ex
  core/systems/manual/builder/view.ex
  core/systems/manual/chapter_desktop_view.ex
  core/systems/manual/chapter_list_view.ex
  core/systems/manual/chapter_mobile_view.ex
  core/systems/manual/chapter_view.ex
  core/systems/manual/html.ex
  core/systems/manual/page_list_view.ex
  core/systems/manual/page_view.ex
  core/systems/manual/tool_model.ex
  core/systems/manual/tool_view.ex
  core/systems/manual/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Improved instructions for the researchers how to use the Manual Builder
  core/priv/gettext/de/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/eyra-manual.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-manual.po
  core/systems/manual/builder/view.ex
  core/systems/manual/tool_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#1109 Data donation causes persistent high cpu load
  core/frameworks/fabric.ex
  core/systems/assignment/crew_work_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated manual instructions
  core/priv/gettext/en/LC_MESSAGES/eyra-manual.po
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
