Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Silence Wallaby browser console.log in test output by default
  core/config/test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Wait for post-login redirect in sign_in test helper
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Skip orphan auth principals in org list_members / list_owners
  core/systems/org/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(tests): deterministic feature-test sign-in + parallel-session isolation
  Makefile
  core/config/test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(tests): handle empty FEATURE_TEST_SESSION in CI (unset vs empty string)
  Makefile
  core/config/test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(tests): deterministic feature-test sign-in + parallel-session isolation (#1535)
  Makefile
  core/config/test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(e2e): make E2E suite green locally and on Fly dev server
  core/.dockerignore
  core/config/dev.exs
  core/fly.dev.toml
  core/lib/core/seeds/base.ex
  core/lib/core_web/router.ex
  core/mix.exs
  core/scripts/seed
  core/systems/project/overview_page.ex
  core/test/e2e/approve_reward.spec.ts
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/panl_study_advert.spec.ts
  core/test/e2e/playwright.config.ts
  core/test/e2e/run.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(e2e): make E2E suite green locally and on Fly dev server (#1536)
  core/.dockerignore
  core/config/dev.exs
  core/fly.dev.toml
  core/lib/core/seeds/base.ex
  core/lib/core_web/router.ex
  core/mix.exs
  core/scripts/seed
  core/systems/project/overview_page.ex
  core/test/e2e/approve_reward.spec.ts
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/panl_study_advert.spec.ts
  core/test/e2e/playwright.config.ts
  core/test/e2e/run.sh
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(e2e): activate participant via API instead of /sent_emails
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/test/e2e/approve_reward.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(e2e): activate participant via API instead of /sent_emails (#1537)
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/test/e2e/approve_reward.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Address PR #1510 review: distinguish :filled from :not_funded
  core/priv/gettext/de/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-advert.po
  core/systems/advert/_public.ex
  core/systems/advert/model.ex
  core/systems/advert/settings_view.ex
  core/test/systems/advert/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add 'Add spots' action to the :filled visibility banner
  core/priv/gettext/de/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-advert.po
  core/systems/advert/settings_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(smoke): add smoke test suite + rename test aliases
  Makefile
  core/mix.exs
  core/test/smoke/features.spec.ts
  core/test/smoke/package-lock.json
  core/test/smoke/package.json
  core/test/smoke/playwright.config.ts
  core/test/smoke/run.sh
  core/test/smoke/test-results/.last-run.json
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(smoke): remove e2e feature from prod, improve smoke runner
  core/config/runtime.aws.exs
  core/mix.exs
  core/test/smoke/features.spec.ts
  core/test/smoke/run.sh
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(smoke): per-environment feature expectations
  core/test/smoke/features.spec.ts
  core/test/smoke/run.sh
Due: none

fix(smoke): exact match on feature flags per environment
  core/test/smoke/features.spec.ts
Due: none

fix(smoke): set exact feature sets from actual server values
  core/test/smoke/features.spec.ts
Due: none

fix(smoke): set feature sets from actual servers; staging = prod + e2e
  core/test/smoke/features.spec.ts
Due: none

fix(smoke): use PRE_PROD_FEATURES (test2) as reference for dev/test1/test2
  core/test/smoke/features.spec.ts
Due: none

feat(smoke): smoke test suite for production (#1538)
  Makefile
  core/config/runtime.aws.exs
  core/mix.exs
  core/test/smoke/features.spec.ts
  core/test/smoke/package-lock.json
  core/test/smoke/package.json
  core/test/smoke/playwright.config.ts
  core/test/smoke/run.sh
  core/test/smoke/test-results/.last-run.json
Due: mix-format, mix-test, mix-credo, mix-dialyzer

refactor: move features endpoint from /api/e2e/features to /.status/features
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/lib/core_web/controllers/features_controller.ex
  core/lib/core_web/router.ex
  core/test/e2e/global-setup.ts
  core/test/smoke/features.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Fund.PayoutModel with payout_id FK on Fund.RewardModel
  core/priv/repo/migrations/20260602090000_create_fund_payouts.exs
  core/systems/fund/payout_model.ex
  core/systems/fund/reward_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

request_payout/1: persist Fund.Payout aggregate
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Wire OPP withdrawal webhook to Fund.Payout transitions
  core/systems/fund/_public.ex
  core/systems/payment/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refresh home rewards card reactively on payout transitions
  core/config/config.exs
  core/systems/home/_switch.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(smoke): data donation smoke test using Instagram Feldspar app
  core/test/smoke/donate.spec.ts
  core/test/smoke/testfiles/instagram_smoke.zip
Due: none

feat(smoke): data donation smoke test using Instagram Feldspar app (#1541)
  core/test/smoke/donate.spec.ts
  core/test/smoke/testfiles/instagram_smoke.zip
Due: none

Test coverage for the MS.11 webhook → Payout transition path
  core/test/systems/fund/_public_test.exs
  core/test/systems/home/_switch_test.exs
  core/test/systems/payment/controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(smoke): gitignore test-results/ in smoke folder
  core/test/smoke/.gitignore
  core/test/smoke/test-results/.last-run.json
Due: none

[User] Fix mobile margins and remove sign-in button on auth pages
  core/bundles/next/lib/account/auth_signup_page.ex
  core/bundles/next/lib/layouts/stripped/menu_builder.ex
  core/test/core_web/live/user/reset_password_test.exs
  core/test/systems/account/await_confirmation_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(smoke): gitignore test-results/ in smoke folder (#1542)
  core/test/smoke/.gitignore
  core/test/smoke/test-results/.last-run.json
Due: none

refactor: move features endpoint from /api/e2e/features to /.status/features (#1539)
  core/frameworks/e2e/_routes.ex
  core/frameworks/e2e/controller.ex
  core/lib/core_web/controllers/features_controller.ex
  core/lib/core_web/router.ex
  core/test/e2e/global-setup.ts
  core/test/smoke/features.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix credo warnings in Fund.Public
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add UC-OPP-06.MS.6 handoff screen before firing the payout
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/fund/_public.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/home/rewards_summary_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add payout handoff modal tests
  core/frameworks/pixel/components/confirmation_modal.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/budget/_public.ex
  core/systems/fund/_public.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider.ex
  core/systems/payment/provider/local.ex
  core/systems/payment/provider/opp.ex
  core/test/frameworks/pixel/confirmation_modal_test.exs
  core/test/systems/fund/_public_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/home/rewards_summary_view_test.exs
  core/test/systems/payment/_public_test.exs
  core/test/systems/payment/local_test.exs
  core/test/systems/payment/opp_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/home/rewards_summary_view_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG for milestone 24
  CHANGELOG.md
Due: none

chore: handoff modal copy
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/systems/home/page_builder.ex
  core/test/frameworks/pixel/confirmation_modal_test.exs
  core/test/systems/home/page_builder_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
  core/test/systems/home/rewards_summary_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(feldspar): scope allow_upload key to component id to prevent collision
  core/frameworks/pixel/components/file_selector.ex
  core/lib/core_web/file_uploader.ex
  core/systems/feldspar/tool_form.ex
  core/test/systems/feldspar/tool_form_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
