Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

fix: broken test
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update sorting and preloading for Annotation/Ontology systems
  core/systems/annotation/_public.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/ontology/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add Core.Seeder module
  core/lib/core/seeder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed clicking on Onyx Browser cards
  core/systems/annotation/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

added git worktree scripts
  worktree_add.sh
  worktree_remove.sh
Due: none

fix: update process_file to use public_url instead of url
  core/systems/account/user_profile_form.ex
  core/systems/promotion/form_view.ex
  core/systems/zircon/screening/import_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: re-add logged in landing page, with available advertisements showing
  core/systems/home/guest_view.ex
  core/systems/home/logged_in_view.ex
  core/systems/home/page.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: repair criteria selection, add text to logged in homepage true to design
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/de/LC_MESSAGES/link-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/link-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/es/LC_MESSAGES/link-advert.po
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/it/LC_MESSAGES/link-advert.po
  core/priv/gettext/link-advert.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/link-advert.po
  core/systems/advert/submission_view.ex
  core/systems/home/available_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: bump pdfjs version, start using local worker instead of cdn worker
  core/assets/js/pdf_viewer.js
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Allow transitive deps to be updated
  renovate.json
Due: none

Removed sweet_xml override since it has been updated
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Switched to released version of Faker
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Used version for bypass instead of Git
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fix asdf commands, they no longer require dashes.
  SELFHOSTING.md
Due: none

feat: add to panl from sign-up/in working
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/next/lib/account/signin_page_builder.ex
  core/frameworks/pixel/components/form.ex
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: implement add_to_panl functionality for google signin
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/session_controller.ex
  core/lib/google_sign_in/plug.ex
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
  core/systems/pool/_public.ex
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add utility functions for parsing boolean parameters
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/utility/params.ex
  core/lib/google_sign_in/plug.ex
  core/systems/account/signup_page.ex
  core/test/frameworks/utility/params_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feature: show privacy policy agreement checkbox based on add_to_panl parameter
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/utility/params.ex
  core/lib/google_sign_in/plug.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
  core/test/frameworks/utility/params_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

moved the custom credo checks to different folder
  core/.credo.exs
  core/.dialyzer_ignore.exs
  core/custom_credo_checks/no_repo_transaction.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: re-add tab-bar to the profile page and fix saving logic
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/systems/account/_routes.ex
  core/systems/account/features_form.ex
  core/systems/account/signup_page.ex
  core/systems/account/user_profile_form.ex
  core/systems/account/user_profile_page.ex
  core/systems/account/user_profile_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: remove pool dependency for account system by using signaling
  core/bundles/next/lib/account/creator_signin_view.ex
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/session_controller.ex
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/next/lib/account/signin_page_builder.ex
  core/frameworks/utility/params.ex
  core/lib/google_sign_in/plug.ex
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
  core/systems/pool/_switch.ex
  core/systems/pool/account_post_action_handler.ex
  core/test/frameworks/utility/params_test.exs
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed: Hex dependency resolution failed
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed: invalid association in schema Systems.Storage.EndpointModel
  core/systems/storage/endpoint_model.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(deps): update dependency appsignal_phoenix to == 2.7.0
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Used versions for deps instead of Git
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed building after merge from develop
  .tool-versions
  core/Dockerfile
  package-lock.json
Due: none

Fixed dependency conflict
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed database timeout by implementing batch solution with progress updates
  core/config/config.exs
  core/config/runtime.exs
  core/priv/gettext/de/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/en/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/es/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/eyra-zircon.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-zircon.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-zircon.po
  core/priv/repo/migrations/20250822151031_add_progress_to_paper_ris_import_session.exs
  core/systems/observatory/update_collector.ex
  core/systems/paper/config.ex
  core/systems/paper/ris_import_commit_job.ex
  core/systems/paper/ris_import_prepare_job.ex
  core/systems/paper/ris_import_session_model.ex
  core/systems/zircon/_switch.ex
  core/systems/zircon/screening/import_view_builder.ex
  core/test/systems/paper/ris_import_commit_job_test.exs
  core/test/systems/zircon/screening/import_session_view_test.exs
  core/test/systems/zircon/screening/import_view_batch_test.exs
  core/test/systems/zircon/screening/import_view_builder_test.exs
  core/test/systems/zircon/screening/import_view_test.exs
  core/test/systems/zircon/screening/import_view_ui_update_test.exs
  core/test/systems/zircon/switch_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update elixir to v1.18.4-otp-28
  .tool-versions
Due: none

Update phoenix_live_view to 1.1.8
  core/config/dev.exs
  core/mix.exs
  core/mix.lock
  core/systems/advert/_presenter.ex
  core/systems/assignment/_presenter.ex
  core/systems/promotion/form_view.ex
  core/systems/promotion/wysiwyg_form.ex
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/systems/project/overview_page_test.exs
  core/test/systems/support/ticket_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/_presenter.ex
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update deps manually depicted by Renovate
  .tool-versions
  core/assets/js/feldspar_app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/mix.exs
  core/mix.lock
  core/systems/promotion/wysiwyg_form.ex
  core/test/systems/assignment/template_flags_test.exs
  core/test/systems/assignment/template_migration_test.exs
  core/test/systems/manual/_factory.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Major dependency updates
  core/frameworks/pixel/error_helpers.ex
  core/lib/core/apns/signal_handlers.ex
  core/lib/core/authorization.ex
  core/lib/core/surfconext/plug.ex
  core/lib/core_web.ex
  core/mix.exs
  core/mix.lock
  core/systems/advert/_routes.ex
  core/systems/alliance/tool_form.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/centerdata/fakeapi_controller.ex
  core/systems/assignment/centerdata/fakeapi_page.ex
  core/systems/assignment/ethical_form.ex
  core/systems/email/email_html.ex
  core/systems/email/email_layout/email.html.eex
  core/systems/email/email_layout_html.ex
  core/systems/email/factory.ex
  core/systems/email/form.ex
  core/systems/email/signal_handlers.ex
  core/systems/project/_routes.ex
  core/systems/project/node_model.ex
  core/test/systems/email/integration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated csv, phoenix_html_helpers, and logger_json
  core/mix.exs
  core/mix.lock
  core/systems/graphite/scores_parser.ex
  core/test/systems/graphite/scores_parser_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix dialyzer errors in GitHub Actions test environment
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Remove unused prettier-plugin-eex to fix npm install in CI
  core/assets/package-lock.json
  core/assets/package.json
Due: none

revert back nodejs update to non-exisiting asdf version
  .tool-versions
Due: none

Fixed cowboy issues
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
