Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

test: participant Account page has no hero in the native app
  core/test/core_web/native_app_layout_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: Client activity tab in System Admin
  core/priv/gettext/de/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/systems/admin/_presenter.ex
  core/systems/admin/_public.ex
  core/systems/admin/_queries.ex
  core/systems/admin/client_activity_filters.ex
  core/systems/admin/client_activity_view.ex
  core/systems/admin/client_activity_view_builder.ex
  core/systems/admin/config_page_builder.ex
  core/test/support/client_activity_test_helper.ex
  core/test/systems/admin/client_activity_public_test.exs
  core/test/systems/admin/client_activity_view_builder_test.exs
  core/test/systems/admin/client_activity_view_test.exs
  core/test/systems/admin/config_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: faster client lookup and admin guard in Client activity
  core/systems/admin/_public.ex
  core/systems/admin/_queries.ex
  core/systems/admin/client_activity_view.ex
  core/systems/admin/client_activity_view_builder.ex
  core/test/systems/admin/client_activity_view_builder_test.exs
  core/test/systems/admin/client_activity_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: client is the project's first owner
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/systems/admin/_queries.ex
  core/test/support/client_activity_test_helper.ex
  core/test/systems/admin/client_activity_public_test.exs
  core/test/systems/admin/client_activity_view_builder_test.exs
  core/test/systems/admin/client_activity_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Let NextApp pages scroll the document instead of #main-content
  core/assets/js/main_content.js
  core/lib/core_web/controllers/layouts/workspace/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Use a white page background in the app
  core/assets/js/main_content.js
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/workspace/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Keep full-height workspace content and lock scrolling under modals in the app
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/workspace/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Keep the starting Feldspar app rendered so legacy apps start cross-site
  core/systems/feldspar/tool_view.ex
  core/test/features/feldspar_cross_site_start_test.exs
  core/test/systems/assignment/factories.ex
  core/test/systems/feldspar/mock_app_loaded_app/index.html
  core/test/systems/feldspar/mock_legacy_app/index.html
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Keep the Feldspar app rendered while it starts
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(smoke): check apple-app-site-association is served
  core/test/smoke/apple-app-site-association.spec.ts
Due: none
