Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

i18n(assignment): add English text for pay_in_request_form validation messages (#1723)
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

fix(pixel): auto-collapse content-page tabs to dropdown when they don't fit (#1721)
  core/assets/js/app.js
  core/assets/js/tabbed.js
  core/frameworks/pixel/components/navigation.ex
  core/frameworks/pixel/components/tabbed.ex
  core/lib/core_web.ex
  core/lib/core_web/controllers/layouts/workspace/composer.ex
  core/lib/core_web/controllers/layouts/workspace/html.ex
  core/lib/core_web/live/feature/actions.ex
  core/lib/core_web/live/feature/tabbed.ex
  core/lib/core_web/live/hook/actions.ex
  core/lib/core_web/live/hook/tabbed.ex
  core/lib/core_web/ui/area.ex
  core/systems/account/page.ex
  core/systems/advert/content_page.ex
  core/systems/alliance/content_page.ex
  core/systems/assignment/content_page.ex
  core/systems/content/html.ex
  core/systems/document/content_page.ex
  core/systems/feldspar/content_page.ex
  core/systems/graphite/leaderboard_content_page.ex
  core/systems/lab/content_page.ex
  core/systems/storage/endpoint_content_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add concurrency test for the fund balance race
  core/test/systems/fund/balance_race_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: make the fund balance race test prove the lock
  core/test/systems/fund/balance_race_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(assignment): guard PendingContributions NBA on fund having pay-ins
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/fund/_public.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/_switch_test.exs
  core/test/systems/fund/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

i18n(pool,fund,home): fill missing de/it/es/lt/ro translations for marketplace, rewards summary, and history
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
Due: none

i18n: fill missing de/it/es/lt/ro translations for marketplace, rewards summary, history (#1727)
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/fund/_public.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/_switch_test.exs
  core/test/systems/fund/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): only expose organic recruit link on pre-launch questionnaire assignments
  core/systems/assignment/template_questionnaire.ex
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(assignment): only expose organic recruit link on pre-launch questionnaire assignments (#1728)
  core/systems/assignment/template_questionnaire.ex
  core/test/systems/assignment/template_migration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(fund): fold Systems.Budget into Systems.Fund
  core/config/dev.exs
  core/config/runtime.fly.exs
  core/lib/core/factories.ex
  core/lib/core/seeds/base.ex
  core/systems/assignment/_assembly.ex
  core/systems/assignment/paid_slots_logic.ex
  core/systems/budget/_public.ex
  core/systems/fund/_public.ex
  core/systems/fund/currency_ledger_model.ex
  core/systems/fund/model.ex
  core/systems/fund/pay_in_expiration_worker.ex
  core/systems/fund/pay_in_request_form.ex
  core/systems/fund/pay_in_request_model.ex
  core/systems/fund/transaction_model.ex
  core/systems/fund/transaction_orphan_reconciliation.ex
  core/systems/fund/transaction_reconciliation.ex
  core/systems/payment/controller.ex
  core/systems/payment/orphan_scan.ex
  core/systems/payment/provider/local_controller.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/features/fund_assignment_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/info_model_test.exs
  core/test/systems/fund/complete_transaction_test.exs
  core/test/systems/fund/create_pay_in_test.exs
  core/test/systems/fund/factories.ex
  core/test/systems/fund/fail_transaction_test.exs
  core/test/systems/fund/pay_in_expiration_test.exs
  core/test/systems/fund/pay_in_request_model_test.exs
  core/test/systems/fund/reconcile_orphaned_transactions_test.exs
  core/test/systems/fund/reconcile_transactions_test.exs
  core/test/systems/payment/provider/local_controller_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): show reviewed contribution outcome on a dedicated ParticipationView
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/participation_view.ex
  core/systems/assignment/participation_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(fund): drop leftover Budget alias in test factories
  core/test/systems/fund/factories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(load-tests): npm audit fix in core/test/load
  core/test/load/package-lock.json
Due: none

chore(load-tests): npm audit fix in core/test/load (#1731)
  core/test/load/package-lock.json
Due: none

refactor(fund): fold Systems.Budget into Systems.Fund (#1729)
  core/config/dev.exs
  core/config/runtime.fly.exs
  core/lib/core/factories.ex
  core/lib/core/seeds/base.ex
  core/systems/assignment/_assembly.ex
  core/systems/assignment/paid_slots_logic.ex
  core/systems/budget/_public.ex
  core/systems/fund/_public.ex
  core/systems/fund/currency_ledger_model.ex
  core/systems/fund/model.ex
  core/systems/fund/pay_in_expiration_worker.ex
  core/systems/fund/pay_in_request_form.ex
  core/systems/fund/pay_in_request_model.ex
  core/systems/fund/transaction_model.ex
  core/systems/fund/transaction_orphan_reconciliation.ex
  core/systems/fund/transaction_reconciliation.ex
  core/systems/payment/controller.ex
  core/systems/payment/orphan_scan.ex
  core/systems/payment/provider/local_controller.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/features/fund_assignment_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/info_model_test.exs
  core/test/systems/fund/complete_transaction_test.exs
  core/test/systems/fund/create_pay_in_test.exs
  core/test/systems/fund/factories.ex
  core/test/systems/fund/fail_transaction_test.exs
  core/test/systems/fund/pay_in_expiration_test.exs
  core/test/systems/fund/pay_in_request_model_test.exs
  core/test/systems/fund/reconcile_orphaned_transactions_test.exs
  core/test/systems/fund/reconcile_transactions_test.exs
  core/test/systems/payment/provider/local_controller_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): show reviewed contribution outcome on a dedicated ParticipationView (#1730)
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/participation_view.ex
  core/systems/assignment/participation_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: donation charges no longer read as payout orphans
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/en/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/eyra-fund.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/systems/fund/_public.ex
  core/systems/fund/donation_model.ex
  core/systems/fund/payout_orphan_reconciliation.ex
  core/systems/home/page_builder.ex
  core/systems/home/rewards_summary_view.ex
  core/systems/payment/reconciliation_finding_model.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/reconcile_orphaned_payouts_test.exs
  core/test/systems/home/rewards_summary_view_handlers_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): notify participants of contribution outcome + realtime NBA refresh
  core/config/config.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/repo/migrations/20260812150000_create_notify_tables.exs
  core/systems/assignment/_notify.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/contributions_view.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/next_actions/contribution_reviewed.ex
  core/systems/assignment/participation_view.ex
  core/systems/email/email/contribution_accepted.html.eex
  core/systems/email/email/contribution_accepted.text.eex
  core/systems/email/email/contribution_declined.html.eex
  core/systems/email/email/contribution_declined.text.eex
  core/systems/email/email_html.ex
  core/systems/email/factory.ex
  core/systems/home/_switch.ex
  core/systems/notify/_public.ex
  core/systems/notify/channel.ex
  core/systems/notify/channel/email.ex
  core/systems/notify/channel/na.ex
  core/systems/notify/dispatcher.ex
  core/systems/notify/event_declaration.ex
  core/systems/notify/event_model.ex
  core/systems/notify/event_type.ex
  core/systems/notify/message_model.ex
  core/systems/notify/scheduler.ex
  core/systems/project/_public.ex
  core/systems/project/_switch.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/notify/channel/na_test.exs
  core/test/systems/notify/dispatcher_test.exs
  core/test/systems/notify/event_type_test.exs
  core/test/systems/notify/mark_seen_test.exs
  core/test/systems/notify/public_test.exs
  core/test/systems/project/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

i18n(fund): fill missing "Pay out" / "Retry payout" translations (de/it/es/lt/ro)
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
Due: none

i18n(fund): fill missing "Pay out" / "Retry payout" translations (de/it/es/lt/ro) (#1735)
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
Due: none

fix(home): align history-row hover highlight with dividers, uniform edges
  core/systems/home/participated_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(home): align history-row hover highlight with dividers, uniform edges (#1736)
  core/systems/home/participated_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(desktop): show 6 most recent project items instead of projects
  core/systems/desktop/page_builder.ex
  core/systems/desktop/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(desktop): show 6 most recent project items instead of projects (#1737)
  core/systems/desktop/page_builder.ex
  core/systems/desktop/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: dialyzer
  core/systems/payment/provider/local.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: make guard more strict
  core/systems/payment/provider/local.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor(notify): use EventAttrs struct for record_event/1
  core/systems/assignment/_switch.ex
  core/systems/notify/_public.ex
  core/systems/notify/event_attrs.ex
  core/test/systems/notify/dispatcher_test.exs
  core/test/systems/notify/mark_seen_test.exs
  core/test/systems/notify/public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat(assignment): notify participants of contribution outcome + realtime NBA refresh (#1734)
  core/config/config.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/repo/migrations/20260812150000_create_notify_tables.exs
  core/systems/assignment/_notify.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/contributions_view.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/next_actions/contribution_reviewed.ex
  core/systems/assignment/participation_view.ex
  core/systems/email/email/contribution_accepted.html.eex
  core/systems/email/email/contribution_accepted.text.eex
  core/systems/email/email/contribution_declined.html.eex
  core/systems/email/email/contribution_declined.text.eex
  core/systems/email/email_html.ex
  core/systems/email/factory.ex
  core/systems/home/_switch.ex
  core/systems/notify/_public.ex
  core/systems/notify/channel.ex
  core/systems/notify/channel/email.ex
  core/systems/notify/channel/na.ex
  core/systems/notify/dispatcher.ex
  core/systems/notify/event_attrs.ex
  core/systems/notify/event_declaration.ex
  core/systems/notify/event_model.ex
  core/systems/notify/event_type.ex
  core/systems/notify/message_model.ex
  core/systems/notify/scheduler.ex
  core/systems/project/_public.ex
  core/systems/project/_switch.ex
  core/test/systems/assignment/_public_test.exs
  core/test/systems/notify/channel/na_test.exs
  core/test/systems/notify/dispatcher_test.exs
  core/test/systems/notify/event_type_test.exs
  core/test/systems/notify/mark_seen_test.exs
  core/test/systems/notify/public_test.exs
  core/test/systems/project/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(next_action): NBA card CTA uses content-width + wraps when it doesn't fit
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(next_action): NBA card CTA uses content-width + wraps when it doesn't fit (#1739)
  core/systems/next_action/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(email): flatten safe iodata at the template boundary
  core/systems/email/email_html.ex
  core/test/systems/email/integration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(email): flatten safe iodata at the template boundary (#1740)
  core/systems/email/email_html.ex
  core/test/systems/email/integration_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: implement feedback
  core/systems/fund/_public.ex
  core/systems/home/rewards_summary_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: keep OPP withdrawal reference under the 50-character limit
  core/systems/fund/payout_model.ex
  core/test/systems/fund/_public_test.exs
  core/test/systems/fund/payout_model_test.exs
  core/test/systems/fund/reconcile_orphaned_payouts_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
  core/test/systems/payment/opp_test.exs
  core/test/systems/payment/provider_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: stop blaming the phone number for every sub-500 provider error
  core/systems/account/phone_form.ex
  core/systems/payment/_public.ex
  core/systems/payment/provider/opp/http.ex
  core/test/systems/account/phone_form_handlers_test.exs
  core/test/systems/payment/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(desktop): handle card_clicked event so recent items are clickable
  core/systems/desktop/view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: cleanup comment
  core/systems/payment/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
