Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

feat: truncate project title when overflowing
  core/systems/project/card_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed People share dialog on project
  core/config/dev.exs
  core/frameworks/pixel/components/user_list_item.ex
  core/systems/account/people_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

refactor: use imported button instead of custom button
  core/frameworks/pixel/components/file_selector.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 0aa5b821066b009cec95f38bba078c1683ca9ed7
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/.build
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Pixel.UserListItem.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
  core/dist/search_items-51F18F4B.js
  core/dist/search_items-A449EB75.js
  core/search.html
Due: none

#997 Add possibility to skip finished page
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

ci: add workflow to create release package based on debian
  .github/workflows/release-debian.yml
Due: none

#997 Fixed hiding tool-ref modal view
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/external_panel_controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 04574156f2ed68653051bf161a636cdfd0efe104
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

Release version 6
  CHANGELOG.md
Due: none

deploy: f8cfc93bff48397c5d64d0e1f7c2a64be025783c
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

deploy: d33f954dc4dbea0182638c16b8914e205bfc17fb
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

Removed logging donation data
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data II
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data III
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data IV
  core/frameworks/fabric/live_view.ex
  core/lib/core/application.ex
  core/lib/core_web/endpoint.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed logging donation data V
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

deploy: c9f320bf1b198010d601277aa6636af01467cf7c
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Endpoint.html
  core/CoreWeb.Gettext.html
  core/Fabric.LiveView.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/Systems.Assignment.CrewPage.html
  core/core.epub
Due: none

Release 6.1
  CHANGELOG.md
Due: none

deploy: e86640fbe9f362720249c39b11461881d2024a4d
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Sentry.Gen.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

Donated packages not stored with embed #1007
  core/systems/storage/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added support for AppSignal
  CHANGELOG.md
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
  core/systems/assignment/crew_page.ex
  core/systems/storage/delivery.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed Sentry completely
  core/lib/core/sentry/gen.ex
  core/lib/core/sentry/mix.ex
  core/mix.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: make compatible with debian 12
  .github/workflows/release-debian.yml
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
