Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

feat: add Centerdata OIDC sign-in
  core/bundles/next/config/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/config/test.exs
  core/lib/core_web/router.ex
  core/priv/repo/migrations/20260901173719_create_centerdata_user.exs
  core/systems/account/auth/centerdata.ex
  core/systems/account/auth/centerdata/plug.ex
  core/systems/account/auth/centerdata/user_model.ex
  core/systems/account/auth/identity_provider_transfer_controller.ex
  core/systems/account/auth/identity_provider_transfer_page.ex
  core/test/systems/account/auth/centerdata/plug_test.exs
  core/test/systems/account/auth/centerdata_test.exs
  core/test/systems/account/auth/identity_provider_transfer_page_test.exs
  core/test/systems/account/auth/methods_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: enable PKCE for Centerdata sign-in
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: use Centerdata token post auth
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

docs: defer mobile implementation choices
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/decisions/0001-adopt-mobile-delivery-capability-tiers.md
  core/docs/architecture/mobile/decisions/0001-do-not-invest-in-liveview-native.md
  core/docs/architecture/mobile/decisions/0002-adopt-a-hybrid-mobile-architecture.md
  core/docs/architecture/mobile/decisions/0003-adopt-device-independent-mobile-ui-models.md
  core/docs/architecture/mobile/decisions/0004-adopt-server-authoritative-realtime-bff-pages.md
  core/docs/architecture/mobile/design/bff-pages.md
  core/docs/architecture/mobile/design/native-navigation.md
Due: none

docs: require physical-device agent debugging
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/decisions/0002-require-agent-driven-physical-device-debugging.md
Due: none

docs: refine mobile architecture criteria
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/decisions/0001-adopt-mobile-delivery-capability-tiers.md
  core/docs/architecture/mobile/decisions/0002-require-agent-driven-physical-device-debugging.md
Due: none

docs: clarify Appium role
  core/docs/architecture/mobile/decisions/0002-require-agent-driven-physical-device-debugging.md
Due: none

docs: remove mobile architecture status label
  core/docs/architecture/mobile/README.md
Due: none

docs: restore LiveView Native decision
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/decisions/0001-do-not-invest-in-liveview-native.md
  core/docs/architecture/mobile/decisions/0002-adopt-mobile-delivery-capability-tiers.md
  core/docs/architecture/mobile/decisions/0003-require-agent-driven-physical-device-debugging.md
Due: none

fix: use standard Centerdata OIDC discovery
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: use standard Centerdata OIDC discovery (#1784)
  core/config/config.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

docs: update changelog for milestone 29
  CHANGELOG.md
Due: none

fix: use existing logo for banking proxy docs
  banking_proxy/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

deploy: 96b9604c0c629e00860fcc9fc5c8dd0f4a1fe64d
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

fix: translate the raw i18n keys shown to participants
  core/priv/gettext/de/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/de/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/es/LC_MESSAGES/eyra-home.po
  core/priv/gettext/es/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/it/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-fund.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-nextaction.po
  core/test/core_web/gettext_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: export study zip
  core/frameworks/pixel/components/navigation.ex
  core/lib/core_web/live/feature/actions.ex
  core/lib/core_web/live/hook/actions.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/assignment/_routes.ex
  core/systems/assignment/content_page.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/monitor_view.ex
  core/systems/assignment/setup_export.ex
  core/systems/content/_public.ex
  core/test/frameworks/pixel/navigation_action_bar_test.exs
  core/test/systems/assignment/controller_test.exs
  core/test/systems/assignment/setup_export_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: use HTTPoison for Google OIDC keys
  core/config/config.exs
  core/systems/account/auth/google/http_adapter.ex
  core/test/systems/account/auth/google/http_adapter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: restore the payouts empty-state string and treat a blank fallback as none
  core/lib/core_web/gettext.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/test/core_web/gettext_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: address review on study setup export
  core/systems/assignment/_routes.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/controller_test.exs
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: share eyra-test-scan skill via .agents
  .agents/skills/eyra-test-scan/SKILL.md
  .claude/skills/eyra-test-scan
Due: none

fix: address review on gettext fallthrough
  SELFHOSTING.md
  core/test/core_web/gettext_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: add ro-crate metadata
  core/systems/assignment/controller.ex
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/controller_test.exs
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: shorten the study export label
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/test/frameworks/pixel/navigation_action_bar_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: address review on ro-crate metadata export
  core/systems/assignment/controller.ex
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: move provider entry routes
  core/bundles/next/bundle.ex
  core/systems/account/auth/mock.ex
  core/test/bundles/next/account/auth_provider_page_test.exs
  core/test/systems/account/auth/mock_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add author, publisher and licence to the RO-Crate export
  core/systems/assignment/_public.ex
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add a contact point for every RO-Crate author
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: translate the contribution-reviewed NBA banner in all locales
  core/priv/gettext/de/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/es/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/eyra-nextaction.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-nextaction.po
Due: none

feat: persist mobile authentication sessions
  core/assets/js/app.js
  core/assets/js/app.test.js
  core/assets/js/auth_code_input.js
  core/assets/js/auth_session.js
  core/assets/js/auth_session.test.js
  core/assets/js/native.js
  core/assets/js/native_wrapper.js
  core/assets/vitest.config.js
  core/bundles/next/bundle.ex
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/session_controller.ex
  core/config/dev.exs
  core/config/test.exs
  core/docs/architecture/mobile/README.md
  core/docs/architecture/mobile/designs/authentication-session.md
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/menu.ex
  core/frameworks/pixel/components/spinner.ex
  core/lib/core_web/live/menu/helpers.ex
  core/lib/core_web/ui/old_skool.ex
  core/priv/repo/migrations/20260907120000_add_mobile_session_activity.exs
  core/priv/static/images/icons/spinner_static_delete@3x.png
  core/systems/account/_public.ex
  core/systems/account/profile_view.ex
  core/systems/account/profile_view_builder.ex
  core/systems/account/user_auth.ex
  core/systems/account/user_token.ex
  core/test/bundles/next/account/auth_code_verify_page_test.exs
  core/test/bundles/next/account/session_controller_test.exs
  core/test/core_web/live/mobile_menu_test.exs
  core/test/systems/account/_public_test.exs
  core/test/systems/account/profile_view_builder_test.exs
  core/test/systems/account/profile_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refine mobile authentication handoff
  core/assets/css/app.css
  core/assets/js/app.js
  core/assets/js/auth_session.js
  core/assets/js/auth_session.test.js
  core/assets/js/button_loading.js
  core/assets/js/button_loading.test.js
  core/assets/js/native.js
  core/bundles/next/lib/account/auth_code_verify_page.ex
  core/bundles/next/lib/account/auth_identify_page.ex
  core/bundles/next/lib/account/session_controller.ex
  core/docs/architecture/mobile/designs/authentication-session.md
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/spinner.ex
  core/frameworks/pixel/components/table.ex
  core/priv/static/images/icons/spinner.svg
  core/systems/storage/endpoint_data_view.ex
  core/test/bundles/next/account/auth_code_verify_page_test.exs
  core/test/bundles/next/account/auth_identify_page_test.exs
  core/test/bundles/next/account/session_controller_test.exs
  core/test/systems/account/profile_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: follow ups
  core/systems/assignment/controller.ex
  core/systems/assignment/setup_exporter.ex
  core/test/systems/assignment/controller_test.exs
  core/test/systems/assignment/setup_exporter_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: friendly page for an unpublished or removed assignment
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/systems/affiliate/controller.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/error_html.ex
  core/test/core_web/gettext_test.exs
  core/test/systems/affiliate/recruit_test.exs
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix identify email validation feedback
  core/bundles/next/lib/account/auth_identify_page.ex
  core/test/bundles/next/account/auth_identify_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update onboarding flow copy and translations
  core/priv/gettext/de/LC_MESSAGES/errors.po
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/de/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/de/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/errors.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/errors.pot
  core/priv/gettext/es/LC_MESSAGES/errors.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/es/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/it/LC_MESSAGES/errors.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/it/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/lt/LC_MESSAGES/errors.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/errors.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/ro/LC_MESSAGES/errors.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pool.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-ui.po
  core/systems/account/features_model.ex
  core/systems/account/onboarding_page_builder.ex
  core/systems/account/terms_and_privacy_view.ex
  core/test/systems/account/features_view_test.exs
  core/test/systems/account/onboarding_page_builder_test.exs
  core/test/systems/account/terms_and_privacy_view_test.exs
  core/test/systems/pool/onboarding_page_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/test/systems/account/onboarding_page_builder_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: hide web chrome for the native app user agent
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/navigation.ex
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/stripped/html.ex
  core/lib/core_web/controllers/layouts/website/html.ex
  core/lib/core_web/controllers/layouts/workspace/html.ex
  core/systems/content/html.ex
  core/systems/pool/marketplace_page.ex
  core/test/core_web/native_app_layout_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: only hide the home and marketplace hero in the native app
  core/lib/core_web/controllers/layouts/website/html.ex
  core/systems/home/page.ex
  core/systems/pool/marketplace_page.ex
  core/test/core_web/native_app_layout_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: add translation guidelines
  .agents/skills/translating/SKILL.md
  .claude/skills/translating
  CLAUDE.md
  TRANSLATION_GUIDELINES.md
Due: none

Show invalid birth-year validation errors
  core/systems/account/features_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Revert "Formatted code"
  core/test/systems/account/onboarding_page_builder_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
