Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

fix: change value of successlight color
  core/assets/tailwind.config.js
Due: none

fix: open links in new tab
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update CHANGELOG.md
  CHANGELOG.md
Due: none

deploy: 5f21aedb62d3d20feafb976f505784737d0d380f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Updated copy landing page
  core/priv/gettext/de/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/de/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/it/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/it/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed unit test
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: use shadow instead of drop-shadow to ensure consistency
  core/systems/home/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Popup appears after returning back to Next as a participant #1153
  core/systems/alliance/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated intro Next landing page
  core/priv/gettext/de/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/it/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
Due: none

[Account] activated successfully message low contrast #1156
  core/assets/tailwind.config.js
  core/bundles/next/lib/account/creator_signin_view.ex
  core/bundles/next/lib/account/participant_signin_view.ex
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/next/lib/account/signin_page_builder.ex
  core/frameworks/pixel/components/alert-banner.ex
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: remove stringify, bump pdfjs-dist
  core/assets/package-lock.json
  core/assets/package.json
Due: none

deploy: 94f0590ee54cd62e06026f68db647950ce957b77
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

feat: show logo on landing page
  core/bundles/next/lib/layouts/website/menu_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: add landing page hero component and update hero type in page builder
  core/frameworks/pixel/components/hero.ex
  core/systems/home/page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: ensure participant is converted to string before appending to URL
  core/systems/alliance/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: fc29a7a209b234c183e48beea258246e2d88ae4f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Added LiveNest dependency
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

[Onyx] Corrupt RIS file results in import that never completes #1134
  core/config/config.exs
  core/frameworks/signal/_private.ex
  core/frameworks/signal/_public.ex
  core/frameworks/signal/handler.ex
  core/systems/assignment/_switch.ex
  core/systems/paper/_public.ex
  core/systems/paper/ris_file.ex
  core/systems/zircon/_switch.ex
  core/systems/zircon/screening/import_form.ex
  core/test/frameworks/signal/_public_test.exs
  core/test/frameworks/signal/test_helper.ex
  core/test/systems/graphite/_gen_test.exs
  core/test/test_helper.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Dev] Bump Erlang/OTP due to security risk
  .tool-versions
Due: none

[Dev] Bump Erlang/OTP due to security risk
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

[Dev] Flaky tests due to strange on_mount error #1168
  core/frameworks/concept/live_hook.ex
  core/frameworks/fabric/live_hook.ex
  core/frameworks/green_light/_live_hook.ex
  core/lib/core_web/live/hook/actions.ex
  core/lib/core_web/live/hook/base.ex
  core/lib/core_web/live/hook/locale.ex
  core/lib/core_web/live/hook/menus.ex
  core/lib/core_web/live/hook/model.ex
  core/lib/core_web/live/hook/remote_ip.ex
  core/lib/core_web/live/hook/tabbed.ex
  core/lib/core_web/live/hook/timezone.ex
  core/lib/core_web/live/hook/uri.ex
  core/lib/core_web/live/hook/user.ex
  core/lib/core_web/live/hook/viewport.ex
  core/systems/observatory/_live_hook.ex
  core/systems/project/_live_hook.ex
  core/test/systems/advert/content_page_test.exs
  core/test/systems/crew/_public_test.exs
  core/test/systems/graphite/_gen_test.exs
  core/test/systems/project/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Dockerfile in core is now up to date with software
  core/Dockerfile
Due: none

chore: run deps.get in dev stage
  Dockerfile
Due: none

chore: try to install deps in different way
  Dockerfile
Due: none

fix: reorder commands in Dockerfile for proper dependency installation
  Dockerfile
Due: none

fix: ensure PostgreSQL data directory is created and owned by postgres
  Dockerfile-postgres
  docker-compose.yml
Due: none

chore: add asset installation and building steps in dev stage
  Dockerfile
Due: none

fix: reorder asset installation and dependency fetching in Dockerfile
  Dockerfile
Due: none

fix: update base_url configuration to use environment variable
  core/config/dev.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

update
  .github/workflows/elixir_dependabot.yml
Due: none
