Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

deploy: a769f333e028961350207bba4e58b2a4b32e339c
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

deploy: 68af85b6fd054337caf3721df3cff3dee9dceb2b
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

Update eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
Due: none

Update eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
Due: none

Update eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
Due: none

Update eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
Due: none

Update eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
Due: none

Update eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
Due: none

Update eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Update eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Update eyra-next.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-next.po
Due: none

Update eyra-next.po
  core/priv/gettext/en/LC_MESSAGES/eyra-next.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

#868 Round trip questionnaire lands on about page
  core/systems/account/_public.ex
  core/systems/alliance/callback_page.ex
  core/systems/assignment/_director.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/controller.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/assignment/onboarding_view.ex
  core/systems/crew/_public.ex
  core/test/systems/crew/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fixed test
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

rollback: #813 Bump pdfjs-dist from 3.11.174 to 4.2.67
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Remove questionnaire as default item in Panl study workflow
  core/systems/assignment/template_questionnaire.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed: bug with panel selector
  core/systems/assignment/connector_popup_panel.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 1a8b760ee52da77fdb9205c4473625708c6d7a9a
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

Added: context menu missing gettext translations
  core/lib/core_web/cldr.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/crew_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Changed UI of SURFconext button
  core/assets/tailwind.config.js
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/static/images/surfconext.svg
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#858 Storage project card
  CHANGELOG.md
  core/bundles/next/config/config.exs
  core/frameworks/utility/assets.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/priv/repo/migrations/20240614103514_add_storage_project_item.exs
  core/priv/static/images/icons/yoda.svg
  core/priv/static/images/icons/yoda_wide.svg
  core/systems/assignment/_switch.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/model.ex
  core/systems/assignment/settings_view.ex
  core/systems/assignment/storage_view.ex
  core/systems/project/_assembly.ex
  core/systems/project/_public.ex
  core/systems/project/_queries.ex
  core/systems/project/item_model.ex
  core/systems/routes.ex
  core/systems/storage/_assembly.ex
  core/systems/storage/_public.ex
  core/systems/storage/_routes.ex
  core/systems/storage/built_in/endpoint_model.ex
  core/systems/storage/content_page.ex
  core/systems/storage/endpoint_model.ex
  core/test/systems/project/_assembly_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#880 [Storage] CMS: Files table
  CHANGELOG.md
  core/frameworks/pixel/components/navigation.ex
  core/frameworks/pixel/components/table.ex
  core/frameworks/pixel/components/text.ex
  core/lib/core/authorization.ex
  core/lib/core_web/ui/timestamp.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/en/LC_MESSAGES/eyra-storage.po
  core/priv/gettext/eyra-storage.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-storage.po
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/graphite/leaderboard_score_html.ex
  core/systems/graphite/leaderboard_table_view.ex
  core/systems/project/_public.ex
  core/systems/storage/_presenter.ex
  core/systems/storage/_private.ex
  core/systems/storage/_public.ex
  core/systems/storage/_routes.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/backend.ex
  core/systems/storage/built_in/backend.ex
  core/systems/storage/built_in/local_fs.ex
  core/systems/storage/built_in/s3.ex
  core/systems/storage/built_in/special.ex
  core/systems/storage/centerdata/backend.ex
  core/systems/storage/delivery.ex
  core/systems/storage/endpoint_content_page.ex
  core/systems/storage/endpoint_content_page_builder.ex
  core/systems/storage/endpoint_data_view.ex
  core/systems/storage/endpoint_form.ex
  core/systems/storage/endpoint_model.ex
  core/systems/storage/endpoint_monitor_view.ex
  core/systems/storage/endpoint_settings_view.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/html.ex
  core/systems/storage/yoda/backend.ex
  core/test/systems/storage/builtin/backend_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Update eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
Due: none

Update eyra-consent.po
  core/priv/gettext/en/LC_MESSAGES/eyra-consent.po
Due: none

Update eyra-consent.po
  core/priv/gettext/de/LC_MESSAGES/eyra-consent.po
Due: none

Update eyra-consent.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-consent.po
Due: none
