Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

feat: release using docker seems to be working
  .github/workflows/release-debian.yml
Due: none

chore: add temp trigger to test workflow
  .github/workflows/release-debian.yml
Due: none

Add fixed list of categories for TIAB screening
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/onyx/categories.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: use next as default bundle on push
  .github/workflows/release-debian.yml
Due: none

fix: use correct syntax to set VERSION env
  .github/workflows/release-debian.yml
Due: none

fix: change TAG setup
  .github/workflows/release-debian.yml
Due: none

feat: local CA and forced ssl verification
  core/config/dev.exs
  docker-compose.yml
  postgres_ssl/.gitignore
  postgres_ssl/generate.sh
  postgres_ssl/san_config.cnf
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: add env variables for production env SSL enforcement
  core/config/runtime.exs
  docker-compose.yml
  postgres_ssl/generate.sh
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix: use dynamic verification mode
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Upgraded all deps with build warnings due to Elixir/Phoenix upgrade
  core/mix.exs
  core/mix.lock
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Formatted code
  core/mix.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Bump erlang/elixir versions
  .github/workflows/test.yml
Due: none

Formatted code
  core/systems/content/text_bundle_model.ex
  core/test/core/web_push_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Updated deps in banking_proxy
  banking_proxy/mix.lock
Due: none

Made debian release workflow the default
  .github/workflows/release-debian.yml
  .github/workflows/release-deprecated.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Release on push to release/*
  .github/workflows/release.yml
Due: none

Added support for sending logging to AppSignal
  CHANGELOG.md
  core/lib/core/application.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed LoggerJSON initialization error on prod
  core/config/prod.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

feat: use correct branch name
  .devcontainer/devcontainer.json
  core/priv/gettext/en/LC_MESSAGES/eyra-projects.po
  core/systems/project/node_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: ci changes
  core/systems/project/_assembly.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: remove redundant code
  core/systems/project/node_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fixed: Monitor tab is shown twice in data donation #1022
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
Due: none

#1030 Window goes partially blank when resizing on Workflow tab
  core/assets/js/app.js
  core/assets/js/live_content.js
  core/assets/js/tabbar.js
  core/assets/js/tabbed.js
  core/assets/js/viewport.js
  core/bundles/next/lib/account/signin_page.ex
  core/frameworks/pixel/components/tabbed.ex
  core/lib/core_web.ex
  core/lib/core_web/controllers/layouts/workspace/composer.ex
  core/lib/core_web/live/feature/tabbed.ex
  core/lib/core_web/live/hook/tabbed.ex
  core/systems/content/html.ex
  core/systems/pool/detail_page.ex
  core/test/systems/advert/content_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#1032 Alignment of Participant Researcher buttons not centered
  core/frameworks/pixel/components/tabbed.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

#1030 & #1035 - fixed scroll-to-top and hidden tab content
  core/assets/js/app.js
  core/assets/js/main_content.js
  core/assets/js/side_panel.js
  core/assets/js/tabbed.js
  core/frameworks/pixel/components/tabbed.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Release 7
  CHANGELOG.md
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Fixed docs
  .github/workflows/docs.yml
Due: none

feat: ask for confirmation when removing yourself from project
  core/frameworks/pixel/components/user_list_item.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/systems/account/people_view.ex
  core/systems/admin/account_view.ex
  core/systems/project/overview_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: 128485e13f958cac6a37e52f025471f1430fbedb
  banking_proxy/.build
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  banking_proxy/dist/search_data-4655A5AF.js
  banking_proxy/dist/search_data-47A92102.js
  banking_proxy/search.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Account.Public.html
  core/Systems.Advert.Public.html
  core/core.epub
Due: none

chore: apply review notes, add create storage option for existing projects
  core/priv/gettext/de/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/project/_assembly.ex
  core/systems/project/_public.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/node_page_empty_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: remove faulty classes remnant
  core/systems/project/node_page_empty_data_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Changelog update
  CHANGELOG.md
Due: none
