Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

deploy: d1b58d2f101af8de6b26d56e1ca1de20f1629487
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

feat: implement next privacy policy acceptance in signup process
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
  core/test/core_web/live/user/signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Revert debian version back to 12
  Dockerfile
Due: none

feat: enhance privacy policy acceptance with clickable links and raw HTML support
  core/frameworks/pixel/components/selector.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/systems/account/user_form.ex
  core/test/frameworks/pixel/selector_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: restore older tests that got lost
  core/test/frameworks/pixel/selector_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Fixed some merge issues
  core/frameworks/pixel/components/file_selector.ex
  core/systems/assignment/privacy_form.ex
  core/systems/document/tool_form.ex
  core/systems/feldspar/tool_form.ex
  core/systems/graphite/leaderboard_scores_form.ex
  core/systems/graphite/tool_form.ex
  core/systems/instruction/download_form.ex
  core/systems/zircon/screening/import_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

High CPU usage when viewing PDF
  core/systems/document/pdf_nav_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Increasing HTML element numbers hampers end-to-end testing
  core/systems/workflow/builder_view.ex
  core/systems/workflow/item_cell.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Unable to delete projects - Next Platform
  core/frameworks/pixel/components/button_action.ex
  core/systems/project/overview_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Project bread crumbs do not respond to click
  core/frameworks/pixel/components/button_action.ex
  core/lib/core_web/ui/dialog/plain.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Bumped pre-commit version
  .pre-commit-config.yaml
Due: none

Formatted code
  core/lib/core_web/ui/dialog/plain.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: d5ec3170fe0b348b77c807e4f7b683596ce62037
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Updated changelog 17.1
  CHANGELOG.md
Due: none

deploy: 2e5c8d56ef5543b552a2ae73fde43a3c9e1d4d88
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Fixed merge issue
  core/frameworks/pixel/components/button_action.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Settings page Go To Workflow button does not respond
  core/frameworks/pixel/components/tabbed.ex
  core/systems/content/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Unable to decline Participant data donation
  core/systems/assignment/crew_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Incorrect pop-over shown when clicking on i-items
  core/systems/assignment/crew_task_list_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

PDF file not displayed
  core/assets/js/pdf_viewer.js
Due: none

deploy: 141f9c7a710accc3f367cd38073d45f314d8c41d
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Updated changelog
  CHANGELOG.md
Due: none

deploy: e5f4a398a615cf37d04f3ebb5a9a6ad68c9cde5a
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

feature: hide panl tab for non-panl-participants
  core/systems/account/features_tab.ex
  core/systems/account/profile_tab.ex
  core/systems/account/user_profile_page_builder.ex
  core/systems/account/user_profile_tab.ex
  core/systems/home/page_builder.ex
  core/systems/pool/_public.ex
  core/test/systems/account/user_profile_page_builder_test.exs
  core/test/systems/pool/_public_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

ci: fix type definition
  core/systems/account/user_profile_tab.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

update pr template
  .github/pull_request_template.md
Due: none

feat: display the new :ro and :lt languages in lang selector
  core/priv/gettext/de/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/es/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/assignment/languages.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Remove comments and set open-pull-requests-limit to 0
  .github/dependabot.yml
Due: none

fix: unsplash-image-picker-modal-sizing
  core/systems/assignment/branding_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix: make sure validation is working correctly
  core/systems/account/signup_page.ex
  core/systems/account/user_form.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: automatically use browser detection flow on landing page when criteria met
  core/lib/core_web/plug/accept_language.ex
  core/lib/core_web/routes.ex
  core/systems/home/page_builder.ex
  core/systems/localization/readme.md
  core/systems/localization/resolvers/browser_detection.ex
  core/systems/localization/resolvers/landing_page.ex
  core/test/lib/core_web/plug/accept_language_test.exs
  core/test/systems/localization/browser_test.exs
  core/test/systems/localization/landing_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: implement locale resolution for signup/signin flows and add tests
  core/bundles/next/lib/account/signin_page.ex
  core/bundles/self/lib/account/signin_page.ex
  core/systems/account/signup_page.ex
  core/systems/home/page_builder.ex
  core/systems/localization/resolvers/landing_page.ex
  core/systems/localization/resolvers/signup_signin.ex
  core/test/systems/localization/signup_signin_test.exs
  core/test/systems/pool/panl_signup_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: first part of assignment translation for participants
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/localization/resolvers/assignment_language_enforced.ex
  core/test/systems/localization/assignment_page_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

feat: update locale handling in signup and confirmation flows, add assignment query for manuals
  .gitignore
  core/systems/account/await_confirmation.ex
  core/systems/account/signup_page.ex
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/manual/_public.ex
  core/systems/manual/_queries.ex
  core/systems/manual/builder/public_page.ex
  docker-compose.yml
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
