Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

mix-format:
  name: 'elixir: mix format'
  entry: mix format
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: make compile
  language: system
  pass_filenames: false

mix-test:
  name: 'elixir: mix test'
  entry: make test
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: make credo
  language: system
  pass_filenames: false

mix-dialyzer:
  name: 'elixir: mix dialyzer'
  entry: make dialyzer
  language: system
  pass_filenames: false

Custom text end of workflow screen for panel integration
  core/lib/core_web/endpoint.ex
  core/mix.exs
  core/mix.lock
  core/priv/gettext/de/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/eyra-affiliate.pot
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20251216124054_add_platform_name_to_affiliate.exs
  core/systems/affiliate/_public.ex
  core/systems/affiliate/form.ex
  core/systems/affiliate/model.ex
  core/systems/assignment/finished_view_builder.ex
  core/test/systems/assignment/factories.ex
  core/test/systems/assignment/finished_view_builder_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

UI and text finetuning
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-workflow.po
  core/systems/assignment/crew_task_list_view.ex
  core/systems/assignment/crew_task_list_view_builder.ex
  core/systems/assignment/html.ex
  core/systems/workflow/work_list_view.ex
  core/test/systems/assignment/crew_task_list_view_builder_test.exs
  core/test/systems/assignment/crew_task_list_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Participant task list shows vertical bar in all browsers on MacOS
  core/systems/assignment/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Removed redundant scrollbar from participant tasklist
  core/systems/assignment/html.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Finetuning of font weight by Neo
  core/assets/tailwind.config.js
Due: none

[Port] i-button items do not show on click - Next Platform
  core/systems/assignment/crew_work_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Data donation popup does not show logo of service
  core/systems/feldspar/tool_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Data donation popup does not show logo of service
  core/systems/feldspar/tool_view.ex
  core/systems/feldspar/tool_view_builder.ex
  core/test/systems/feldspar/tool_view_builder_test.exs
  core/test/systems/feldspar/tool_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

[Port] Browser session is in corrupt state which prevents logon
  core/assets/js/app.js
  core/assets/js/user_state.js
Due: none

[Port] Privacy PDF shown via i-button dissapears
  core/assets/js/pdf_viewer.js
  core/systems/document/pdf_view.ex
  core/systems/document/tool_view.ex
  core/systems/document/tool_view_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Layout of user profile contains a lot of white space
  core/systems/account/user_profile_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Improve participant copy and translations for panel integration workflow
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/de/LC_MESSAGES/eyra-workflow.po
  core/priv/gettext/en/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-workflow.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-workflow.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-workflow.po
Due: none

[Port] Headers and buttons not switching to selected language
  core/lib/core_web.ex
  core/lib/core_web/live/hook/language.ex
  core/systems/assignment/crew_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Preview mode does not redirect to integration
  core/systems/affiliate/_public.ex
  core/systems/affiliate/controller.ex
  core/systems/assignment/finished_view_builder.ex
  core/test/systems/assignment/finished_view_builder_test.exs
  core/test/systems/assignment/finished_view_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Added Romanian and Lithuanian translations
  core/priv/gettext/lt/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-document.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-home.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-document.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-home.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-manual.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-pixel.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-ui.po
Due: none

Update .gitignore
  .gitignore
Due: none

Copy adjustments data donation flow
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/de/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
Due: none

[Port] Preview mode does not redirect to integration
  core/systems/affiliate/controller.ex
  core/systems/assignment/_private.ex
  core/systems/assignment/_routes.ex
  core/systems/assignment/controller.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Adjusted questionnaire copy
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
Due: none

deploy: f6a13c53626ae1baa919ead07337c5dd3ffe5acd
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Integrate @novasoftwarefoundation/prism UI framework
  core/PRISM_HANDOVER.md
  core/assets/css/app.css
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/alert-banner.ex
  core/frameworks/pixel/components/button_face.ex
  core/frameworks/pixel/components/number_icon.ex
  core/frameworks/pixel/components/spinner.ex
  core/frameworks/pixel/components/tag.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

deploy: e5f4a398a615cf37d04f3ebb5a9a6ad68c9cde5a
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

deploy: 0b032344d1162d04ca9d2daeefde999b074e0d90
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

Update changelog for milestone 19 release
  CHANGELOG.md
Due: none

deploy: 3711dc6afc33ba0104a873c9010b52969ae82a50
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
Due: none

refactor: remove duplicated Tailwind config now provided by Prism preset
  core/assets/tailwind.config.js
Due: none

Add RO and LT translations for end-of-workflow screens
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-workflow.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-affiliate.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-feldspar.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-workflow.po
Due: none

Fix credo warning: avoid negated condition in if-else
  core/systems/admin/config_page.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Extract duplicate confirm_row logic to PeopleHelpers module
  core/systems/account/people_editor_component.ex
  core/systems/account/people_helpers.ex
  core/systems/account/people_view.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Fix selector event handling and account switch test
  core/frameworks/pixel/components/selector.ex
  core/test/systems/account/_switch_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add changelog entries for milestone 20
  CHANGELOG.md
Due: none

Refactor data donation storage to fix memory spikes
  core/config/dev.exs
  core/config/runtime.exs
  core/priv/repo/migrations/20260116094727_add_storage_pending_blobs.exs
  core/systems/storage/_public.ex
  core/systems/storage/blob_cleanup_worker.ex
  core/systems/storage/delivery.ex
  core/systems/storage/pending_blob_model.ex
  core/test/systems/storage/blob_cleanup_worker_test.exs
  core/test/systems/storage/delivery_test.exs
  core/test/systems/storage/pending_blob_model_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add documentation for blob_cleanup Oban plugin
  .github/workflows/claude-review.yml
  core/config/runtime.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

Update live_nest to fix infinite event loop and add donate handler
  .claude/commands/review-pr.md
  .claude/settings.json
  .devcontainer/docker-compose.yml
  core/mix.exs
  core/mix.lock
  core/priv/repo/migrations/20210318142906_extend_study_survey_tool_data.exs
  core/priv/repo/migrations/20210607120324_port_demo.exs
  core/priv/repo/migrations/20210620092414_create_data_donation_user_data.exs
  core/priv/repo/migrations/20210630111238_split_survey_promotion.exs
  core/priv/repo/migrations/20211013173025_alter_submission.exs
  core/priv/repo/migrations/20211018190850_add_crew.exs
  core/priv/repo/migrations/20211027143010_refactor_campaign_part_2.exs
  core/priv/repo/migrations/20211028135222_refactor_campaign_part_3.exs
  core/priv/repo/migrations/20211122154313_refactor_next_actions.exs
  core/priv/repo/migrations/20211129140342_add_experiment_part_1.exs
  core/priv/repo/migrations/20211129140343_add_experiment_part_2.exs
  core/priv/repo/migrations/20211129140344_add_experiment_part_3.exs
  core/priv/repo/migrations/20211208210633_fix_web_push_subscriptions.exs
  core/priv/repo/migrations/20211211165957_remove_content_node_null_constraint.exs
  core/priv/repo/migrations/20220125195324_migrate_survey_tool.exs
  core/priv/repo/migrations/20220224192939_add_assignment_exclude.exs
  core/priv/repo/migrations/20220321151337_rename_student_pool.exs
  core/priv/repo/migrations/20220503160355_create_oban_peers.exs
  core/priv/repo/migrations/20220602205921_update_pool_submission_data.exs
  core/priv/repo/migrations/20220719093359_refactor_pools_part_1.exs
  core/priv/repo/migrations/20220721135702_refactor_pools_part_2.exs
  core/priv/repo/migrations/20220829230543_refactor_pools_part_3.exs
  core/priv/repo/migrations/20220902114102_refactor_pools_part_4.exs
  core/priv/repo/migrations/20231015122507_add_consent.exs
  core/priv/repo/migrations/20231025125051_add_storage.exs
  core/priv/repo/migrations/20240326101333_add_instruction_tool.exs
  core/priv/repo/migrations/20250605120000_add_prerequisites_to_promotions.exs
  core/scripts/build-frontend
  core/systems/assignment/crew_page.ex
  core/systems/email/email/account_confirmation_instructions.html.eex
  core/test/frameworks/live_nest/infinite_loop_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Refactor storage job data with status-based lifecycle
  core/config/dev.exs
  core/config/runtime.exs
  core/priv/repo/migrations/20260116170131_refactor_storage_job_data.exs
  core/priv/repo/migrations/20260116170941_add_description_to_storage_job_data.exs
  core/systems/storage/_public.ex
  core/systems/storage/aws/backend.ex
  core/systems/storage/azure/backend.ex
  core/systems/storage/backend.ex
  core/systems/storage/blob_cleanup_worker.ex
  core/systems/storage/builtin/backend.ex
  core/systems/storage/delivery.ex
  core/systems/storage/fake_backend.ex
  core/systems/storage/job_data_cleanup_worker.ex
  core/systems/storage/job_data_model.ex
  core/systems/storage/pending_blob_model.ex
  core/systems/storage/yoda/backend.ex
  core/test/systems/storage/aws/backend_test.exs
  core/test/systems/storage/azure/backend_test.exs
  core/test/systems/storage/blob_cleanup_worker_test.exs
  core/test/systems/storage/builtin/backend_test.exs
  core/test/systems/storage/delivery_test.exs
  core/test/systems/storage/job_data_cleanup_worker_test.exs
  core/test/systems/storage/job_data_model_test.exs
  core/test/systems/storage/pending_blob_model_test.exs
  core/test/systems/storage/yoda/backend_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Add MCP config for flux prod environment
  .mcp.json
Due: none

Path conditions:
  mix-format: any of: \.exs?$
  mix-compile: any of: \.ex$
  mix-test: any of: \.exs?$
  mix-credo: any of: \.exs*$
  mix-dialyzer: any of: \.exs?$
