Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
        exclude: "core/assets/static/landing_page/img/uu.svg"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types_or: [css, javascript]
  - repo: local
    hooks:
      - id: mix-format
        name: "elixir: mix format"
        entry: mix format
        language: system
        files: \.exs?$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: make compile
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-test
        name: "elixir: mix test"
        entry: make test
        language: system
        pass_filenames: false
        files: \.exs?$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: make credo
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-dialyzer
        name: "elixir: mix dialyzer"
        entry: make dialyzer
        language: system
        pass_filenames: false
        files: \.exs?$

docs(architecture): refocus briefing on Arnoud's view
  core/docs/architecture/oauth-mobile-centerdata/README.md
Due: none

docs(architecture): add TL;DR for Arnoud at top of briefing
  core/docs/architecture/oauth-mobile-centerdata/README.md
Due: none

docs(architecture): rename TL;DR section to "What Centerdata needs to build"
  core/docs/architecture/oauth-mobile-centerdata/README.md
Due: none

docs(architecture): rename README.md → design-briefing.md
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): trim out-of-scope list
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): redesign provisioning API surface
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): use "Next" for software, reserve "Eyra" for the company
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): replace provisioning REST API with CSV import
  core/docs/architecture/oauth-mobile-centerdata/csv-import.md
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
  core/docs/architecture/oauth-mobile-centerdata/structurizr-Context.png
  core/docs/architecture/oauth-mobile-centerdata/structurizr-Provisioning.png
  core/docs/architecture/oauth-mobile-centerdata/workspace.dsl
Due: none

docs(architecture): rename csv-import.md → design-details.md
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
  core/docs/architecture/oauth-mobile-centerdata/design-details.md
Due: none

docs(architecture): drop design-details.md links from briefing
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): document the Quest task setup step in §7.2
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): add Setup sequence section after the TL;DR
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): simplify "One-time, per partnership" → "One time"
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): drop overstated "Alternatives considered" promise from §1
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): strip remaining "provisioning" mentions
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
  core/docs/architecture/oauth-mobile-centerdata/diagrams.md
  core/docs/architecture/oauth-mobile-centerdata/structurizr-Context.png
  core/docs/architecture/oauth-mobile-centerdata/structurizr-QuestionnaireLaunch.png
  core/docs/architecture/oauth-mobile-centerdata/structurizr-SignIn.png
  core/docs/architecture/oauth-mobile-centerdata/workspace.dsl
Due: none

docs(architecture): drop "(web browser or mobile WebView)" from §6.2
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): use "embedded web browser" instead of iOS/Android API names
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): rename §6.5 to "No separate mobile contract"
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

docs(architecture): drop §8 Q7 "Per-pool client identities"
  core/docs/architecture/oauth-mobile-centerdata/design-briefing.md
Due: none

Merge pull request #1552 from eyra/fix/affiliate-reject-null-undefined
  core/systems/affiliate/controller.ex
  core/test/systems/affiliate/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

Merge pull request #1560 from eyra/fix/error-page-translations
  core/priv/gettext/de/LC_MESSAGES/eyra-error.po
  core/priv/gettext/es/LC_MESSAGES/eyra-error.po
  core/priv/gettext/it/LC_MESSAGES/eyra-error.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-error.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-error.po
Due: none

fix(e2e): deterministic card selection in approve_reward spec
  core/test/e2e/approve_reward.spec.ts
Due: none

fix(e2e): deterministic card selection in fund_assignment spec
  core/test/e2e/approve_reward.spec.ts
  core/test/e2e/fund_assignment.spec.ts
  core/test/e2e/lib/cards.ts
  core/test/e2e/lib/index.ts
Due: none

feat: add reconciliation worker
  core/config/dev.exs
  core/config/runtime.aws.exs
  core/config/runtime.fly.exs
  core/systems/budget/_public.ex
  core/systems/budget/transaction_reconciliation.ex
  core/systems/fund/_public.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/controller.ex
  core/systems/payment/provider/opp.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/budget/reconcile_transactions_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
  core/test/systems/payment/controller_test.exs
  core/test/systems/payment/opp_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs: update CHANGELOG for milestone 25.1
  CHANGELOG.md
Due: none

fix(reconciliation): rescue per-item failures, honest tally, single perform
  core/systems/budget/_public.ex
  core/systems/budget/transaction_reconciliation.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/budget/reconcile_transactions_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs(reconciliation): de-OPP the comments — code goes through the swappable provider
  core/systems/budget/_public.ex
  core/systems/budget/transaction_reconciliation.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

docs(reconciliation): drop inline comments and SF-OPP/OPP refs from docstrings
  core/systems/budget/transaction_reconciliation.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore(reconciliation): drop OPP/SF-OPP refs from cron comment and delegate doc
  core/config/dev.exs
  core/systems/fund/_public.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

chore: move per-repo slash commands to ~/.claude/commands/
  .claude/commands/ey-announce-release.md
  .claude/commands/ey-commit.md
  .claude/commands/ey-deploy-test.md
  .claude/commands/ey-finalize.md
  .claude/commands/ey-release.md
  .claude/commands/review-pr.md
Due: none

feat: add budget capacity
  core/priv/gettext/de/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/de/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/en/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/en/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/es/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/es/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/eyra-advert.pot
  core/priv/gettext/eyra-alliance.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/it/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-alliance.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-advert.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-alliance.po
  core/systems/advert/builders/highlight.ex
  core/systems/advert/promotion_landing_page_builder.ex
  core/systems/assignment/_public.ex
  core/systems/assignment/controller.ex
  core/systems/promotion/landing_page.ex
  core/test/systems/advert/promotion_landing_page_builder_test.exs
  core/test/systems/assignment/_public_test.exs
  core/test/systems/assignment/controller_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(tests): root causes of Wallaby sign_in flakiness
  core/config/test.exs
  core/test/CLAUDE.md
  core/test/e2e/CLAUDE.md
  core/test/features/CLAUDE.md
  core/test/features/onboarding_test.exs
  core/test/support/feature_case.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(surfconext): set confirmed_at instead of verified_at on signup
  core/lib/core/surfconext.ex
  core/test/core/surfconext/plug_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(tests): mark Manual.ViewBuilderTest async to avoid sandbox race
  core/test/systems/manual/view_builder_test.exs
Due: mix-format, mix-test, mix-credo, mix-dialyzer

fix(support): close-ticket button border + nil profile handling
  core/systems/support/overview_tab.ex
  core/systems/support/ticket_page_builder.ex
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(e2e): add Request Payout smoke spec (UC-OPP-06)
  core/frameworks/pixel/components/confirmation_modal.ex
  core/test/e2e/request_payout.spec.ts
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

fix(account): handle generate_otp rate-limit instead of stranding the user
  core/bundles/next/lib/account/auth_page.ex
  core/priv/gettext/de/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/es/LC_MESSAGES/eyra-account.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/it/LC_MESSAGES/eyra-account.po
  core/priv/gettext/lt/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/ro/LC_MESSAGES/eyra-account.po
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer

test(e2e): apply wait-on-destination policy to request_payout spec
  core/test/e2e/request_payout.spec.ts
Due: none

test(e2e): drop all waitForTimeout in request_payout — poll on observable state
  core/test/e2e/request_payout.spec.ts
Due: none

feat: add reconciliation model
  core/config/config.exs
  core/config/test.exs
  core/lib/core/appsignal/telemetry_handler.ex
  core/lib/core/factories.ex
  core/priv/repo/migrations/20260616100000_create_reconciliation_tables.exs
  core/systems/budget/_public.ex
  core/systems/budget/transaction_reconciliation.ex
  core/systems/fund/_public.ex
  core/systems/fund/payout_reconciliation.ex
  core/systems/payment/_public.ex
  core/systems/payment/reconciliation.ex
  core/systems/payment/reconciliation_finding_model.ex
  core/systems/payment/reconciliation_run_model.ex
  core/systems/payment/reconciliation_state.ex
  core/systems/payment/reconciliation_summary.ex
  core/systems/payment/reconciliation_worker.ex
  core/test/systems/budget/reconcile_transactions_test.exs
  core/test/systems/fund/reconcile_payouts_test.exs
  core/test/systems/payment/reconciliation_worker_test.exs
Due: mix-format, mix-compile, mix-test, mix-credo, mix-dialyzer
